/* general reset */
body{
	margin:0;
	color:#7d7d7d;
	font:12px Tahoma, Arial, Helvetica, sans-serif;
	background:#f0f0f0;
}
img{border-style:none;}
a{
	color:#7d7d7d;
	text-decoration:underline;
}
a:hover{text-decoration:none;}
input{
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
}
form,fieldset{
	margin:0;
	padding:0;
	border-style:none;
}
/* wrapper */
#wrapper{
	width:962px;
	margin:0 auto;
	padding-top:199px;
	position:relative;
}
.container{
	width:100%;
	overflow:hidden;
}
/* logo */
.logo{
	position:absolute;
	top:36px;
	left:12px;
	width:275px;
	height:67px;
	text-indent:-9999px;
	overflow:hidden;
	margin:0;
}
.logo a{
	display:block;
	height:100%;
	cursor:pointer;
	background:url(../images/logo.png) no-repeat;
}
/* header */
#header{
	position:absolute;
	top:123px;
	left:0;
}
 .header-holder:after{
	content:"";
	display:block;
	clear:both;
}
.header-holder{
	width:932px;
	background: url(../images/bg-top-box.png) no-repeat;
	height:67px;
	padding:9px 14px 0 16px;
}
#header .logout{
	position:absolute;
	top:11px;
	right:13px;
	font-size:11px;
	font-weight:bold;
	color:#e8e8e8;
	text-decoration:none;
	z-index:100;
}
#header .logout:hover{
	text-decoration:underline;
}
/* navigation */
#nav{
	height:28px;
	list-style:none;
	margin:0 0 8px;
	padding:0;
	position:relative;
	z-index:5;
}
#nav:after{
	content:"";
	display:block;
	clear:both;
}
#nav li{
	float:left;
	position:relative;
}
#nav li a{
	float:left;
	cursor:pointer;
	text-decoration:none;
	font:bold 12px Arial, Helvetica, sans-serif;
}
#nav li a:hover{
	border:0;
}
#nav li a span{
	float:left;
	background: url(../images/bg-nav.gif) no-repeat;
	height:22px;
	color:#e8e8e8;
	overflow:hidden;
	padding:6px 3px 0 12px;
}
#nav li a em{
	width:15px;
	height:28px;
	float:left;
	background: url(../images/bg-nav.gif) no-repeat 100% 0;
	overflow:hidden;
}
#nav li a.home em{
	width:8px;
}
#nav li:hover span,
#nav li.hover span{
	background: url(../images/bg-nav.gif) no-repeat 0 -28px;
}
#nav li:hover em,
#nav li.hover em{
	background: url(../images/bg-nav.gif) no-repeat 100% -28px;
}
#nav li.active a span{
	background: url(../images/bg-nav.gif) no-repeat 0 -56px;
	color:#555;
}
#nav li.active a em{
	background: url(../images/bg-nav.gif) no-repeat 100% -56px;
}
#nav li .drop{
	position:absolute;
	top:28px;
	left:0;
	width:169px;
	overflow:hidden;
	display:none;
}
#nav li:hover .drop,
#nav li.hover .drop{
	display:block;
}
#nav li .drop .t,
#nav li .drop .b{
	display:block;
	height:5px;
	overflow:hidden;
	background: url(../images/bg-drop-t.png) no-repeat;
}
#nav li .drop .b{
	height:7px;
	background: url(../images/bg-drop-b.png) no-repeat;
}
#nav li ul{
	list-style:none;
	margin:0;
	padding:0 8px 5px 1px;
	width:160px;
	overflow:hidden;
	background: url(../images/bg-drop-c.png) repeat-y;
}
#nav li ul li{
	width:160px;
}
#nav li ul li hr.nav-sep{
  border:0;
  border-top: 1px dashed #7d7d7d;
  height: 0;
}
#nav li ul li a{
	color:#4b4b4b;
	font-weight:normal;
	padding:4px 12px 5px;
	display:block;
	float:none;
	position:relative;
}
#nav li ul li a:hover{
	background:#477298;
	color:#fff;
}
#header .head-bar{
	width:100%;
	position:relative;
	z-index:2;
}
#header .head-bar:after{
	content:"";
	display:block;
	clear:both;
}
/* heading */
#header .heading{
	float:left;
	padding:1px 0 0 4px;
}
#header .heading h2{
	float:left;
	font:bold 20px Arial, Helvetica, sans-serif;
	margin:0;
	z-index:2;
	color:#000;
}
#header .heading a{
	color:#4b4b4b;
	font:11px Tahoma, Arial, Helvetica, sans-serif;
	padding:7px 0 0 8px;
	float:left;
}
/* header search form */
.search-form{
	float:right;
}
.search-form fieldset{
	float:left;
}
.search-form .text{
	width:192px;
	border:solid #bfbfbf;
	border-width:1px 0;
	font-size:11px;
	line-height:14px;
	color:#797979;
	float:left;
	padding:2px 7px 0;
	height:18px;
	outline:none;
}
.search-form .btn-search{
	float:left;
}
.search-form .searchcategory{
	float:left;
	background: url(../images/bg-category-l.gif) no-repeat;
	position:relative;
	cursor:pointer;
}
.search-form .searchcategory strong{
	background: url(../images/bg-category-r.gif) no-repeat 100% 0;
	height:18px;
	padding:4px 19px 0 8px;
	font-size:11px;
	color:#535353;
	float:left;
}
.search-form .searchcategory ul{
	border:1px solid #aeaeae;
	list-style:none;
	margin:0;
	padding:0;
	position:absolute;
	top:22px;
	left:0;
	width:120px;
	display:none;
	overflow:hidden;
	background:#fff;
}
.search-form .open ul{
	display:block;
}
.search-form .searchcategory ul li{
	width:120px;
	float:left;
}
.search-form .searchcategory ul li a{
	color:#4b4b4b;
	font-weight:normal;
	padding:4px 12px 5px;
	display:block;
	position:relative;
	text-decoration:none;
}
.search-form .searchcategory ul li a:hover{
	background:#aaa;
	color:#fff;
}
/* sub navigation */
#header .subnav{
	list-style:none;
	margin:0;
	padding:4px 0 0;
	float:left;
}
#header .subnav li{
	float:left;
	margin:0 2px 0 0;
}
#header .subnav li a{
	float:left;
	background: url(../images/bg-subnav-l.gif) no-repeat;
	font-size:11px;
	font-weight:bold;
	color:#205b89;
	text-decoration:none;
	cursor:pointer;
}
#header .subnav li a:hover{
	background: url(../images/bg-subnav-l.gif) no-repeat 0 -27px;
}
#header .subnav li a span{
	float:left;
	background: url(../images/bg-subnav-r.gif) no-repeat 100% 0;
	height:20px;
	padding:7px 7px 0;
}
#header .subnav li a:hover span{
	background: url(../images/bg-subnav-r.gif) no-repeat 100% -27px;
}
#header .subnav li.active a,
#header .subnav li.active a:hover{
	background: url(../images/bg-subnav-l.gif) no-repeat 0 -54px;
}
#header .subnav li.active a span,
#header .subnav li.active a:hover span{
	background: url(../images/bg-subnav-r.gif) no-repeat 100% -54px;
	color:#323232;
}
/* main */
#main{
	background: url(../images/bg-main.png) repeat-y;
	height:1%;
	overflow:hidden;
	padding:0 0 0 15px;
}
.market-page #main{
	background: url(../images/bg-main-market.png) repeat-y;
}
/* content */
#content{
	float:left;
	width:631px;
	padding:17px 0 0 5px;
	position:relative;
}
.market-page #content{
	float:left;
	width:717px;
	padding:13px 0 0 7px;
	position:relative;
}
/* message box */
#content .message{
	border:solid #fc0;
	border-width:1px 0;
	background:#fffde4;
	font: 13px Arial, Helvetica, sans-serif;
	color:#000;
	padding:7px 11px 9px;
	margin-bottom:19px;
}
#content .message a{
	color:#205b89;
	font-weight:normal;
}
/* status box */
.share-form{
	overflow:hidden;
	background: url(../images/bg-share-form.gif) no-repeat;
	height:32px;
	padding: 0 0 0 11px;
	margin-bottom:18px;
}
.share-form .text{
	float:left;
	width:525px;
	background:none;
	border:0;
	font:12px/15px Tahoma, Arial, Helvetica, sans-serif;
	color:#858585;
	padding:8px 0 4px;
}
.share-form .btn-share{
	float:right;
}
/* posts box */
.posts-box{
	border-top:1px solid #d9d9d9;
	height:1%;
	padding:5px 0 0;
}
.posts-box:after{
	content:"";
	display:block;
	clear:both;
}
.posts-box .options{
	height:1%;
	overflow:hidden;
	padding:0 0 26px 4px;
}
/* filters list */
.posts-box .options .filters{
	float:left;
}
.posts-box .options .filters strong,
.heading-box .filters strong{
	float:left;
	font-size:11px;
	color:#a8a8a8;
	padding:4px 4px 0 0;
}
.posts-box .options .filters ul,
.heading-box .filters ul{
	float:left;
	list-style:none;
	margin:0;
	padding:0;
}
.posts-box .options .filters ul li,
.heading-box .filters ul li{
	float:left;
	padding-left:2px;
}
.posts-box .options .filters ul li a,
.heading-box .filters ul li a{
	color:#205b89;
	float:left;
	font-size:11px;
	cursor:pointer;
	position:relative;
}
.posts-box .options .filters ul li a span,
.heading-box .filters ul li a span{
	float:left;
}
.posts-box .options .filters ul li a em,
.heading-box .filters ul li a em{
	float:left;
	font-style:normal;
	height:21px;
	padding:4px 8px 0;
	text-decoration:underline;
}
.posts-box .options .filters ul li.active a,
.heading-box .filters ul li.active a{
	color:#fff;
	font-weight:bold;
	background: url(../images/bg-filters-c.gif) no-repeat 50% 0;
	text-decoration:none;
}
.posts-box .options .filters ul li.active a em,
.heading-box .filters ul li.active a em,
.posts-box .options .filters ul li a:hover em,
.heading-box .filters ul li a:hover em{
	text-decoration:none;
}
.posts-box .options .filters ul li.active a span,
.heading-box .filters ul li.active a span{
	background: url(../images/bg-filters-l.gif) no-repeat;
}
.posts-box .options .filters ul li.active a em,
.heading-box .filters ul li.active a em{
	background: url(../images/bg-filters-r.gif) no-repeat 100% 0;
}
/* view list */
.posts-box .options .view{
	float:right;
	list-style:none;
	margin:0;
	padding:1px 0 0;
}
.posts-box .options .view li{
	float:left;
	padding:0 3px 0 0;
}
.posts-box .options .view li a{
	display:block;
	width:20px;
	height:18px;
	overflow:hidden;
	text-indent:-9999px;
}
.posts-box .options .view li a.detail{
	background: url(../images/ico-54.jpg) no-repeat;
}
.posts-box .options .view li a.list{
	background: url(../images/ico-55.jpg) no-repeat;
}
/* posts list */
.posts-list{
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
}
.posts-list:after{
	content:"";
	display:block;
	clear:both;
}
.posts-list li{
	width:631px;
	margin:0 0 0 -5px;
	position:relative;	
	float:left;
	padding:0 0 8px 5px;
}
.posts-list li .holder{
	height:1%;
	border-bottom:1px solid #d9d9d9;
	padding-bottom:9px;
}
.posts-list li.last .holder{
	border:0;
}
.posts-list li .holder:after{
	content:"";
	display:block;
	clear:both;
}
.posts-list li .frame{
	padding:5px 5px 9px;
	height:1%;
	overflow:hidden;
	width:626px;
	margin:0 0 0 -5px;
	position:relative;
}
.posts-list li .frame:hover,
.posts-list li .frame-hover{
	background:#fffbc2;
}
.posts-list li .visual{
	float:left;
	width:46px;
}
.posts-list li.type2 .visual{
	width:64px;
	margin-top:3px;
}
* html .posts-list li .visual{
	margin-right:-3px;
}
.posts-list li .visual img{
	display:block;
	margin:1px auto;
}
.posts-list li.type2 .visual img{
	margin:1px;
}
.posts-list li .text{
	height:1%;
	overflow:hidden;
}
.posts-list li .text strong{
	font: bold 13px Arial, Helvetica, sans-serif;
	margin:0 0 3px;
	display:block;
}
.posts-list li .text strong a{
	color:#000;
}
.posts-list li.type2 .text strong a{
	color:#205b89;
	text-decoration:none;
}
.posts-list li.type2 .text strong a:hover{
	text-decoration:underline;
}
.posts-list li.type2 .text strong em{
	color:#828282;
	font: 11px Arial, Helvetica, sans-serif;
	padding-left:5px;
}
.posts-list li .text strong span{
	background:#a90000;
	color:#fff;
	text-transform:uppercase;
	font:9px Verdana, Arial, Helvetica, sans-serif;
	display:inline;
	padding:0 3px;
	margin:0 8px;
	border-bottom:1px solid #a90000;
}
.posts-list li .text p{
	margin:0 0 5px;
	line-height:18px;
}
.posts-list li .text .image{
	float:right;
	padding:4px;
	border:1px solid #c1c1c1;
	margin:5px 0 0 25px;
	background:#fff;
}
.posts-list li .text .image img{
	display:block;
}
.posts-list li.type2 .text p{
	margin:0 0 5px;
	line-height:18px;
	font-size:14px;
}
.posts-list li .text span{
	font-size:11px;
	color:#909090;
}
.posts-list li .text span a{
	color:#5c5c5c;
}
.posts-list li .text .photos{
	list-style:none;
	margin:0;
	padding:2px 0 6px;
	width:100%;
	overflow:hidden;
}
.posts-list li .text .photos li{
	float:left;
	width:auto;
	margin:0 10px 0 0;
	padding:0;
}
.posts-list li .text .photos li a{
	display:block;
	padding:4px;
	border:1px solid #c1c1c1;
	background:#fff;
}
.posts-list li .text .photos li a img{
	display:block;
}
.posts-list li .actions{
	list-style:none;
	margin:0;
	padding:0;
	font-size:11px;
	display:none;
}
.posts-list li .actions li{
	display:inline;
	margin:0 0 0 5px;
	padding:0 0 0 9px;
	float:none;
	width:auto;
	background: url(../images/bullet1.gif) no-repeat 0 7px;
}
.posts-list li .actions li a{
	color:#205b89;
}
.posts-list li .frame:hover .actions,
.posts-list li .frame-hover .actions{
	display:inline;
}
.more-stories{
	width:628px;
	height:26px;
	overflow:hidden;
	padding:12px 0 0;
	font-size:11px;
	font-weight:bold;
	color:#246eaa;
	text-align:center;
	display:block;
	background: url(../images/bg-more-stories.gif) no-repeat;
	position:relative;
	top:-3px;
	left: 2px;
}
/* sidebar */
#sidebar{
	width:296px;
	float:right;
	padding:0 6px 0 0;
	position:relative;
}
.market-page #sidebar{
	width:202px;
}
/* user box */
.user-box{
	height:1%;
	overflow:hidden;
	padding:21px 0 30px;
}
.user-box-type2{
	padding-top:17px;
	padding-bottom:32px;
}
.user-box .photo-box{
	float:left;
	width:116px;
	padding:0 17px;
	text-align:center;
}
.user-box-type2 .photo-box{
	padding:0 4px 0 17px;
}
.user-box .photo-box span{
	display:block;
	width:104px;
	height:93px;
	background:url(../images/bg-thumb.gif) no-repeat;
	overflow:hidden;
	padding:6px 0 2px 9px;
}
.user-box .photo-box span img{
	float:left;
}
.user-box .photo-box a{
	color:#2c6698;
	font-size:11px;
	text-decoration:none;
	padding:0 4px 0 0;
}
.user-box .photo-box a:hover{
	text-decoration:underline;
}
.user-box .info{
	float:left;
	width:135px;
}
.user-box .info span{
	font-size:11px;
	color:#adadad;
	display:block;
	margin-bottom:3px;
}
.user-box .info .name{
	color:#2e699b;
	text-decoration:none;
	font-weight:bold;
}
.user-box-type2 .info .name{
	color:#484848;
}
.user-box .info .name:hover{
	text-decoration:underline;
}
/* progress bar */
.user-box .info .progress{
	width:120px;
	height:11px;
	overflow:hidden;
	position:relative;
	background: url(../images/bg-progress.gif) no-repeat;
	margin:6px 0 2px;
}
.user-box .info .progress span{
	position:absolute;
	top:1px;
	left:1px;
	background: url(../images/bg-progress-bar.gif) no-repeat 100% 0;
	height:9px;
	overflow:hidden;
	margin:0;
	width:0%;
}
.user-box .info em{
	font-style:normal;
	color:#737373;
	font-size:11px;
}
.user-box .info em strong{
	color:#282828;
}
.user-box .info ul{
	list-style:none;
	margin:0;
	padding:3px 0 0;
}
.user-box-type2 .info ul{
	padding-top:6px;
	padding-bottom:3px;
}
.user-box .info ul li{
	line-height:15px;
	font-size:11px;
}
.user-box .info ul a{
	color:#2c6698;
	text-decoration:none;
}
.user-box .info ul a:hover{
	text-decoration:underline;
}
/* sidebar box */
#sidebar .box{
	width:100%;
	overflow:hidden;
	margin-bottom:7px;
}
#sidebar .box .heading{
	height:1%;
	overflow:hidden;
	padding:5px 19px;
	background:#e4e4e4;
}
#sidebar .box .heading h2{
	float:left;
	font-size:12px;
	color:#484848;
	margin:2px 0 0;
}
#sidebar .box .heading .edit{
	float:right;
	width:34px;
	height:17px;
	text-indent:-9999px;
	overflow:hidden;
	background: url(../images/btn-edit.gif) no-repeat;
}
#sidebar .box .heading .open-close{
	float:right;
	width:18px;
	height:17px;
	text-indent:-9999px;
	overflow:hidden;
	background: url(../images/btn-open-close.gif) no-repeat;
	margin:0 0 0 3px;
}
#sidebar .open .heading .open-close{
	background: url(../images/btn-open-close.gif) no-repeat 0 -17px;
}
#sidebar .box .box-content{
	display:none;
	padding:6px 19px;
	height:1%;
	overflow:hidden;
}
#sidebar .open .box-content{
	display:block;
}
#sidebar .open .box-content ul{
	list-style:none;
	margin:0;
	padding:0 0 7px;
	height:1%;
	overflow:hidden;
}
#sidebar .open .box-content ul li{
	float:left;
	width:100%;
	font-size:11px;
}
#sidebar .open .box-content ul li a{
	float:left;
	color:#296495;
	padding:2px 0 6px 23px;
	text-decoration:none;
}
#sidebar .open .box-content ul li a:hover{
	text-decoration:underline;
}
#sidebar .open .box-content ul li a.events{
	background: url(../images/ico-8.gif) no-repeat;
}
#sidebar .open .box-content ul li a.market{
	background: url(../images/ico-9.gif) no-repeat;
}
#sidebar .open .box-content ul.favourites li a{
	background: url(../images/ico-10.gif) no-repeat;
}
#sidebar .open .box-content ul.favourites{
	padding-bottom:7px;
}
#sidebar .add-link{
	margin-bottom:7px;
}
#sidebar .add-link a{
	background: url(../images/ico-11.gif) no-repeat;
	color:#276292;
	text-decoration:none;
	font-weight:bold;
	font-size:11px;
	padding:0 0 0 22px;
	float:left;
}
#sidebar .add-link a:hover{
	text-decoration:underline;
}
#sidebar .box .team-box-holder{
	padding-top:9px;
}
#sidebar .team-box{
	width:244px;
	border:1px solid #b4b4b4;
	background:#f0f0f0;
	margin:0 -5px;
	overflow:hidden;
	padding:10px 11px;
}
#sidebar .team-box h3{
	margin:0 0 4px;
	font-size:12px;
}
#sidebar .team-box h3 a{
	color:#717171;
}
#sidebar .team-box p{
	margin:0 0 9px;
	font-size:11px;
	color:#969696;
	line-height:14px;
}
#sidebar .box .team-box ul{
	width:246px;
	margin:0 -1px 0 0;
	padding:0;
}
#sidebar .box .team-box ul li{
	float:left;
	margin:0 3px 3px 0;
	width:auto;
}
#sidebar .box .team-box ul li a{
	padding:0;
}
#sidebar .team-box ul li img{
	display:block;
}
/* bredcrumbs */
.breadcrumbs{
	list-style:none;
	margin:0;
	padding:0;
	width:100%;
	overflow:hidden;
}
.breadcrumbs li{
	float:left;
	background: url(../images/bullet2.gif) no-repeat 0 7px;
	font:11px Arial, Helvetica, sans-serif;
	color:#474747;
	padding:1px 3px 0 9px;
	margin:0 5px 0 -5px;
}
.breadcrumbs li a{
	color:#205b89;
	text-decoration:none;
}
.breadcrumbs li a:hover{
	text-decoration:underline;
}
/* heading */
.heading-box{
	height:1%;
	overflow:hidden;
	padding:7px 0 4px 2px;
}
.heading-box h2{
	color:#000;
	margin:0;
	font:bold 20px Arial, Helvetica, sans-serif;
	float:left;
}
.heading-box .filters{
	float:right;
	padding-top:6px;
}
.heading-box .filters ul li a em{
	padding:4px 11px 0;
}
/* alphabet sorting */
.sorting{
	list-style:none;
	margin:0 0 6px;
	padding:0;
	border:1px solid #cee1e8;
	background:#ecf7fa;
	height:1%;
	overflow:hidden;
}
.sorting li{
	float:left;
	background: url(../images/bullet3.gif) no-repeat 0 12px;
	padding:0 0 0 2px;
}
.sorting li:first-child{
	background:none;
}
.sorting li a{
	text-decoration:none;
	color:#037499;
	text-transform:uppercase;
	font-size:10px;
	float:left;
	height:20px;
	overflow:hidden;
	font-weight:bold;
	padding:6px 6px 0;
	position:relative;
}
.sorting li.active a,
.sorting li.active a:hover{
	background:#d8e5e9;
	border:1px solid #c3d3d9;
	color:#030303;
	margin:-1px 0;
	text-decoration:none;
}
.sorting li a:hover{
	text-decoration:underline;
}
/* advanced search form */
.advanced-search{
	background:#efefef;
	border:1px solid #e2e2e2;
	height:1%;
	overflow:hidden;
	margin-bottom:15px;
}
.advanced-search .search-options{
	background: url(../images/bullet13.gif) no-repeat 16px 10px;
	float:left;
	padding:8px 10px 9px 29px;
	font-size:11px;
	color:#276292;
	text-decoration:none;
}
.advanced-search .search-options:hover{
	text-decoration:underline;
}
.advanced-search .search-w{
	float:right;
	width:515px;
	height:31px;
	background: url(../images/bg-advanced-search.gif) no-repeat;
}
.market-page .advanced-search .search-w{
	width:603px;
	background: url(../images/bg-advanced-search-long.gif) no-repeat;
}
.advanced-search .open-options .search-w{
	height:32px;
}
.advanced-search .search-w .text{
	float:left;
	width:427px;
	margin:9px 0 0 13px;
	background:none;
	font:italic 11px/14px Arial, Helvetica, sans-serif;
	color:#b9b9b9;
	border:0;
	padding:0;
}
.market-page .advanced-search .search-w .text{
	width:515px;
}
.advanced-search .search-w .btn-search{
	float:right;
	margin:3px 5px 0 0;
}
.advanced-search .checkboxes{
	margin:6px;
	background:#fff url(../images/border1.gif) no-repeat 375px 50%;
	display:none;
}
.advanced-search .open-options .checkboxes{
	display:block;
}
.advanced-search .checkboxes .columns{
	height:1%;
	overflow:hidden;
	padding:4px 10px 0;
}
.advanced-search .checkboxes .holder1{
	float:left;
	width:366px;
}
.advanced-search .checkboxes .holder2{
	float:left;
	width:240px;
	padding:0 0 0 12px;
	margin:0 -22px 0 0;
}
.advanced-search .checkboxes h3{
	font-size:11px;
	color:#090909;
	margin:0 0 6px 2px;
}
.advanced-search .checkboxes h3 a{
	text-decoration:none;
	color:#276292;
	font-size:10px;
	font-weight:bold;
}
.advanced-search .checkboxes h3 a:hover{
	text-decoration:underline;
}
.advanced-search .checkboxes .holder1 .column{
	float:left;
	width:122px;
}
.advanced-search .checkboxes .holder2 .column{
	float:left;
	width:115px;
}
.advanced-search .checkboxes .row{
	height:1%;
	overflow:hidden;
	padding-bottom:2px;
}
.advanced-search .checkboxes .row input{
	float:left;
	width:15px;
	height:15px;
	margin:0;
	padding:0;
}
.advanced-search .checkboxes .row label{
	float:left;
	color:#5b5b5b;
	font-size:11px;
	padding:1px 0 0 5px;
}
/* peoples list */
.people-box{
	height:1%;
}
.people-box .showing{
	font:12px Arial, Helvetica, sans-serif;
	color:#7f7f7f;
	display:block;
	border-bottom:1px solid #e6e6e6;
	padding-bottom:2px;
	margin-bottom:3px;
}
.people-box .showing strong{
	color:#424242;
}
.people-box ul{
	list-style:none;
	margin:0 0 8px -5px;
	padding:0;
	width:636px;
	overflow:hidden;
	position:relative;
}
.people-box ul li{
	padding:6px 0 5px 9px;
	width:626px;
	float:left;
}
.people-box ul li.hover,
.people-box ul li:hover{
	background:#fffbc2;
}
.people-box ul li .visual{
	float:left;
	margin:0 10px 0 0;
}
.people-box ul li .visual img{
	display:block;
}
.people-box ul li .main-info,
.people-box ul li .contact-info{
	float:left;
	width:170px;
	padding-top:2px;
}
.people-box ul li .main-info a{
	font:bold 13px Arial, Helvetica, sans-serif;
	color:#205b89;
	text-decoration:none;
}
.people-box ul li .main-info a:hover{
	text-decoration:underline;
}
.people-box ul li .main-info span{
	display:block;
	color:#828282;
	font:11px Arial, Helvetica, sans-serif;
	padding:2px 2px 0;
}
.people-box ul li .main-info span span{
	display:inline;
	padding:0;
}
.people-box ul li .contact-info{
	padding:0 0 0 41px;
	font-size:11px;
}
.people-box ul li .contact-info a,
.people-box ul li ul li a{
	color:#205b89;
	text-decoration:none;
}
.people-box ul li .contact-info a:hover,
.people-box ul li ul li a:hover{
	text-decoration:underline;
}
.people-box ul li ul li a.data-error-list{
  background: url(../images/ico-65.jpg) no-repeat 0 0;
}
.people-box ul li .contact-info span{
	display:block;
	color:#828282;
	font:11px Arial, Helvetica, sans-serif;
	padding:2px 2px 1px;
}
.people-box ul li ul{
	float:left;
	list-style:none;
	margin:0;
	padding:3px 0 0 34px;
	width:145px;
	display:none;
}
.people-box ul li:hover ul,
.people-box ul li.hover ul{
	display:block;
}
.people-box ul li ul li{
	width:100%;
	float:left;
	padding:0 0 3px;
}
.people-box ul li ul li a{
	float:left;
	padding:0 0 0 17px;
	font:11px Arial, Helvetica, sans-serif;
}
.people-box ul li ul li a.add-contact{
	background: url(../images/ico-12.gif) no-repeat;
}
.people-box ul li ul li a.follow{
	background: url(../images/ico-13.gif) no-repeat;
}
/* pagination */
.people-box .paging{
	background:#efefef;
	border-top:1px solid #d9d9d9;
	height:1%;
	overflow:hidden;
	padding-bottom:7px;
	margin-bottom:16px;
}
.people-box .paging ul{
	float:right;
	list-style:none;
	margin:0;
	padding:6px 7px 0 0;
	width:auto;
}
.people-box .paging ul li{
	padding:0;
	width:auto;
	margin:0 0 0 3px;
}
.people-box .paging ul li:hover,
.people-box .paging ul li.hover{
	background:none;
}
.people-box .paging ul li a{
	font-size:10px;
	padding:4px 6px 6px;
	background:#ecf7fa;
	border:1px solid #cee1e8;
	float:left;
	color:#205b89;
	font-weight:bold;
	text-decoration:none;
	min-width:10px;
	text-align:center;
}
* html .people-box .paging ul li a{
	width:10px;
}
.people-box .paging ul li strong,
.people-box .paging ul li a:hover{
	float:left;
	font-size:10px;
	padding:4px 6px 6px;
	background-color:#d8e5e9;
	border:1px solid #c3d3d9;
	color:#0e4d62;
	min-width:10px;
	text-align:center;
}
* html .people-box .paging ul li strong{
	width:10px;
}
.people-box .paging ul li.next a,
.people-box .paging ul li.prev a{
	text-indent:-9999px;
	padding:0;
	width:22px;
	height:22px;
	background:#ecf7fa url(../images/bullet5.gif) no-repeat 8px 8px;
}
.people-box .paging ul li.next a{
	background:#ecf7fa url(../images/bullet6.gif) no-repeat 7px 8px;
}
.people-box .paging ul li.next a:hover,
.people-box .paging ul li.prev a:hover{
	background-color:#d8e5e9;
	border:1px solid #c3d3d9;
	padding:0;
}
.people-box .paging ul li span{
	float:left;
	padding:10px 5px 0;
	font-size:10px;
}
.people-box .paging .showing{
	border:0;
	padding:10px 0 0 6px;
	float:left;
}
/* my groups list */
#sidebar .box-content ul.my-groups{
	padding:5px 10px 10px 0;
}
#sidebar .box-content ul.my-groups li a{
	color:#5b5b5b;
}
#sidebar .box-content ul.my-groups li a.group-name{
	background: url(../images/ico-14.gif) no-repeat 0 1px;
	padding-left:20px;
}
#sidebar .box-content ul.my-groups li a.number{
	float:right;
	text-decoration:underline;
}
#sidebar .box-content ul.my-groups li a.number:hover{
	text-decoration:none;
}
#sidebar .box-content ul.newcomers{
	padding:9px 0;
}
#sidebar .box-content ul.newcomers li{
	padding-bottom:12px;
}
#sidebar .box-content ul.newcomers li .visual{
	float:left;
	border:1px solid #d5d5d5;
	margin:2px 12px 0 0;
}
* html #sidebar .box-content ul.newcomers li .visual{
	margin-right:9px;
}
#sidebar .box-content ul.newcomers li .visual img{
	display:block;
}
#sidebar .box-content ul.newcomers li .text{
	height:1%;
	overflow:hidden;
}
#sidebar .box-content ul.newcomers li .name{
	font-size:13px;
	font-weight:bold;
	color:#000;
	text-decoration:none;
	padding:0;
	float:none;
}
#sidebar .box-content ul.newcomers li .name:hover{
	text-decoration:underline;
}
#sidebar .box-content ul.newcomers li span{
	display:block;
	color:#828282;
	font-size:11px;
	padding:2px 0 5px;
}
#sidebar .box-content ul.newcomers li ul{
	padding:0;
}
#sidebar .box-content ul.newcomers li ul li{
	float:left;
	background: url(../images/bullet7.gif) no-repeat 0 6px;
	width:auto;
	padding:0 6px 0 8px;
	margin:0 8px 0 -8px;
}
#sidebar .box-content ul.newcomers li ul li a{
	padding:0;
	float:none;
	color:#007298;
}
.heading-box .item-options{
	float:right;
	list-style:none;
	margin:0;
	padding:7px 0 0;
}
.heading-box .item-options li{
	float:left;
	margin-left:14px;
}
.heading-box .item-options li a.add-item,a.upload-file,
.heading-box .item-options li a.request{
	background: url(../images/ico-11.gif) no-repeat 0 2px;
	color:#276292;
	text-decoration:none;
	font-weight:bold;
	font-size:11px;
	padding:1px 0 3px 16px;
	float:left;
}
.heading-box .item-options li a.request{
	background: url(../images/ico-15.gif) no-repeat;
	padding-left:20px;
}
.heading-box .item-options li a:hover{
	text-decoration:underline;
}
.market-page #sidebar h2{
	background:#f5f5f5;
	border-bottom:1px solid #bdbdbd;
	margin:0 0 5px;
	padding:9px 17px 7px;
	font-size:11px;
}
.market-page #sidebar .sort-by{
	font-size:10px;
	display:block;
	padding:0 16px;
	color:#b0b0b0;
}
.market-page #sidebar .sort-by a{
	color:#2c6698;
}
.market-page #sidebar .sort-by strong{
	color:#000;
}
/* category list */ 
.market-page #sidebar ul{
	list-style:none;
	margin:0;
	padding:7px 12px 0;
	height:1%;
	overflow:hidden;
}
.market-page #sidebar ul li{
	vertical-align:top;
	height:1%;
	overflow:hidden;
	font:12px Arial, Helvetica, sans-serif;
	padding-bottom:2px;
}
.market-page #sidebar ul li a{
	float:left;
	text-decoration:none;
	color:#3a3a3a;
}
.market-page #sidebar ul li a span{
	float:left;
	width:20px;
	color:#aaa;
	font-weight:bold;
	text-align:right;
	margin-right:7px;
}
* html .market-page #sidebar ul li a span{
	margin-right:4px;
}
.market-page #sidebar ul li a:hover{
	text-decoration:underline;
}
/* recently added products */
.recently-added-box{
	height:1%;
	overflow:hidden;
	padding:6px 0 28px;
}
.recently-added-box h2,
.latest-box .col h2{
	font: bold 14px Arial, Helvetica, sans-serif;
	color:#000;
	margin:0 0 7px;
}
.recently-added-box .holder{
	height:1%;
	overflow:hidden;
	background:#eee url(../images/bg-product-box.gif) repeat-x;
	border:1px solid #c8c8c8;
	padding:9px 0;
}
.recently-added-box .frame{
	background: url(../images/border2.gif) repeat-y 145px 0;
	height:1%;
	overflow:hidden;
	padding:12px 0 0;
}
.recently-added-box .frame .block{
	width:111px;
	float:left;
	padding:0 12px 6px 19px;
}
.recently-added-box .frame .block .visual{
	display:block;
	width:109px;
	height:90px;
	border:1px solid #c4c4c4;
	background:#fff;
	margin-bottom:7px;
}
.recently-added-box .frame .block .visual img{
	display:block;
	margin:0 auto;
}
.recently-added-box .frame .block .name{
	color:#0e0e0e;
	font: 14px Arial, Helvetica, sans-serif;
	text-decoration:none;
}
.recently-added-box .frame .block .name:hover{
	text-decoration:underline;
}
.recently-added-box .frame .block span{
	color:#3a3a3a;
	font: bold 11px Arial, Helvetica, sans-serif;
	display:block;
	padding:2px 0 15px;
}
.recently-added-box .frame .block em{
	color:#939393;
	font:10px Arial, Helvetica, sans-serif;
	display:block;
}
.recently-added-box .more-items,
.latest-box .more-items{
	float:right;
	font-weight:bold;
	font-size:11px;
	color:#255f8f;
	margin-top:6px;
}
/* latest items */
.latest-box{
	width:732px;
	overflow:hidden;
	margin-right:-15px;
	padding-bottom:55px;
}
.latest-box .col{
	width:350px;
	float:left;
	padding-right:16px;
}
.latest-box .col h2{
	border-bottom:1px solid #c8c8c8;
	padding-bottom:7px;
	margin-bottom:8px;
}
.latest-box ul{
	list-style:none;
	margin:0;
	padding:0;
}
.latest-box ul li{
	background: url(../images/bullet8.gif) no-repeat 1px 6px;
	padding:0 0 12px 17px;
	font: 12px Arial, Helvetica, sans-serif;
}
.latest-box ul li a{
	color:#373737;
}
.latest-box .more-items{
	margin:0 0 0 17px;
	float:none;
}
 /* status message */
.status-message{
	color:#919191;
	margin:-3px 0 28px;
}
.status-message strong{
	font-size:11px;
	color:#494949;
}
/* profile details */
.aside{
	float:left;
	width:133px;
	padding:0 0 0 1px;
}
.aside .thumb{
	width:133px;
	height:114px;
	overflow:hidden;
	background: url(../images/bg-thumb-large.gif) no-repeat;
}
.aside .thumb img{
	display:block;
	margin:7px 0 0 10px;
}
.aside ul{
	list-style:none;
	margin:0;
	padding:13px 0 0 2px;
}
.aside ul li{
	vertical-align:top;
	height:1%;
	overflow:hidden;
	padding-bottom:2px;
}
.aside ul li a{
	float:left;
	color:#007298;
	font: bold 11px Arial, Helvetica, sans-serif;
	text-decoration:none;
	padding:3px 0 2px 23px;
}
.aside ul li a:hover{
	text-decoration:underline;
}
.aside ul li a.email{
	background: url(../images/ico-16.gif) no-repeat;
}
.aside ul li a.add{
	background: url(../images/ico-17.gif) no-repeat 0 2px;
}
.aside ul li a.follow{
	background: url(../images/ico-18.gif) no-repeat 0 2px;
}
.description{
	width:486px;
	float:right;
	padding:0 2px 0 0;
}
.description .contact-details{
	background:#f1f1f1;
	border:1px solid #dcdcdc;
	height:1%;
	overflow:hidden;
	padding:11px 13px 9px 11px;
}
.description .contact-details h3{
	margin:0 0 4px;
	font:bold 16px Arial, Helvetica, sans-serif;
	color:#171717;
}
.description .contact-details .vcard-load{
	float:right;
	background: url(../images/ico-19.gif) no-repeat;
	width:16px;
	height:12px;
	text-indent:-9999px;
	overflow:hidden;
}
.description .contact-details span{
	color:#484848;
}
.description .contact-details dl{
	margin:0;
	padding:9px 0 0 4px;
}
.description .contact-details dl dt{
	float:left;
	width:49px;
	color:#9e9e9e;
}
* html .description .contact-details dl dt{
	margin-right:-3px;
}
.description .contact-details dl dd{
	margin:0 0 4px;
	color:#171717;
}
.description .contact-details dl dd a{
	color:#007298;
	text-decoration:none;
}
.description .contact-details dl dd a:hover{
	text-decoration:underline;
}
.about-list{
	list-style:none;
	margin:0;
	padding:19px 0 0 14px;
	width:412px;
	overflow:hidden;
}
.about-list li{
	vertical-align:top;
	height:1%;
	overflow:hidden;
	padding-bottom:30px;
}
.about-list li h3{
	margin:0 0 3px;
	font:bold 16px Arial, Helvetica, sans-serif;
	color:#393939;
	padding-bottom:3px;
	border-bottom:1px solid #bdbdbd;
}
.about-list li div{
	padding-right:40px;
}
.about-list li p{
	margin:0;
	line-height:16px;
	color:#4d4d4d;
}
.about-list li p a{
	text-decoration:none;
	color:#296495;
}
.about-list li p a:hover{
	text-decoration:underline;
}
/* footer */
#footer{
	background: url(../images/bg-footer.png) no-repeat;
	height:60px;
	overflow:hidden;
	padding:31px 25px 0 20px;
}
.market-page #footer{
	background: url(../images/bg-footer-market.png) no-repeat;
}
#footer ul{
	list-style:none;
	margin:0;
	padding:0;
	float:right;
	position:relative;
	z-index:5;
}
#footer ul li{
	float:left;
	margin:0 0 0 9px;
}
#footer ul li a{
	font-weight:normal;
	color:#3679b0;
	font-size:11px;
	text-decoration:none;
}
#footer ul li a:hover{
	text-decoration:underline;
}
#footer p{
	position:relative;
	margin:0;
	color:#828282;
}
/* Dotahead Code */
.error-msg{
	color:#ff0000;
	font-style:italic;
	margin-left:15px;
}
.share-form-textarea{
	background: url(../images/bg-share-form-textarea.jpg) no-repeat;
}
.textarea{
	border:0px;
	resize: none;
	width:618px;
	height:52px;
	margin-top:7px;
	margin-left:6px;
	overflow:auto;
	font:12px/15px Tahoma,Arial,Helvetica,sans-serif;
	color:#858585;
}
#btn-ar-share{
	padding-top:15px;
	float:right;
	margin-right:3px;
}
.your-status{
	margin-top:-25px;
	margin-bottom:30px;
	width:557px;
}
.error-border{
	border:2px #ff0000 solid;
}
.highlight_status_message{
	background:#fffbc2;
}

/*Market Place Add Items custom css*/
.add-item{
	border:1px #e0e0e0 solid;
	padding:2px;
}
#frm_add_item .form-fields{
	background:#f2f2f2;
	padding:5px 20px;
}
#frm_add_item .block{
	margin-top:15px;	
}
#frm_add_item label{
	font-size:13px;
	color:#202020;
	font-weight:600;
}
#frm_add_item label a{
	color:#202020;
	text-decoration:none;
}
.toggle-hide-label{
	background:url(../images/bullet10.jpg) no-repeat center left;
	padding-left:10px;
}
.toggle-show-label{
	background:url(../images/bullet9.jpg) no-repeat center left;
	padding-left:10px;
}
#frm_add_item select{
	margin-top:3px;
	padding:5px;
	font-family:Tahoma;
	color:#6d6d6d;
}
#frm_add_item .txt_title{
	margin-top:3px;
	width:460px;
	padding:4px;
	font-family:Tahoma;
	color:#6d6d6d;
}
#frm_add_item .txt_price{
	margin-top:3px;
	width:60px;
	padding:6px;
	vertical-align:top;
	font-family:Tahoma;
	color:#6d6d6d;
}
#frm_add_item textarea{
	margin-top:3px;
	width:460px;
	font-family:Tahoma;
	color:#6d6d6d;
}
#frm_add_item textarea{
	margin-top:3px;
/*	width:460px;*/
	width:470px;
	font-family:Tahoma;
	color:#6d6d6d;
	overflow: auto;
}
#frm_add_item input[type="radio"]{
	vertical-align:text-bottom;
}
#frm_add_item .sub-text{
	margin-top:5px;
	margin-bottom:8px;
}

#frm_add_item .add-more-div{
	margin-top:20px;
}
#frm_add_item a{
	color:#205b89;
	font-weight:bold;
}
#frm_add_item .submit-div{
	margin-top:1px;
	padding:15px 25px 15px;
	background:#e8e8e8;
	word-spacing:25px;
}
.market-page-add-item #main{
	background: url(../images/bg-main-market-add-item.png) repeat-y;
}
	
.market-page-add-item #footer{
	background: url(../images/bg-footer-market-add-item.png) no-repeat;
}
.market-page-add-item #sidebar{
	width:250px;
}
.market-page-add-item #sidebar h2 {
	border:none;
	background:none;
	font-size:11px;
	color:#454545;
	margin:0 0 5px;
	padding:60px 0px 0px 0px;
}
.market-page-add-item #sidebar p {
	font-family:Arial;
	font-size:14px;
	color:#403f3f;
	line-height:20px;
}
.market-page-add-item #content {
	width:660px;
}
.market-page-add-item #sidebar {
	padding:0 20px 0 0;
}
.image_file_contol{
	margin-top:10px;
	margin-bottom:10px;
}
.remove_image_file_contol{
	margin-left:10px;
}
/* General Listing Table */
#list-table{
	margin-top:20px;
}
#list-table img{
	border:1px #d5d5d5 solid;
}

#list-table td{
	/*padding-top:15px;*/
	padding:10px 5px 10px 5px;
	vertical-align:top;
}
.list-table-head{
	border-top:1px #c8c8c8 solid;
	border-bottom:1px #c8c8c8 solid;
	text-align:left;
	padding-bottom:5px;
	padding-top:5px;
	color:#1b1b1b;
}
.list-table-title{
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#2f6691;
	text-decoration:none;
}
#list-table tbody tr:hover{
	background:#fffbc2;
}
#list-table tbody tr:hover{
	background:#fffbc2;
}
/*Item for sale*/
.mkt-item-posted-user{
	margin-top:13px;
}
.mkt-item-price{
	font-size:18px;
	color:#1b1b1b;
}
.pagination-footer{
	margin-top:10px;
	padding-top:10px;
	border-top:1px solid #d9d9d9;
	overflow:auto;
}
.pagination-footer-count{
	float:left;
	width:230px;
}
.pagination-footer-list{
	float:right;
	width:480px;
	text-align:right;
}
.pagination-footer-list ul{
	float:right;
	margin:0px;
	padding:0px;
}
.pagination-footer-list li{
	float:left;
	background:#ecf7fa;
	padding:5px 10px 5px 10px;
	border:1px #d5e6ec solid;
	margin-left:2px;
	list-style:none;
	font-size:10px;
	font-weight:bold;
}
.pagination-footer-list li a{
	color:#0e4d62;
	text-decoration:none;
}

#page-list-more{
	border:none;
	background:none;
}
.clear{
	clear:both;
}
#slider-holder{position:absolute; margin-left:110px; margin-top:-13px;font-weight:bold;}
#slider-max{float:right;margin-top:-25px;margin-right:-20px;}
#slider-min{float:left;margin-top:-25px;}
#slider-result-holder{position:absolute;margin-left:200px;margin-top:-15px;margin-left:275px;width:155px;font-weight:500; font-family:Tahoma;}
/* Item Descriptions */
.details-attr{
	overflow:auto;
	height:100%;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;	
	padding:5px 0 5px 0;
	border-bottom:1px #e4e4e4 solid;
}
.details-attr .details-attr-title{
	float:left;
	color:#929292;
	padding-right:10px;
	padding-left:2px;
}
.details-attr .details-attr-res{
	float:left;
	padding-right:55px;
	color:#000000;
}
.details-desc-box{
	margin-top:15px;
	overflow:auto;
	height:100%;
	word-wrap:break-word;
}
.details-desc{
	width:450px;
	float:left;
	margin-right:5px;
}
.details-img{
	width:260px;
	float:right;
	text-align:right;
}
.details-desc-title{
	font-size:17px;
	font-weight:bold;
	font-family:Arial;
	color:#000000;
	margin-bottom:15px;
}
.details-desc{
	color:#383737;
	margin-bottom:50px;
	line-height:20px;
}
.details-desc p{
	line-height:20px;
}
.details-img img{
	padding:1px;
	border:1px #b8b8b8 solid;
}
.details-img-thumbnails{
	margin-top:5px;
	text-align:right;
	padding-top:195px;
}
.details-img-thumbnails img{
	padding:0px;
}
.contact-vcard{
	margin-top:5px;
	margin-bottom:20px;
	padding:10px;
	background:#f6f6f6;
	border:1px #dcdcdc solid;
	overflow:auto;
	height:100%;
	width:410px;
	font-family:Arial;
}
.contact-vcard-img{
	border:1px #b0b0b0 solid;
	width:85px;
	padding:10px;
	float:left;
}
.contact-vcard-details{
	float:right;
	
	width:290px;
}
.contact-vcard-name{
	color:#205b89;
	font-size:16px;
	font-weight:bold;
}
.contact-vcard-desg{
	margin-top:5px;
	color:#484848;
	
}
.contact-vcard-info{
	overflow:auto;
	height:100%;
	font-family:Tahoma;
	margin-top:3px;
}
.contact-vcard-attr{
	float:left;
	color:#9e9e9e;
	width:60px;
}
.contact-vcard-res{
	color:#171717;
}
.contact-vcard-res a{
	color:#007298;
	text-decoration:none;
}
/* Your Items */
.your-item-count{
	margin-top:10px;
	float:right;
}
.your-item #list-table{
	margin-top:5px;
	margin-bottom:40px;
}
.your-item-count strong{
	color:#191919;
}
.your-item-table-header{
	margin-top:10px;
	float:left;
	font-size:15px;
	font-weight:bold;
	font-family:Arial;
	color:#000000;
}
.your-item .heading-box{
	margin-bottom:15px;
}
.mkt-item-action{
	margin-top:15px;
}
.mkt-item-action img{
	vertical-align:bottom;
	margin-right:5px;
}
.mkt-item-action a{
	margin-right:20px;
	color:#255f8f;
}

 /*Files Share css*/
.files-share #main{
	background: url(../images/bg-main-files-share.png) repeat-y;
}
	
.files-share #footer{
	background: url(../images/bg-footer-files-share.png) no-repeat;
}
.files-share #sidebar{
	width:250px;
}
.files-share #sidebar h2 {
	border:none;
	background:none;
	font-size:11px;
	color:#454545;
	margin:0 0 5px;
	padding:60px 0px 0px 0px;
}
.files-share #sidebar p {
	font-family:Arial;
	font-size:14px;
	color:#403f3f;
	line-height:20px;
}
.files-share #content {
	width:660px;
}
.files-share #sidebar {
	padding:0 20px 0 0;
}
.files-box-holder{
	margin-top:20px;
	width:auto;
}
.files-box{
	padding:3px 20px 10px;
	margin-top:4px;
	background:#e1e1e1;
	width:auto;
}

#edit-photo-holder{
  overflow: hidden;
  height:100%;
}
.edit-photos{
  float:left;
  margin-top:5px;
  margin-right:10px;
}
#frm_add_item .remove-photo{
  font-weight:300;
}
.edit-photos span{
  color:#205B89;
}
#frm_add_item .txt_link{
	color:#6D6D6D;
	font-family:Tahoma;
	margin-top:3px;
	padding:4px;
	width:440px;
}
.files-share #sidebar a{
	color:#205b89;
}
#frm_add_item .required{
	color:#ff0000;
}
/* File Tag Autocomplete---------------------------------- */
.ui-autocomplete { position: absolute; cursor: default; }	
.ui-autocomplete-loading { background: #fff url('../images/loading.gif') right center no-repeat; }
* html .ui-autocomplete { width:1px; } /* without this, the menu expands to 100% in IE6 */

.ui-menu {
	list-style:none;
	padding: 2px;
	margin: 0;
	display:block;
}
.ui-menu .ui-menu {
	margin-top: -3px;
}
.ui-menu .ui-menu-item {
	margin:0;
	padding: 0;
	zoom: 1;
	float: left;
	clear: left;
	width: 100%;
}
.ui-menu .ui-menu-item a {
	text-decoration:none;
	display:block;
	padding:.2em .4em;
	line-height:1.5;
	zoom:1;
}
.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
	font-weight: normal;
	margin: -1px;
}
.ui-widget-content { border: 1px solid #aaaaaa/*{borderColorContent}*/; background: #ffffff; }
.ui-widget-content a { color: #222222/*{fcContent}*/; }
.ui-state-hover, .ui-widget-content .ui-state-hover, 
.ui-widget-header .ui-state-hover, .ui-state-focus, 
.ui-widget-content .ui-state-focus, .ui-widget-header 
.ui-state-focus { 
	border: 1px solid #999999; 
	background: #dadada url(../images/autocomplete-hover.png) 50% 50% repeat-x; 
	font-weight: normal; 
	color: #212121; 
}
/* FILES */
.files-page .add-item{
	border:0px;
}
.files-page #sidebar ul{
	margin-bottom:5px;
}
.files-see-more{
	margin-bottom:20px;
	
	
}
.files-see-more a{
	color:#2c6698;
	font-weight:bold;
	padding-right:10px;
	text-decoration:none;
	padding-left:40px;
	margin-top:20px;
}
.files-see-more a.show-all{
	background:url(../images/bullet9.jpg) no-repeat right;
}
.files-see-more a.hide-some{
	background:url(../images/bullet11.jpg) no-repeat right;
}
.files-see-more img{
	vertical-align:middle;
}
.files-category-holder{
	margin-bottom:20px;
}

.files-page #sidebar .files-category-holder h2 {
	background-color:#e4e4e4;
	border-top:1px solid #BDBDBD;
	font-size:11px;
	margin:0 0 5px;
	padding:9px 17px 7px;
}

.files-page #sidebar h2.files-share-privately {
	background:none repeat scroll 0 0 #e4e4e4;
	border-bottom:1px solid #BDBDBD;
	font-size:11px;
	margin:0px;
	padding:9px 17px 7px;
}
.files-share-privately-form{
	background-color:#f4f4f4;
	padding:10px 5px 10px 10px;
	border-bottom:1px #c0c0c0 solid;
}
#frm_share_privately label{
	color:#202020;
	font-weight:bold;
}
#frm_share_privately .sub-info{
	color:#838181;
	font-size:11px;
	font-weight:500;
}
#frm_share_privately input{
	margin-top:3px;
	color:#838181;
	font-family:Tahoma;
	width:175px;
	padding-top:3px;
	padding-bottom:3px;
}
#frm_share_privately textarea{
	margin-top:3px;
	color:#838181;
	font-family:Tahoma;
	overflow:auto;
	resize:none;
	font-size:11px;
	width:170px;
}
#frm_share_privately .frm-holder{
	margin-bottom:20px;
}
#frm_share_privately .frm-holder a{
	color:#205b89;
}
#frm_share_privately .frm-submit-button-holder{
	background-color:#cccccc;
	margin-left:-10px;
	margin-right:-5px;
	padding-top:5px;
	padding-left:10px;
	padding-bottom:5px;
}
#frm_share_privately .frm-submit-button{
	width:92px;
}
#frm_share_privately .frm-submit-button-holder a{
	color:#205b89;
	font-weight:bold;
	margin-left:10px;
}
#frm_share_privately .frm-bottom-link{
	margin-top:10px;
}
.files-page .file-links {
	font-weight:bold;
	color:#205b89;
}
.files-page .files-sub-header{
	border-bottom:1px #e6e6e6 solid;
	padding-bottom:4px;
}
.files-page .files-sub-header .heading-box{
	padding:0px;
}
.files-page .files-sub-header h2{
	font-size:15px;
	color:#474747;
	
}
.files-page .files-sub-header .filters{
	padding:0px;
}
.files-category-listing-holder{
	width:715px;
	overflow:hidden;
	padding-top:10px;
	height:100%;
	border-bottom:1px #d5d5d5 solid;
}
.files-page .files-category-box{
	float:left;
	width:235px;
	height:200px;
	margin-top:0px;
	margin-bottom:10px;
	padding-right:3px;
}
.files-page .files-category-box ul{
	padding:0px;
	margin:0 0 0 13px;
	color:#bdbdbd;
	list-style-type:none;
}
.files-page .files-category-box li{
	padding:0px;
	margin:0px;
	margin-left:8px;
	marker-offset:50px;
	/*line-height:25px;*/
	margin-top:8px;
  margin-bottom:10px;
	list-style-type:disc;
	font-size:12px;
}
.files-page .files-category-box h2{
	margin:0px;
	padding:0 0 5px 0;
	font-size:15px;
	color:#484848;
	font-family:Arial;
	border-bottom:1px #76baf2 solid;
	height:20px;
}
.files-page .files-category-box h2 a{
	text-decoration:none;
}
.files-page .files-category-box h2 img{
	vertical-align:text-bottom; margin-right:5px;
}
.files-page .files-category-box li a{
	font-size:11px; color:#000000;
}
.files-page .view-all-files{
	text-align:right;
	margin-top:8px;
}
.files-page .files-listing{
	margin-top:25px;
	overflow:auto;
	height:100%;
}
.files-page .files-added{
	float:left;
	width:49%;
}
.files-page .files-downloaded{
	float:left;
	width:49%;
}
.files-page .files-listing h2{
	margin:0px;
	padding:0px;
	color:#474747;
	font-size:15px;
}
.files-page .files-list-table{
	margin-top:3px;
	text-align:left;
}
.files-page .files-list-table th{
	border-top:1px #e9e9e9 solid;
	padding:10px;
	border-bottom:1px #e9e9e9 solid;
	text-decoration:underline;
	text-align:left;
}
.files-page .files-list-table td{
	padding-top:10px;
	vertical-align:top;
}
.files-page .files-list-table td span a{
	color:#3e6495;
	font-size:14px;
}
.files-page .files-list-table td img{
	float:left;
}
.files-page .files-list-table td strong{
	color:#9c9b9b;
}
.files-page .list-file-details {
	float:right;
	width:233px;
}
.files-page .file-upload-details{
	margin-top:3px;
	margin-bottom:10px;
}
.files-page .file-upload-details a{
	color:#6a6a6a;
	font-size:11px;
}
.files-page .files-size{
	color:#545454;
}
.heading-box .item-options li a.share-privately{
	background: url(../images/ico-36.jpg) no-repeat 0 -1px;
	color:#276292;
	text-decoration:none;
	font-weight:bold;
	font-size:11px;
	padding:1px 0 3px 16px;
	float:left;
	color:#55a421;
}
 .align-right{
 	text-align:right;
	padding-right:5px;
 }
 
.files-page #main{
	background: url(../images/bg-main-files.png) repeat-y;
}
.files-page #content{
	float:left;
	width:717px;
	padding:13px 0 0 7px;
	position:relative;
}
.files-page #sidebar{
	width:202px;
}
.files-page .advanced-search .search-w{
	width:603px;
	background: url(../images/bg-advanced-search-long.gif) no-repeat;
}
.files-page .advanced-search .search-w .text{
	width:515px;
}
.files-page #sidebar h2{
	background:#f5f5f5;
	border-bottom:1px solid #bdbdbd;
	margin:0 0 5px;
	padding:9px 17px 7px;
	font-size:11px;
}
.files-page #sidebar .sort-by{
	font-size:10px;
	display:block;
	padding:0 16px;
	color:#b0b0b0;
}
.files-page #sidebar .sort-by a{
	color:#2c6698;
}
.files-page #sidebar .sort-by strong{
	color:#000;
}
/* category list */ 
.files-page #sidebar ul{
	list-style:none;
	margin:0;
	padding:7px 12px 0;
	height:1%;
	overflow:hidden;
}
.files-page #sidebar ul li{
	vertical-align:top;
	height:1%;
	overflow:hidden;
	font:12px Arial, Helvetica, sans-serif;
	padding-bottom:2px;
}
.files-page #sidebar ul li a{
	float:left;
	text-decoration:none;
	color:#3a3a3a;
}
.files-page #sidebar ul li a span{
	float:left;
	width:20px;
	color:#aaa;
	font-weight:bold;
	text-align:right;
	margin-right:7px;
}
* html .files-page #sidebar ul li a span{
	margin-right:4px;
}
.files-page #sidebar ul li a:hover{
	text-decoration:underline;
}
.files-page #footer{
	background: url(../images/bg-footer-files.png) no-repeat;
}
.files-attr-tags{
  color:#989898;
  margin-top:4px;
  font-size:11px;
}
/* Files Details */
.files-page .details-attr .details-attr-res{
	text-transform:uppercase;
	padding-right:30px;
	font-weight:300;
}
.download-box{
  float:left;
	font-size:14px;
	font-family:Arial;
	padding-top:10px;
	width:130px;
  border: none;
  overflow:hidden;
}
.download-box a{
	color:#255f8f;
	text-decoration:none;
	background:url(../images/ico-37.jpg) left top no-repeat;
	padding-left:20px;
}
.file-report{
  background:#feffdd;
  padding:10px;
  width:240px;
  float:left;
  text-align:left;
  margin-top:10px;
  border-top:1px #eee9a1 solid;
  border-bottom:1px #eee9a1 solid;
  line-height:20px;
  color:#0a0a0a;
}
.file-report a{
  color:#d00000;
  text-decoration: underline;  
}
.files-page .details-img img{
	border:1px #b8b8b8 solid;
	margin-top:35px;
}
.files-page .details-tags {
	margin-bottom:20px;
}
.files-page .details-tags .tag-title{
	color:#000000;
	font-family:Arial;
	font-size:17px;
	font-weight:bold;
}
.category-list-holder{
	margin-top:25px;
	border-top:1px solid #BDBDBD;
}

/* Dropbox */
h3.dropbox{
	margin-top:105px;
	background-color:#fff79b;
	padding:5px;
	font-family:Arial;
	font-size:15px;
	color:#454545;
}
.files-share #sidebar .dropbox h2{
	background-color:#fff79b;
}
.dropbox-choose{
	float:right;
}
#frm_add_item .dropbox-choose a{
	font-size:11px;
	font-weight:lighter;
}
 
.files-share h4{
	margin-top:40px;
	font-size:15px;
	font-family:Arial;
	margin-bottom:5px;
	color:#202020;	
}
#dropbox-table a{
	color:#205b89;
}
#dropbox-table {
	color:#5c5c5c;
}
#dropbox-table th{
	
	border-bottom:1px #d9d9d9 solid;
	border-top:1px #d9d9d9 solid;
	padding: 5px 0 5px 0;
	color:#363636;
}
#dropbox-table strong{
	font-size:14px;
	color:#292a2a;
	line-height:25px;
}
#dropbox-table td{
	padding-top:5px;
	font-family:Arial;
}
.dropbox-dwd-link{
	color:#989898;
}
/*Intrest Group list*/
.people-box ul li ul li a.remove-contact{
	background: url(../images/ico-22.jpg) no-repeat;
}
.people-box ul li ul li a.unfollow{
	background: url(../images/ico-23.jpg) no-repeat;
}
/* Interest Group */
.interest-group-header{
	border-top:1px #c8c8c8 solid;
	border-bottom:1px #c8c8c8 solid;
	color:#1b1b1b;
	font-weight:bold;
}
.interest-group-ico{
	float:left;
	margin:0 10px 0 0;
}
.interest-group-ico img{
	vertical-align:middle;
}
.interest-group-title{
	float:left;
	width:427px;
	padding-top:2px;
}
.interest-group-title-head{
	float:left;
	width:453px;
	padding-top:2px;
}
.interest-group-title a{
	color:#5b5b5b;
	font-weight:bold;
	text-decoration:none;
}
.interest-group-members{
	float:left;
	width:110px;
	padding-top:2px;
}
.interest-group-members a{
	color:#5b5b5b;
}
.interest-group-action{
	float:left;
	width:55px;
	padding-top:2px;
	text-align:left;
}
.interest-group-leave{
	background: url(../images/ico-22.jpg) bottom left no-repeat;
	padding-left:15px;
	color:#007298;
	text-decoration:none;
	font-weight:bold;
}
.interest-group-join{
	background: url(../images/ico-12.gif) bottom left no-repeat;
	padding-left:15px;
	color:#007298;
	text-decoration:none;
	font-weight:bold;
}
.people-box li.interest-group-header:hover{
	background: none;
}
.people-box .interest-group-showing{
	border:none;
}
/* EVENTS PAge */
.events-page #main{
	background: url(../images/bg-main-files.png) repeat-y;
}
.events-page #content{
	float:left;
	width:717px;
	padding:13px 0 0 7px;
	position:relative;
}
.events-page #sidebar{
	width:202px;
}
.events-page .advanced-search .search-w{
	width:603px;
	background: url(../images/bg-advanced-search-long.gif) no-repeat;
}
.events-page .advanced-search .search-w .text{
	width:515px;
}
.events-page #sidebar h2{
	background:#f5f5f5;
	border-bottom:1px solid #bdbdbd;
	margin:0 0 5px;
	padding:9px 17px 7px;
	font-size:11px;
}
.events-page #sidebar .sort-by{
	font-size:10px;
	display:block;
	padding:0 16px;
	color:#b0b0b0;
}
.events-page #sidebar .selection-filter{
	margin-left:15px;
	color:#2d2c2c;
}
.events-page #sidebar .selection-filter a{
	color:#2c6698;
	font-family:Tahoma;
	font-size:12px;
}
.events-page #sidebar .sort-by strong{
	color:#000;
}
/* category list */ 
.events-page #sidebar ul{
	list-style:none;
	margin:0;
	padding:7px 12px 0;
	height:1%;
	overflow:hidden;
}
.events-page #sidebar ul li{
	vertical-align:top;
	height:1%;
	overflow:hidden;
	font:12px Arial, Helvetica, sans-serif;
	padding-bottom:2px;
}
.events-page #sidebar ul li a{
	float:left;
	text-decoration:none;
	color:#3a3a3a;
}
.events-page #sidebar ul li a span{
	float:left;
	width:20px;
	color:#aaa;
	font-weight:bold;
	text-align:right;
	margin-right:7px;
}
* html .events-page #sidebar ul li a span{
	margin-right:4px;
}
.events-page #sidebar ul li a:hover{
	text-decoration:underline;
}
.events-page #footer{
	background: url(../images/bg-footer-files.png) no-repeat;
}
.cal-top{
	margin-top:12px;
}
.cal-month{
	font-size:16px;
	color:#2e2e2e;
	font-weight:bold;
	font-family:Arial;
	margin-left:5px;
}
.events-page .cal-top img{
	vertical-align:text-bottom;
}
.cal-switcher{
	float:right;
	margin-right:5px;
}
.cal-month-show{
	margin-top:5px;
	border:1px #969696 solid;
	width:100%;
	height:100%;
}
.cal-month-show th{
	background:#e3effd;
	padding:5px;
	color:#5d5d5d;
}
.cal-month-show td{
	padding:5px;
	vertical-align:top;
	width:10%;
	height:70px;
	color:#aeaeae;
}
.cal-month-show td a{
	color:#003975;
	font-family:Arial;
	font-size:11px;
}
.cal-events{
	margin-bottom:5px;
}
.cal-border-tr{
	border-top:1px solid #cbcbcb;
	border-right:1px solid #cbcbcb;
}
.cal-border-t{
	border-top:1px solid #cbcbcb;
}
/* Event List view */
.cal-list-show{
	margin-top:10px;
	width:100%;
}
.cal-list-head{
	border-bottom:1px #c8c8c8 solid;
	border-top:1px #c8c8c8 solid;
	text-align:left;
	padding-top:5px;
	padding-bottom:5px;
	color:#1b1b1b;
}
.cal-list-show td{
	padding-top:5px;
	padding-bottom:5px;
	color:#909090;
}
.event-date{
	color:#3e3e3e;
}
.cal-list-show a{
	color:#205b89;
	font-weight:bold;
	text-decoration:none;
}
.cal-list-show img{
	vertical-align:text-bottom;
	margin-right:5px;
}
.cal-list-show .zebra-strip{
	background:#f0f0f0;
}

/* Event Details */
.event-reminder-status{
	border-bottom: 1px #e4e4e4 solid;
	padding:5px 0 5px 0;
}
.reminder-status-ico img{
	vertical-align:text-top;
}
.reminder-status-action{
	margin-left:5px;
}
.reminder-status-action a{
	color:#205b89;
	font-family:Arial;
	font-size:13px;
}
.reminder-status-text{
	font-size:16px;
	color:#529c17;
	font-family:Arial;
	font-weight:bold;
	margin-left:5px;
}
.concept-img{
	margin-top:40px;
}
.album-holder{
	width:490px;
	overflow:auto;
}
.album{
	width:240px;
	float:left;
}
.album img{
	border:1px #b8b8b8 solid;
	padding:5px;
}
.album-title{
	color:#383737;
}
.album-pic-count{
	color:#8d8d8d;
	margin-top:5px;
}
.reminder-status-text-off{
	font-size:16px;
	color:#e64242;
	font-family:Arial;
	font-weight:bold;
	margin-left:5px;
}
.event-details-vcard{
	margin-top:30px;
}
/* About - Gallery*/
.about-gallery #main{
	background: url(../images/bg-main-simple.png) repeat-y;
}
.about-gallery #footer{
	background: url(../images/bg-footer-simple.png) no-repeat;
}
.about-gallery #content {
	width:97%;
}
.about-gallery p {
	color:#292929;
	font-family:Tahoma;
	line-height:18px;
}
.about-gallery .album-holder{
	width:916px;
	overflow:auto;
}
.about-gallery .album{
	padding:0 17px 0 16px;
	/*width:auto;*/
	width:196px;
	height:190px;
	float:left;
}
.about-gallery .photo-listing{
	
	height:145px;
}

.album-row{
	overflow:auto;
	padding-bottom:15px;
}
.album img{
	border:1px #b8b8b8 solid;
	padding:5px;
}
 
.about-gallery .album-title{
	color:#2c6698;
	font-weight:bold;
}
.album-attr{
	color:#8d8d8d;
	margin-top:5px;
}
.album-date{
	color:#000000;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
} 
.pic-count{
	color:#848484;
	font-family:Tahoma;
	font-size:11px;
	font-weight:bold;
}
.gallery-top-pagination{
	padding-bottom:15px;
}
.gallery-concept{
	float:right;
}
#cmb_concept{
	font-size:12px;
	font-family:Tahoma;
	font-weight:bold;
}
.about-gallery .details-attr{
	border-bottom:none;
}
.event-link a{
	margin-left:3px;
	color:#205b89;
	font-family:Tahoma;
}
.about-gallery .album-holder{
	background:#f5f5f5;
	border:1px #dcdcdc solid;
	padding-top:15px;
}
.gallery-paging-div{
	float:right;
	margin-top:-5px;
}
.photo-count{
	font-size:16px;
	color:#929292;
	font-style:italic;
}
/* Policies */
.anchor-text a{
	color:#205b89;
	text-decoration:none;
}
.policies{
	border-bottom:1px #b8b8b8 solid;
	margin-bottom:15px; 
	padding-bottom:15px; 
}
.policies h3 a{
	color:#000000;
	text-decoration:none;
	font-family:Arial;
	font-size:15px;
}
.policy-details{
	margin-top:20px;
}
.policy-details h4{
	color:#205b89;
	margin-top:-5px;
	margin-bottom:-10px;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
}
.download-link{
	background:url("../images/ico-47.jpg") left center no-repeat;
	padding-left:15px;
	color:#205b89;
	text-decoration:none;
}

/* My Profile */
.aside ul li a.photo{
	background: url(../images/ico-48.jpg) no-repeat 0 4px;
}
.aside ul li a.profile{
	background: url(../images/ico-24.jpg) no-repeat 0 4px;
}
.aside ul li a.password{
	background: url(../images/ico-25.jpg) no-repeat 0 4px;
}
.aside ul li a.specialities{
	background: url(../images/ico-26.jpg) no-repeat 0 4px;
}
.aside ul li a.link{
	background: url(../images/ico-27.jpg) no-repeat 0 4px;
}

.aside ul li a.remove-contact{
	background: url(../images/ico-22.jpg) left center no-repeat;
}
.aside ul li a.unfollow{
	background: url(../images/ico-23.jpg) left center no-repeat;
}
.aside ul li a.add-contact{
	background: url(../images/ico-12.gif) left center no-repeat;
}
.aside ul li a.follow{
	background: url(../images/ico-13.gif) left center no-repeat;
}
.my-profile-status-message{
	margin-top:-14px;
}
/* Edit Profile */
.edit-profile #footer{
	background:url("../images/bg-footer-edit-profile.png") no-repeat;
}
.edit-profile #main{
	background:url("../images/bg-main-edit-profile.png") repeat-y;
}
.edit-profile .container{
	border:1px #e0e0e0 solid;
}
#frm-edit-profile .form-fields{
	margin:1px;
	background: #f2f2f2;
	padding:10px;
	padding-bottom:40px;
}
#frm-edit-profile .contact-detail-box{
	border: 1px #c2c2c2 solid;
	width:450px;
	background:#f5f5f5;
	padding-bottom:13px;
}
.contact-detail-box .info-strip{
	padding:5px;
	background:#fffbbc;
	margin-bottom:7px;
	font-size:11px;
}
.contact-detail-box img{
	vertical-align:text-bottom;
}
.contact-detail-box span{
	margin-left:5px;
}
.contact-details{
	margin-left:5px;
	color:#484848;
}
.contact-details .contact-name{
	font-size:15px;
	font-weight:bold;
	font-family: Arial;
	color:#171717;
	margin-bottom:3px;
}
.contact-desg{
	margin-bottom:8px;
}
.contact-details .contact-info{
	overflow:auto;
}
.contact-details .contact-info div{
	padding-top:5px;
	float:left;
	color:#171717;
}
.contact-details .contact-info a{
	color:#007298;
	text-decoration:none;
}
.contact-details .contact-info .contact-attr{
	font-weight: bold;
	color: #9e9e9e;
	width:80px;
}
#frm-edit-profile .field-box{
	margin-top: 20px;
}
#frm-edit-profile .field-label{
	font-weight:bold;
	font-size:13px;
	color:#202020;
}
#frm-edit-profile  textarea{
	width:446px;
	font-family:Tahoma;
	overflow:auto;
	resize: none;
}
.ui-autocomplete{
	margin:0px;
	padding:0px;
	list-style:none;
}
.ui-menu-item{
	padding:10px;
	background:#fffbbc;
	width:433px;
}
.ui-menu-item a:hover{
	background:#e3df9f;
}
/*
#intrest-dropdown{
	margin:0px;
	padding:0px;
	list-style:none;
}
#intrest-dropdown li{
	padding:10px;
	background:#fffbbc;
	width:433px;
}
#intrest-dropdown li:hover{
	background:#e3df9f;
}*/
#frm-edit-profile .submit-div{
	margin-top:1px;
	padding:15px 12px 15px;
	background:#e8e8e8;
	word-spacing:25px;
}
#frm-edit-profile .submit-div a{
	color:#205b89;
	font-weight:bold;
}

/* Sphinx Search */
.more-stories-search{
	width:628px;
	height:26px;
	overflow:hidden;
	padding:12px 0 0;
	font-size:11px;
	font-weight:bold;
	color:#246eaa;
	text-align:center;
	display:block;
	background: url(../images/bg-more-stories.gif) no-repeat;
	position:relative;
	top:-3px;
	left: 2px;
}

/* Login Box */
.login#wrapper{
	padding-top:120px;
	width:410px;
}
.login #main{
	background:url(../images/login-bg.jpg) repeat-y;
	width:403px;
	padding:0px;
}
.login #footer{
	background:url(../images/login-footer.jpg) no-repeat;
	width:370px;
	padding-left:5px;
}
.login #footer ul li{
	padding-top:5px;
	padding-left:4px;
}
.login #footer p{
	padding-top:25px;
	padding-left:15px;
}
.login-field-box{
	margin:20px 25px;
}
.login-label label{
	color:#4f4f4f;
	font-size:14px;
}
.login-field{
	margin-top:8px;
}
.login-field-box p{
	color:#737272;
	line-height:20px;
	font-size:13px;
	font-family: Arial;
}
.login-field input{
	border:none;
	background:url(../images/login-field.jpg) no-repeat;
	height:27px;
	width:249px;
	padding-left:3px;
	color:#979797;
}
.login-button{
	margin-left:25px;
}
.login form{
	border-bottom:1px #b3b3b3 dashed;
	width:350px;
	margin:0 auto;
	margin-bottom:20px;
	padding-bottom:20px;
}
.login .forgot-pass{
  padding-left:26px;	
	padding-bottom:20px;
}
.login .forgot-pass a{
  color:#505050;
}
.login-title {
  background:url("../images/login-title.jpg") no-repeat scroll 0 0 transparent;
  color:#FEFEFE;
  font-family:Arial;
  font-size:15px;
  height:40px;
  padding-left:17px;
  padding-top:11px;
  word-spacing:-1px;
  font-weight: bold;
}
.forgot-pass-msg{
  padding:30px 30px;
  font-size:14px;
  font-family: Arial;
}
.forgot-pass-msg-ok {
  background: #edffd1 url(../images/ico-63.jpg) no-repeat 4% 35%;
  padding-left:65px;
  padding-top:15px;
  padding-bottom:15px;
  border-top:1px #89d40d solid;
  border-bottom:1px #89d40d solid;
  color:#737272;
}
.forgot-pass-msg-error {
  background: #feeded url(../images/ico-64.jpg) no-repeat 4% 20%;
  padding-left:65px;
  padding-top:15px;
  padding-bottom:15px;
  border-top:1px #a81919 solid;
  border-bottom:1px #a81919 solid;
  color:#737272;
}
.forgot-pass-msg  span{
  line-height:20px;
}
.forgot-pass-msg p{
  font-weight:bold;
  margin:0px;
  margin-bottom:5px;
}
.forgot-pass-msg .ft-pass-link{
  margin-top:20px;
}
.forgot-pass-msg .ft-pass-link a{
  color:#134e78;
  text-decoration: none;
  font-weight:bold;
  font-size:15px;
}

/* Pop windows My profile */
.pop-win-header{
	background:#296495;
	color:#ffffff;
	font-family:Tahoma;
	font-weight:bold;
	padding:7px;
}
.pop-win-close{
	float:right;
}
.change-pass-button,.fav-link-button{
	margin-bottom:10px;
	margin-left:25px;
}
.pop-win .photo-box .image-holder {
	background:url("../images/bg-thumb.gif") no-repeat scroll 0 0 transparent;
	display:block;
	height:93px;
	overflow:hidden;
	padding:6px 0 2px 9px;
	width:104px;
}
.change-pic{
	padding-left:10px;
}
.change-pic .pic-title{
	margin-bottom:10px;
	padding-left:7px;
	font-family:Tahoma;
	font-weight:bold;
	color:#484848;
}
.change-pic .pic-title span{
	font-size:11px;
	font-weight:300;
	margin-left:30px;
	color:#939393;
}
.change-pic .pic-control{
  float:right;
  margin-right: 5px;
  width: 230px;
}
.change-pic #file_new_pic{
  margin-top:0px;
}
.login-label label span{
  color:#b7b7b7;
  font-size:12px;
}
#sidebar .open .box-content ul.favourites li a.remove-link{
  background: none;
  padding:0px;
  float:right;
  margin-top:4px;
  display:none;
}
#admin-menu{
  width: 100%;
  font-size: 15px;
  font-family: Arial;
  text-align:right;
  margin-bottom:30px;
  margin-right:10px;
}
#admin-menu-bar{
  top:0;
  background: #114c74;
  margin:0 auto;
  padding:5px;
  width: 99%;
}
#admin-menu-bar a{
  color:#fff;
  text-decoration: none;
  font-weight: bold;
  padding-right:12px;
}
.toogle-admin-menu{
  background: url(../images/ico-52.jpg) right center no-repeat;
}
.admin-link-hide{
  background: url(../images/ico-53.jpg) right center no-repeat;
}
 
#admin-nav{
  margin:2px 0px;
  position: absolute;
  text-align:left;
  width:200px;
  margin:0 auto;
  display:none;
  margin-left:580px;
  *margin-left:-160px;
  z-index: 999999;
}
.administration{
  width:800px;
  margin:0 auto;
}
#admin-nav li{
  list-style: none;
  padding:10px;
  
  background: #787878;
  border-bottom: 1px #ffffff solid;
  margin: 0px;
}
#admin-nav li a{
  color:#fff;
  text-decoration: none;
  background: url(../images/ico-51.jpg) right top no-repeat;
  padding-right:15px;
}
/* OFFER DETAILS */
.offer-details-desc{
  width:99%;
  text-align:center;
  float:left;
  margin-right:5px;
}
/* EVENTS DETAILS */
.event-details-desc{
  width:99%;
  float:left;
  margin-right:5px;
}
.msg-box{
  background:#fffde4;
  padding:10px;
  width:610px;
  float:left;
  text-align:left;
  margin-top:-10px;
  margin-bottom:10px;
  border-top:1px #ffcc00 solid;
  border-bottom:1px #ffcc00 solid;
  line-height:20px;
  color:#0a0a0a;
}
.msg-box-title{
  color:#b11818;
  font-weight:bold;
  font-size:17px;
  font-family: Arial;
}
.msg-box p{
  color:#5e5e5e;
  font-family: Arial;
  word-spacing: 2px;
}
.msg-box a{
  color:#447db6;
  font-size:14px;
  font-family: Arial;
}
/* Event Holidays */
.events-page #sidebar ul li.event-holiday{
  border-bottom: 1px #dadada solid;
  padding-bottom:5px;
  margin-bottom:5px;
}
.edit-fields{
  font-size:11px;
}

.concept_check_all{
  text-transform: capitalize;
}
.concept_check_none{
  text-transform: capitalize;
}
.location_check_all{
  text-transform: capitalize;
}
.location_check_none{
  text-transform: capitalize;
}
.msg-ok{
	font-size:12px;
	font-weight:bold;
	color:#398608;
	margin-bottom: 10px;
	background:#f5ffef url(../images/ico-57.jpg) no-repeat 2% 50%	;

	padding:10px 0 10px 35px;
	border: 1px #72d434 solid;
}
.msg-error{
	font-size:12px;
	font-weight:bold;
	color:#a51313;
	margin-bottom: 10px;
	background:#faecec url(../images/ico-58.jpg) no-repeat 2% 50%	;

	padding:10px 0 10px 35px;
	border: 1px #d43434 solid;
}

.submit-div span,p{
	word-spacing:0px;
}

.offer-pref{
	float:right;
	margin-top:-15px;
}
.offer-pref a{
	color:#0a456b;
}

.offer-pop-win{
 	padding:0 20px;
}
.offer-pop-win .advanced-search {
	background:none;
	border:none;
}

.offer-pop-win .advanced-search .checkboxes{
	display:block;
	background:none;
}
.offer-pop-win h2{
	color:#272727;
	font-size:19px;
	font-family:Arial;
	border-bottom:1px #d6d6d6 solid;
	padding-bottom:5px;
	font-weight:bold;
}
.offer-pop-win p{
	line-height:20px;
}
.offer-pop-win .submit-button {
	background:#e9e9e9;
 height:35px;
 padding-top:10px;
 text-align:right;
 padding-right:5px;	
}
.offer-pop-win .submit-button .button-holder a{
	color:#0d4870;
	margin-right:10px;
}
.offer-pop-win .submit-button .button-holder .pop-win-close{
	float:none;
}
#list-table td .file-dwd-ico{
  border:none;
}
#list-table td .report_files{
  color:#cc0000;
}
.report-list{
  background: url(../images/bullet12.jpg) no-repeat 0 50%;
  padding-left:10px;
  display: none;
}
.imp-header{
  color:#0c466d;
  font-size:19px;
  font-weight:bold;
  margin-bottom:10px;
  font-family: Arial;
}
.imp-files-cat{
	background:#f4fefe;
	margin-bottom:15px;
}
.files-page .imp-files-cat .files-category-box h2 {
  
  padding-left:5px;
}
.imp-files-cat .files-category-listing-holder{
	border:1px #d1d1d1 solid;
}

.tool-tip-file {
  border:1px #cac830 solid;
  background:#fdfcb1;
  color:#565656;
}
.tool-tip-link{
  background:#f1fcff;
  border:1px #90c6d5 solid;
  color:#565656;
}
.files-page .files-category-box .tool-tip-file p a.download-link{
  color:#205b89;
  font-weight: bold;
  background: url(../images/ico-59.png) left no-repeat;
  padding-left:20px;
}
.files-page .files-category-box .tool-tip-link p a.view-link{
  color:#205b89;
  font-weight: bold;
  background: url(../images/ico-60.png) left no-repeat;
  padding-left:20px;
}
p.report {
  
  text-align: right;
  padding-right:10px;
}
.files-page .files-category-box .tool-tip  p.report a{
  color:#a50404;
  font-weight: bold;
  background: none;
}
.tool-tip p{
  line-height: 10px;
}
.tool-tip{
  position: absolute;
  /*margin-left:50px;*/
  padding-left:20px;
  padding-right:20px;
  margin-left:auto;
  width:188px;
  margin-top:-25px;
  display:none;
  z-index: 10;
}
.tool-tip img{
  position: absolute;
  margin-left:-28px;
  margin-top:15px;
}

.announcement .details-desc{
  float:none;
  width:98%;
}
.news .details-desc{
  float:none;
  width:98%;
}
#file_share{background-color:#ffffff;}
.posts-list li.type2 .text a.user-post-link{
  text-decoration: none;
  color:#205B89;
}
.imp-header .heading-box{
  padding-top:0px;
}

#dropbox-info{
  position:absolute;
  display:none;
  background:#fff;
  margin-left:-155px;
  width:300px;
  border:1px solid #CAC830;
}
#dropbox-info h3.dropbox{
  margin:0px;
}
#dropbox-info p{
  padding:0 9px;
  font-family: Arial;
}
#status-msg-count{
  position:absolute;
  margin-top:15px;
  font-size:18px;
  margin-left:520px;
}
#frm_add_item  #txt_sendto{
  /*width:600px;*/
  width:460px;
}
/* Code of conduct Page */
.simple-page #main{
  background: url(../images/bg-main-simple.png) repeat-y;
}
.simple-page #footer{
  background: url(../images/bg-footer-simple.png) no-repeat;
}
/* Feedback Form */

.option{width:205px; float:left; padding:2px 10px;}
.option span{color:#657a90; font-size:10px;}
.option p{color:#4e4f51; font-size:10px; padding:20px 0px 0px 3px;}
.option a{color:#4e4f51;}
.contact{padding:20px;}
.contact label{font-size:12px; color:#657a90; clear:left;}
.contact input,select,textarea{float:none; border:none;}
.customtextarea{float:none;}
.txtareatop{background:url(../images/feedback/textarea-left.gif) no-repeat; width:3px; height:132px; float:left;}
.txtareamid{background:url(../images/feedback/textarea-mid.gif) repeat-x; width:450px; height:132px; float:left;}
.txtareabot{background:url(../images/feedback/textarea-right.gif) no-repeat; width:3px; height:132px; float:left;}
.contact textarea{width:450px; height:120px; margin-top:5px; overflow:hidden;}
.contact input[type=text]{height:16px;}
.custominput{float:none;}
.inputtop{background:url(../images/feedback/input-left.gif) no-repeat; width:3px; height:24px; float:left;}
.inputmid{background:url(../images/feedback/input-mid.gif) repeat-x; width:450px; height:24px; float:left;padding-top:5px;}
.inputbot{background:url(../images/feedback/input-right.gif) no-repeat; width:3px; height:24px; float:left;}
.width450{width:450px;}
.width360{width:360px;}
.width345{width:345px;}
.width100{width:100px;}
.width470{width:470px;}
.pt15{padding-top:15px;}
.error{display:none; clear:both;font-size:11px; color:#FF0000;}

.cboth {
  clear:both !important;
}
.fleft  {
  float:left !important;
}
.vcard .data-error{
  background:url("../images/ico-65.jpg") no-repeat;
  color:#007298;
  float:right;
  font:bold 11px Arial,Helvetica,sans-serif;
  text-decoration:none;
  padding-left:23px;
  padding-top:3px;
}
.vcard .data-error:hover{
  text-decoration:underline;
}

#status-msg-status{
  margin-top:5px;
  display:none;
}
.align-left{text-align:left;}
.align-center{text-align:center;}
.zebra-strip{background:#f5f5f5;}
.grey-shade-1{color:#5c5c5c;}
.grey-shade-2{color:#545454;}
.static-temp{position:absolute;margin-left:230px;color:#ff0000;}
/* --  New Design --*/
/* Files new module design */
.files-page .files-sub-header{
  border:none;
  padding-bottom:4px;
}
.files-page .files-sub-header h2{
  font-size:15px;
  color:#000000;
}
.file-module{
  margin-top:10px;
  margin-bottom:10px;
}
.file-module ul.file-browse{
  margin:0px;
  padding:0px;
}
.file-module ul.file-browse li{
  display:inline;
  padding:10px;
  font-size:12px;
  font-weight:bold;
  background: #f0f0f0;
  -moz-border-radius: 7px 7px 0px 0px;
  border-radius: 7px 7px 0px 0px;
}
.file-module ul.file-browse li a{
  color:#205b89;
  outline: none;
}
.file-module ul.file-browse li span{
  background:#909090;
  color:#fff;
  padding:3px 5px;
  font-size:11px;
}
.file-module ul.file-browse li.active-cat{
  background: #ffffff;
  border:1px #bdbdbd solid;
  border-bottom:none;
  -moz-border-radius: 7px 7px 0px 0px;
  border-radius: 7px 7px 0px 0px;
  padding-bottom:11px;
}
.file-module ul.file-browse li.active-cat a{
  color:#323232;
  text-decoration: none;
  outline: none;
}
.file-module ul.file-browse li.active-cat span{
  background:#000000;
}
.file-thumb-view{
  border: 1px #c8c8c8 solid;
  margin-top:10px;
}
.file-thumb-view{
  background:url("../images/file-thumb-bg.jpg") repeat-x;
  height: 260px;
  padding-left: 0px;
  padding-top: 10px;
  
}

.file-thumb-view .thumb-holder{
  float:left;
  padding:0px;
  margin-left:15px;
  width:127px;
  height:220px;
  border-right:1px #e4e4e4 solid;
}
.file-thumb-view .thumb-holder-last{
  border-right:none;
}
.file-thumb-view .thumb-holder div{
  background: url("../images/file-pre-bg.png") no-repeat -3px bottom;
  height:165px;
}
.file-thumb-view .thumb-holder img{
  margin-top:10px;
  border:1px #dcdcdc solid;
}
.file-thumb-view .thumb-holder p{
  width:110px;
  margin:0px 0px 0px 3px;
  font-size:11px;
  color:#939393;
}
.file-thumb-view .thumb-holder p a{
  color: #3671a6;
  text-decoration: none;
  font-weight:bold;
  font-size:13px;
  font-family: Arial;
  word-wrap: break-word;
}
.file-thumb-view .view-all-files {
  clear: both;
  padding-top: 15px;
  padding-right:18px;
}
.file-thumb-view .view-all-files a{
  font-family: Tahoma;
  font-size:11px;
}
.files-page .share-files{
  margin-top:20px;
  margin-bottom:15px;
}
.share-files .heading-box .item-options{
  position: absolute;
  margin-top:33px;
  margin-left:498px;
}
.share-files .heading-box .item-options li a{
  text-decoration: underline;
}
.files-page .hide-tabs{
  display:none;
}
/* Files listing */
.files-page .pagination-count{
  border-bottom: 1px solid #D9D9D9;
  padding-bottom:8px;
  margin-bottom:8px;
}
.file-holder{
  padding:10px;
  height:auto;
  overflow:auto;
}
.file-holder .img-thumb{
  padding-right: 12px;
  float:left;
  height:100%;
}
.file-info{
  margin-left:30px;
  color:#989898;
}
.file-info .list-table-title{
  font-size:15px;
  color:#205b89;
  font-family: Arial;
}
.file-info .file-type{
  font-size:12px;
  color:#949494;
}
.file-info .file-info-attr{
  color:#949494;
}
.file-info .high{
  color:#5c5c5c;
}
.file-info .file-det{
  margin:5px 0px;
}
.file-holder .img-thumb img{
  border: 1px #dddddd solid;
}
.file-holder .img-thumb{
  background: url("../images/file-pre-list-bg.png") no-repeat -3px bottom;
}
/* Jakeup Edit on 12 01 2011 */

#rev-content{
float:left;
width:921px;
padding:17px 0 0 5px;
position:relative;
background:#FFF;
}

#revisions {
margin-bottom: 20px;
}
#revisions h2 {
font-size: 16px;
}
#revisions h2 span {
font-size: 11px;
font-weight: normal;
}
#revisions h2 span a {
color: #014F80;
outline: medium none;
}
#revisions h3 {
background: url("../images/acc-normal.gif") no-repeat scroll 5px 14px #F3E7D9;
color: #4272a1;
cursor: pointer;
font-size: 15px;
font-weight: bold;
padding-left: 30px;
padding:10px 22px;
font-family: Arial;
margin-bottom:0px;
}
#revisions h3.active {
background: url("../images/acc-selected.gif") no-repeat scroll 5px 14px transparent;
}
#revisions h3.odd {
background:url("../images/acc-normal.gif") no-repeat scroll 5px 14px #f0f0f0;
}
#revisions h3.even {
background:url("../images/acc-normal.gif") no-repeat scroll 5px 14px transparent;
}
#revisions h3.odd.active {
background:url("../images/acc-selected.gif") no-repeat scroll 5px 14px #f0f0f0;
}
#revisions h3.even.active {
background:url("../images/acc-selected.gif") no-repeat scroll 5px 14px transparent;
}
#revisions h3 span {
color: #DC7800;
font-family: Arial;
font-size: 13px;
}
#revisions .revision {
padding: 0px 20px 20px 20px;
margin-top:0px;
}
#revisions .revision.odd{background:#f0f0f0;}

#revisions .revision.even{}

#revisions .revision p {
margin-bottom: 8px;
margin-top:0px;
padding-top:0px;
}
#revisions .revision p a {
font-size: 13px;
font-weight: bold;
text-decoration: underline;
}
.del-files{
  float:right;
}
.del-files a{
  color:#ff0000;
  /*background: url(../images/ico-trash.gif) 0 2px no-repeat;*/
  outline: none;
}