.editableText:hover {
	outline: 1px dashed grey;
}
.editableToolbar:hover + * {
	outline: 1px dashed grey;
}
.editableToolbar {
  float:right;
}
.editableToolbar a{
    display: block;
    width: 17px;
    height: 15px;
    float: left;
    margin: 2px;
}
.editableToolbar .edit {	
	background: url("../images/icons.png");
}
.editableToolbar .save {
    background: url("../images/icons.png") -16px 0;
}
.editableToolbar .cancel {
    background: url("../images/icons.png") 25px 0;
}