/*
#facebox .b {
  background:url(../images/facebox/b.png);
}

#facebox .tl {
  background:url(../images/facebox/tl.png);
}

#facebox .tr {
  background:url(../images/facebox/tr.png);
}

#facebox .bl {
  background:url(../images/facebox/bl.png);
}

#facebox .br {
  background:url(../images/facebox/br.png);
}
*/
#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
	border:1px #cccccc solid;
	background:#ededed;
	padding:10px;
  width:800px;
}

#facebox .popup {
  position: relative;
	border:1px #cccccc solid;
}

#facebox table {
  border-collapse: collapse;
  width:100%;
}

#facebox td {
  border-bottom: 0;
  padding: 0;
}

#facebox .body {
  background: #fff;
  padding-right:20px;
}

#facebox .loading {
  text-align: center;
}

#facebox .image {
  text-align: center;
}

#facebox img {
  border: 0;
  margin: 0;
}

#facebox .footer {
  border-top: 1px solid #DDDDDD;
  padding-top: 5px;
  margin-top: 10px;
  text-align: right;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
  overflow: hidden;
  padding: 0;
}

#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height:100%;
  width:100%;
}

.facebox_hide {
  z-index:-100;
}

.facebox_overlayBG {
  background-color: #000;
  z-index: 99;
}

* html #facebox_overlay { /* ie6 hack */
  position: absolute;
  height: expression(document.body.scrollHeight > document.body.offsetHeight ? document.body.scrollHeight : document.body.offsetHeight + 'px');
}
