.outtaHere {
	position:absolute;
	left:-3000px;
}
.clear-both{
	clear:both;
}
/* Selects */
.selectArea {
	z-index: 1;
	height: 30px;
	color: #000;
	font-size: 11px;	
	margin: 0 5px 0 0;
	position: relative;
	cursor:pointer;
}

.selectArea .left {
	top: 0;
	left: 0;
	width: 5px;
	height: 30px;
	display: block;
	position: absolute;
	background:url(../images/feedback/select-left.gif) no-repeat;
}
.selectArea a.selectButton {
	position: absolute;
	top: 0;
	right:1px;
	width: 31px;
	height: 30px;
	cursor: pointer;
	background: url(../images/feedback/select-right.gif) no-repeat;

}
.selectArea .center {
	height: 30px;
	line-height: 21px;
	display: block;
	padding: 4px 0 0 7px;
	margin: 0 21px 0 1px;
	background: url(../images/feedback/select-middle.gif) repeat-x;
	color:#828281;
	font-family:Helvetica, Arial, sans-serif;
	font-size:11px;
	text-align:left;
}
.selectArea .center img {float:left;}

/*Selects drop-down*/
.optionsDivInvisible,
.optionsDivVisible {
	z-index: 30;
	display: block;
	font-size: 11px;
	position: absolute;
	background-color: #fff;
	border: 1px solid #AFAFAF;
}
.drop-dif {background:#9CC;}
.drop-foot-select {margin: 6px 0 0;}

.optionsDivInvisible {display: none;}

.optionsDivVisible {
	margin-top:4px;
	}

.optionsDivVisible ul {
	margin: 0;
	height: 1%;
	padding: 2px;
	overflow:scroll;
overflow-x:hidden;
	list-style: none;
height:70px;
}
.optionsDivVisible ul li {
	float: left;
	width: 100%;
	padding:2px 0px;
}
.optionsDivVisible a {
	height: 1%;
	color: #5C5C5C;
	display: block;
	padding: 2px 4px;
	overflow: hidden;
	text-decoration: none;
}
.optionsDivVisible a img {
	float: left;
	border: none;
}
.optionsDivVisible a:hover {
	color:#000000;
	background-color:#CCCCCC;
}

.listtype {
	margin:0px;
	}