@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: black;
  background: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size:12px;
}
ol, ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: center;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

#header{
  background-color:#f0f0f0;
  width:100%;
  height:113px;
  border-bottom:1px #d8d8d8 solid;
  position: absolute;
  z-index: -1;
  top:0px;
}
#wrapper{
  margin:0 auto;
  width:1000px;
  font-size:12px;
  text-align:left;
}

#logo{
  padding-top:30px;
}
#box{
  overflow:hidden;
  height: 100%;
  margin-top:11px;
  padding-top:30px;
}
#box-left{
  float:left;
  width:600px;
}
#box-features-holder{
  margin-top:30px;
  overflow:hidden;
  height:100%;
}
#box-features-holder ul{
  float:left;
  width:250px;
}
#box-features-holder ul.last-info{
  width:247px;
  margin-left:50px;
}
#box-features-holder ul li{
  padding-bottom:60px;
  color:#5d5d5d;
  padding-left:65px;
}
#box-features-holder ul li p{
  line-height:17px;
  font-size:13px;
}
#box-features-holder ul li p.ico-info{
  margin-top:3px;
}
#box-features-holder ul li.news-info{
  background:url('../images/login/ico/ico-news.jpg') no-repeat;
}

#box-features-holder ul li.status-info{
  background:url('../images/login/ico/ico-status.jpg') no-repeat;
}

#box-features-holder ul li.files-info{
  background:url('../images/login/ico/ico-files.jpg') no-repeat;
}
#box-features-holder ul li.contacts-info{
  background:url('../images/login/ico/ico-contacts.jpg') no-repeat;
}
#box-features-holder ul li.offers-info{
  background:url('../images/login/ico/ico-offers.jpg') no-repeat;
}
#box-features-holder ul li.market-info{
  background:url('../images/login/ico/ico-market.jpg') no-repeat;
}
#box-features-holder ul li p strong{
  font-weight:bold;
  font-size:14px;
}

#box-left-inner{
  padding:0px 25px;
}
#header-text{
  font-size:21px;
  color:#144e77;
  text-shadow:1px 0px 1px #d9d9d9;
}
#box-right{
  
  float:right;
  width:390px;
}
.login-box{
  box-shadow: 0px 0px 12px #d1d1d1;
  -moz-box-shadow: 0px 0px 12px #d1d1d1;
  -webkit-box-shadow: 0px 0px 12px #d1d1d1;
  border-radius:5px;
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  
  margin-right:20px;
  border: 1px #162380 solid;
  background:#f4f4f4;
}
.head-text{
  font-family: Helvetica, Arial, sans-serif;
  font-size:20px;
  font-weight:bold;
  padding:11px;
  /*
  background:#0D476D;
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.09, #0D476D), color-stop(1, #72A8DF));
  background-image: -moz-linear-gradient(center bottom,#0D476D 9%, #72A8DF 100%);
  */
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  background: url('../images/login/bg_signin.jpg') repeat-x;
  color:#ffffff;
  margin-bottom:15px;
}
input.login-input{
  font-family: Helvetica, Arial, sans-serif;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin:10px;
  border:1px #d3d1d1 solid;
  color: #979797;
  font-size: 18px;
  height: 25px;
  padding: 10px 10px;
  width: 325px;
  line-height:20px;
  box-shadow: 0 3px 5px #FFFFFF, 0 2px 10px #D3D1D1 inset;
  -moz-box-shadow: 0 3px 5px #FFFFFF, 0 2px 10px #D3D1D1 inset;
  -webkit-box-shadow: 0 3px 5px #FFFFFF, 0 2px 10px #D3D1D1 inset;
}
.login-box p{
  color:#aeaeae;
  font-size:12px;
  font-style: italic;
  padding:0px 18px;
  margin-bottom:10px;
}
.login-box a {
  color: #104A71;
  font-size: 15px;
}
.label_check{
  color: #767171;
  font-size: 14px;
  height: 22px;
  margin-left:10px;
/*  padding-left: 25px;*/
  padding-top: 2px;
/*  background: url("../images/login/check-off.png") no-repeat scroll 0 0 transparent*/
}
label.c_on{ background: url('../images/login/check-on.png') no-repeat; }
.label_check input {
  /*left:-9999px;
  position: absolute;*/
  vertical-align: -2px;
}
input.login-bt{
  border:1px #15216b solid;
  /*
  background:#0D476D;
  background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.09, #0D476D), color-stop(1, #72A8DF));
  background-image: -moz-linear-gradient(center bottom,#0D476D 9%, #72A8DF 100%);
  */
  font-family: Helvetica, Arial, sans-serif;
  background:#124c74 url('../images/login/bg-bt.jpg') repeat-x;
  color:#ffffff;
  margin-bottom:20px;
  margin-left:10px;
  margin-top:10px;
  padding: 5px 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  font-size:15px;
  font-weight:bold;
  outline:none;
  text-shadow:2px 1px 1px #383838;
  cursor: pointer;
}
#helplist{
  margin-top:15px;
  padding-left:13px;
}
.helpnav{
  background-image: url("../images/login/dot.png");
  background-position: 4px 4px;
  background-repeat: no-repeat;
  display: inline;
}
.helpnav a {
  color: #06237F;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  margin-left: 14px;
  padding: 5px;
}
#footer{
  border-top: 1px #e3e3e3 solid;
  text-align: center;
  margin:0 20px;
  font-size:15px;
  color:#717171;
  padding-top:20px;
}
.login-box p.error-msg{
  color: #d70000;
  background:#ffe8e8 url("../images/login/ico/ico-log-error.png") no-repeat scroll 70px 7px;
  font-style:normal;
  font-size:14px;
  text-align:center;
  padding:10px;
  
}
#password{
  display:none;
}

.overlay{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: #181818;
  z-index:1001;
  -moz-opacity: 0.7;
  opacity:.70;
  filter: alpha(opacity=70);
}
#fgt-pass{
  display:none;
  position:absolute;
  z-index: 2000;
  box-shadow: 0px 0px 12px #000;
  -moz-box-shadow: 0px 0px 12px #000;
  -webkit-box-shadow: 0px 0px 12px #000;
  width:400px;
}
#fgt-pass p{
  font-size:16px;
  color:#303030;
  font-style: normal;
  line-height:24px;
  margin:30px 0 15px 0;
}

#trouble-signin{
  display:none;
  position:absolute;
  z-index: 2000;
  box-shadow: 0px 0px 12px #000;
  -moz-box-shadow: 0px 0px 12px #000;
  -webkit-box-shadow: 0px 0px 12px #000;
  width:400px;
}
#trouble-signin p{
  font-size:16px;
  color:#303030;
  font-style: normal;
  line-height:24px;
  margin:30px 0 15px 0;
}
#trouble-signin p.info{
  margin:0px 0 0px 0;
}

#status-fgt-pass .trouble-msg p{
  font-size:16px;
  color:#303030;
  font-style: normal;
  line-height:24px;
  margin:30px 0 15px 0;
}
#status-fgt-pass .trouble-msg .align-center{
  text-align: center;
}
#status-fgt-pass .trouble-msg p.info{
  margin:0px 0 0px 0;
}
#status-fgt-pass .ok-msg{
  border: 1px #49b24d solid;
  margin:5px 15px;
  background: #e5fce6 url('../images/login/ico/ico-ok-bg.jpg') 20px 25px no-repeat;
  padding-left:70px;
}

#status-fgt-pass .fail-msg{
  border: 1px #e87966 solid;
  margin:5px 15px;
  background: #fcf0ee url('../images/login/ico/ico-error-bg.jpg') 20px 25px no-repeat;
  padding-left:70px;
}
#status-fgt-pass .fail-msg p.msg-title{
  color:#e4462a;
  font-weight:bold;
  font-size:15px;
  margin:10px 0px 0px 0px;
  padding:0px;
}
#status-fgt-pass p.msg-title{
  color:#527812;
  font-weight:bold;
  font-size:15px;
  margin:10px 0px 0px 0px;
  padding:0px;
}
#status-fgt-pass p.msg-info{
  color:#656b65;
  font-size:14px;
  margin:5px 0 10px 0px;
  padding:0px;
  line-height:20px;
}



#trouble-signin .login-input{
  margin-top:35px;
  width:260px;
}
#trouble-signin p.align-center{
  text-align:center;
}
#trouble-signin input.login-bt{
  padding:12px 10px
}
.status{
  text-align: center;
  margin-bottom:20px;
}
#status-fgt-pass .status img{
  margin-top:30px;
}
#status-fgt-pass .status p{
  font-size:18px;
  font-weight: 100;
  margin-top:15px;
  margin-bottom:50px;
  color:#303030;
  font-style: normal;
  line-height:24px;
}
#status-fgt-pass p.sub-info{
   font-size:14px;
   color:#5f5f5f;
   margin-top:-40px;
   text-align: left;
}
#status-fgt-pass{
  display:none;
  position: absolute;
  width: 400px;
  z-index: 2000;
  box-shadow: 0px 0px 12px #000;
  -moz-box-shadow: 0px 0px 12px #000;
  -webkit-box-shadow: 0px 0px 12px #000;
}
