.logo a{
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='../../images/logo.png', sizingmethod='crop');
	background-position:-9999px -9999px;
}
#nav li .drop .t{
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='../../images/bg-drop-t.png', sizingmethod='crop');
	background-position:-9999px -9999px;
}
#nav li .drop .b{
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='../../images/bg-drop-b.png', sizingmethod='crop');
	background-position:-9999px -9999px;
}
#nav li ul{
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='../../images/bg-drop-c.png', sizingmethod='scale');
	background-position:-9999px -9999px;
}
.sorting li{
	background-image: expression( (this===this.parentNode.childNodes[0]) ? "none" : "auto");
}
.header-w{
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='../../images/bg-top-box.png', sizingmethod='crop');
	background-position:-9999px -9999px;
}
#footer{
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='../../images/bg-footer.png', sizingmethod='crop');
	background-position:-9999px -9999px;
}
#main{
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='../../images/bg-main.png', sizingmethod='scale');
	background-position:-9999px -9999px;
}
.market-page #footer{
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='../../images/bg-footer-market.png', sizingmethod='crop');
	background-position:-9999px -9999px;
}
.market-page #main{
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='../../images/bg-main-market.png', sizingmethod='scale');
	background-position:-9999px -9999px;
}
.market-page-add-item #main{
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='../../images/bg-main-market-add-item.png', sizingmethod='scale');
	background: url(images/bg-main-market-add-item.png) repeat-y;
}
.market-page-add-item #footer{
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='../../images/bg-footer-market-add-item.png', sizingmethod='crop');
	background: url(images/bg-footer-market-add-item.png) no-repeat;
}
.files-share #main{
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='../../images/bg-main-files-share.png', sizingmethod='scale');
	background: url(images/bg-main-market-add-item.png) repeat-y;
}
.files-share #footer{
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='../../images/bg-footer-files-share.png', sizingmethod='crop');
	background: url(images/bg-footer-market-add-item.png) no-repeat;
}

.files-page #main{
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='../../images/bg-main-files.png', sizingmethod='scale');
	background-position:-9999px -9999px;
}
.edit-profile #footer{
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='../../images/bg-footer-edit-profile.png', sizingmethod='crop');
	background: url(images/bg-footer-market-add-item.png) no-repeat;
}
.edit-profile #main{
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='../../images/bg-main-edit-profile.png', sizingmethod='scale');
	background-position:-9999px -9999px;
}
#status-msg-count{
  margin-top:7px;
  font-size:18px;
  margin-left:0px;
}
.search-div input{
  padding:7px 0 0 27px;
}
.phonebook #footer{
	filter:progid:dximagetransform.microsoft.alphaimageloader(src='../../images/bg-footer-phone-book.png', sizingmethod='crop');
	background: url(images/bg-footer-phone-book.png) no-repeat;
}