body	{background: #f3f1ee;}
.full-width	#header, .profile #header	{margin-bottom: 5px;}
.full-width	h2, .profile h2	{margin: 5px auto; font-size: 17px;}
#header	{background-color: #191919; color: #a2a2a2; height: 43px; margin-bottom: 27px;}
#header	{background: url('../images/sprite/header_bg.gif') repeat-x top left;
	position:fixed;
	z-index:1000;
	width:100%;}

.spacer{
	height:60px;
	width:100%;
}

#header .wrapper, #footer .wrapper, .wrapper	{max-width: 943px; margin: auto; }
#header .wrapper{position:relative;}
#header .logo	{width: 25px; height: 23px; margin: 9px auto 10px; float: left; text-indent: -999px;}
#header .logo	{background: url('../images/main-sprite.png') no-repeat; background-position: 0 -1369px;}
#header ul#menu, #header .accounts {background: url('../images/main-sprite.png') no-repeat; background-position: 0 -1517px;}
#header .accounts a	{color: #a2a2a2;}
#header .accounts a:hover	{color: #FFF;}
#header .accounts	{ float: right; font-size: 14px; padding: 8px 0 7px 8px;}
#header .accounts .more	{background: url('../images/sprite/header_arrow.png') no-repeat center center; width: 15px; height: 8px; display: inline-block;}
#header .accounts img {vertical-align: middle; margin: 0 6px; border-radius: 12px;}
#header .notification	{background: url('../images/main-sprite.png') no-repeat left top; float: right;padding: 5px; margin-top:5px; background-position: 0 -1107px;/*MDS*/}
#header .notification span	{background: #4293F7; border-radius: 7px; color: #FFFFFF; font-size: 12px; margin-left: 7px; padding: 3px 6px 1px; /*MDS*/}
#header .notification a	{ height: 25px; display: block; text-decoration: none;}

#header .hlight	{color: #c2c2c;}
#header ul#menu	{font-size: 14px; float: left; margin-left: 10px; padding-left: 7px; }
#header ul#menu li	{display: inline-block;}
#header ul#menu li a	{display: inline-block; padding: 11px 6px; color: #a2a2a2; text-decoration: none; /*MDS*/}
#header ul#menu li a:hover	{color: #FFF;}
#footer	{color: #999999; font-size: 12px; margin: 10px auto 5px; text-align: center; padding-bottom: 30px; }

.shadow	{border: 1px solid #dcdad7; border-radius: 3px; box-shadow: 3px 3px 4px #EAE8E5;}
.shadow-2	{border: 1px solid #e5e3e0; border-radius: 3px; box-shadow: 3px 3px 4px #EAE8E5;}
.shadow-3	{border: 1px solid #e5e3e0; box-shadow: 1px 1px 0px #dedede;}
#recent-posts dl.block-2 dt a{ width: auto; height: auto; float: left; display: block; border: 1px solid #dedede; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; -webkit-box-shadow: 1px 1px 1px #dedede; -moz-box-shadow: 1px 1px 1px #dedede; box-shadow: 1px 1px 1px #dedede; }
.cs-clip	{border-radius: 50%; border: none; float: left; }
.widget-head	{font-size: 14px; color: #454545;}
.box	{background: #FFF;}
.round-c	{border-radius: 12px;}

textarea	{font-size: 15px; height: 70px; padding: 5px 0; overflow: hidden; resize: none;}
.btn-sm	{ background:#4293F7; border:none; text-transform: uppercase; color: #fff; font-size: 12px; padding: 5px 8px;}/*MDS*/
.btn-sm.inactive	{color: #fff;background:#97c4fc; }/*MDS*/
.btn-sm.btn-grn	{background: #096;border:none;color: #fff;}/*MDS*/
.btn-sm.btn-grn.inactive	{background: #7ec988;}
.btn-sm.btn-gry	{background: #F2F2F2; border: 1px solid #DEDACB; color: #999999; }
.btn-sm.btn-wht	{background: #FFF; border: 1px solid #DEDACB; color: #999999;}
.btn-sm.icon	{background-repeat: no-repeat; background-position: 7px center; padding-left: 25px;}	/* 14x14 icon */
.btn-sm.icon.edit	{background-image:  url('../images/icons/iconEdit.png');}
.btn-sm.icon.share	{background-image:  url('../images/icons/iconShare.png');}

a.btn-sm	{padding: 5px 13px 3px;color: #fff; /*MDS*/}
a.btn-sm:hover	{text-decoration: none;}
a.btn-sm.btn-gry	{color: #999999;}
a.btn-sm.btn-gry:hover	{color: #888; border-color: #CCC;}
a.btn-sm.btn-wht	{color: #999999;}
a.btn-sm.btn-wht:hover	{color: #888; border-color: #CCC;}


.iconPhoto	{padding: 4px 12px; background: #FFF url('../images/icons/iconPhoto.png') no-repeat center center; border-radius: 3px;}

label.custom-select {
	position: relative;
	display: inline-block;

}
.custom-select select {
	display: inline-block;
	padding: 4px 3px 3px 5px;
	margin: 0;
	font: inherit;
	outline:none; /* remove focus ring from Webkit */
	line-height: 1.2;
}
/* Select arrow styling */
.custom-select:after {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	font-size: 60%;
	line-height: 30px;
	padding: 0 10px;
	background: #FFF;
	border: 1px solid #D5D5D5;
	border-left: none;
	border-radius: 0 3px 3px;
	widthxA: 26px;
	background: #FFF url('../images/icons/icoArrowGrey.png') no-repeat center center;
}
.no-pointer-events .custom-select:after {
	content: none;
}

.msg	{border-radius: 3px; margin: 7px 25px 0; padding: 5px 7px;}
.msg.error, .xmsg .error, xlabel.error	{background: #FFD5D5; border: 1px solid #EF8A8F; color: #EF8A8F;}
.msg.warning, .xmsg .warning, xlabel.warning	{background: #fef5d1; border: 1px solid #d8bf98; color: #d8bf98;}
.msg.info, .xmsg .info, xlabel.info	{background: #d7effb; border: 1px solid #8ab4d5; color: #8ab4d5;}
.msg.success, .xmsg .success, xlabel.success	{background: #ecf7d8; border: 1px solid #b7d09e; color: #b7d09e;}


.arrow-l {border-style: dashed; border-color: transparent; border-width: 7px; display: -moz-inline-box; display: inline-block; font-size: 20px; height: 0; line-height: 0; position: relative; vertical-align: middle; width: 0;}
.arrow-l {border-right-width: 10px; border-right-style: solid; border-right-color: #FFF; right: 0.25em;}

.serrorClass	{border: 1px solid #EF8A8F;}

.section	{}
.section .left-contents	{float: left; margin: 10px 0 0; background: #FFF; width: 645px; border: 1px solid #dcdad7; border-radius: 3px; Nov 18, 2013: 3px 3px 4px #EAE8E5;/*MDS*/}
.section .right-contents	{float: right; width: 253px; margin-left: 37px;}
/*.section .right-contents #hanging{position:relative; z-index:100;}*/
#hanging{position:fixed; z-index:100; right:-3px; top:89px;}
#hanging .box{ background:#000; border-radius:3px; padding-bottom:15px;}
#hanging .box li {width:25px; padding:15px 0 0; margin:0 15px;}
#hanging .box li a{display:block; width:25px; height:25px; opacity:0.5;}
#hanging .box li a.contactus{background:url('../images/main-sprite.png') no-repeat;background-position: 0 -75px;}
#hanging .box li a.help{background:url('../images/main-sprite.png') no-repeat; background-position: 0 -205px; }
#hanging .box li a.not{background:url('../images/main-sprite.png') no-repeat; background-position: 0 -1607px; }
#hanging .box li a.code{background:url('../images/main-sprite.png') no-repeat; background-position: 0 0; }
#hanging .box li a.logout{background:url('../images/main-sprite.png') no-repeat; background-position: 0 -1442px;}
#hanging .box li a:hover{ opacity:1;}
.loader-more, .show-loader	{margin: 0 0 30px; background: url('../images/loading.gif') no-repeat center center; clear:both;}

a.blue-link-small	{font-size: 13px; color: #29639f;}
a.grey-link	{color: #acacac;}


.placeholder, .ie-placeholder	{color: #999;}
.textC	{
	border: 1px solid #d5d5d5;
	background: #FFF;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #EEEEEE inset;
	padding: 0 10px;
}
.textC-focus	{
	box-shadow: 1px 1px 2px #efe1a4 inset;
	border: 1px solid #eee0a2 !important;
}
.textC-error	{
	box-shadow: 1px 1px 2px #FFD5D5 inset;
/*	border: 1px solid #EF8A8F;*/
	background: #FFD5D5;
}
.textC input[type=text],
.textC input[type=password],
.textC input[type=email],
.textC textarea	{
	width: 100%;
	background: transparent;
}

.textC #txtSearch{
	width:85%;
}

.textC input.valid	{background: url('../images/icons/iconTick-14x14.png') no-repeat right center;}
.textC input.invalid	{background: url('../images/icons/iconCross-14x14.png') no-repeat right center;}


.job_description ul {list-style-type: disc; margin: 8px auto 17px 15px;}
.job_description ul li {list-style: disc; margin: auto auto 7px 15px; padding-left: 5px;}

.no-result-block	{background: #F9F9F9; border: 1px solid #F1F1F1; border-radius: 3px; margin: 25px 45px 45px; padding: 10px 20px; color: #333; line-height: 1.6; border: 1px solid #EEE; background: #FFFFED; box-shadow: 0 0 2px 0 #EEEEEE; box-shadow: 3px 3px 2px -2px #EEEEEE;}


#recent-posts ul.filter, ul.filter	{border-bottom: 1px solid #D9D9D9; font-size: 14px; padding: 0px 56px;}
.concept_page #recent-posts ul.filter, ul.filter	{border-bottom: 1px solid #D9D9D9; font-size: 14px; padding: 0px 50px;}
#recent-posts ul.filter li, ul.filter li	{display: inline-block; padding: 0 5px;}
#recent-posts ul.filter li a, ul.filter li a	{color: #97999b; text-decoration: none; display: inline-block; padding: 5px 0;}
#recent-posts ul.filter li a:hover, ul.filter li a:hover	{color: #3c3c3c;}
#recent-posts ul.filter li.active a, ul.filter li.active a	{border-bottom: 2px solid #638bb4; color: #3c3c3c;}

#recent-posts ul.filter li.setting{float:right; font-size:10px; line-height:12px; margin-top:5px; margin-right:-26px; position:relative; display:none;}
#recent-posts ul.filter li.setting a{ color:#0099FF; cursor:pointer;}
#recent-posts ul.filter li.setting a:hover{text-decoration:underline;}
.drop-down, .drop-down-2{ position:absolute; top:25px; padding:10px; width:150px; right:0; background:#FEF6D8; z-index:100; font-size:12px;}
.drop-down p, .drop-down-2 p{ font-size:12px; line-height:14px; margin-bottom:10px;}
.drop-down p span, .drop-down-2 p span{ font-size:10px; color:#666;}
.drop-down p input[type=radio], .drop-down-2 p input[type=radio]{ margin-right:5px; height:12px;}
#recent-posts .block-1 .rp-contents h2{position:relative;}
#recent-posts .block-1 .rp-contents h2 a.arw-drop{ float:right; background:url('../images/not-drop-arw.jpg') no-repeat; width:10px; height:7px; cursor:pointer;}

 .drop-down-2{top:10px; background:#fff; padding:5px 0;}
  .drop-down-2 ul li, #recent-posts .block-1 .drop-down-2 ul li{ display:block;}
 .drop-down-2 ul li a{ padding:5px 10px; display:block; color:#000;}
  .drop-down-2 ul li a:hover{text-decoration:none; background:#FEF6D8;}

.dlgsetting h4{ font-size:18px; margin-top:15px; border-bottom:#CCC 1px dotted;}
.dlgsetting p{ font-size:16px; margin-bottom:20px;}

.dlgsetting p input[type=radio]{ margin-right:10px;}
 
.rp-social	{margin: 10px 0 0;}
.rp-social var, .rp-social-like var	{font-style: normal;}
.notification-block .n-title {background: #FFF6D7; font-size: 14px; margin: -8px -8px 6px; padding: 8px 15px;}
.notification-block .view-all	{float: right; margin-right: 15px;margin-top: 5px;}
.notification-block .rp-social-ext-block 	{border-bottom: 1px dotted #CECECE; margin-bottom: 7px; padding-bottom: 7px; margin-left: -5px; margin-right: -5px; }
.notification-block .rp-social-ext-block:last-child	{border-bottom: none; margin-bottom: 0; padding-bottom: 0;}
.notification-block .rp-social-ext-block li	{float: left; display: inline-block; font-size: 13px; }
.notification-block .rp-social-ext-block li.rp-ext-lft {padding-left: 20px;}
.notification-block .rp-social-ext-block li.rp-ext-lft img	{margin-right: 5px; margin-top: 5px;}
.notification-block .rp-social-ext-block .rp-ext-rgt	{color: #666; padding-right: 20px; margin-top: 5px;} 
.notification-block .rp-social-ext-block span	{color: #999; font-size: 13px;}
.rp-social-ext-block li	.rp-social{ font-size:12px; margin:5px 0;}
.rp-social-ext-block li	.rp-social a.bLike{ padding-top:4px; color:#666;}
.rp-social-ext-block li	.rp-social a.bLike.count{ color:#000;}
.rp-social-ext-block li	.rp-social span.count{color:#000;font-size:14px;}
.u-menu-block ul {margin-left: -5px; margin-right: -5px;}
.u-menu-block li	{border-bottom: 1px dotted #EAEAEA; color: #454545; font-size: 14px; padding: 8px 20px;}
.u-menu-block li:last-child	{border-bottom: none; margin-bottom: 0; padding-bottom: 0;}

.rp-social-ext .rp-social-ext-block{position:relative;}
.rp-social-ext .rp-social-ext-block a.close{ width:33px; height:15px; right:0; top:0; position:absolute; opacity:0.2;}
.rp-social-ext .rp-social-ext-block a.close:hover{opacity:0.5;}
.block-follow	{
	margin-bottom: 35px;
	margin-top: 10px;
}
.block-follow .box	{
	background: #FFF;
	padding: 12px;
}
.follow-box-c	{
	padding-left: 30px;
	font-size: 13px;
}
.follow-box-c img.avatar	{
	float: left;
    margin-left: -32px;
    margin-top: 0;
}
.follow-box-c h2	{
	font-size: 17px;
    /*margin: 5px auto 10px;*/
	margin-bottom: 0;
}
span.status {
    border-radius: 8px;
    display: inline-block;
    font-size: 10px;
    height: 10px;
    width: 10px;
	margin-left: 5px;
	line-height:14px;			/*MDS*/
}
.status.online, .status.available	{
    background: #01A75B;
}
.status.busy	{
    background: #d42f1f;
}
.status.away	{
    background: #ff8600;
}
.status.offline	{
    background: #bfbfbf;
}

.profile-intro span,
.follow-box-c span	{
    font-size: 14px;
}
.profile-intro ul,
.follow-box-c ul	{
	margin-top: 10px;
}
.profile-intro ul li,
.follow-box-c ul li	{
	padding: 2px 0;
}
.follow-box-c ul li.email a	{		/*MDS*/
	padding-left:25px;
}

.follow-box-c ul li.mail a	{		/*MDS*/
	width: 23px !important; background: url('../images/icons/iconMail_04.png') no-repeat ;background-size:20px 15px;
	display:block;
	/*text-indent:-9999px;*/
	padding-left: 24px;
}
.product-grid .follow-box-c ul li:last-child	{
	text-align: right;
}
.profile-intro ul li input,
.follow-box-c ul li input	{
	margin-top: 10px;
	margin-bottom: 5px;
}
.profile-block .x-members	{margin: 5px 0 0;}
.profile-block .x-members span	{padding-left: 15px; font-weight: bold; background: url('../images/icons/iconMembers.png') no-repeat center left;}
.profile-block-description{ height:70px; overflow:hidden;}
.status-block-description{ height:70px; overflow:hidden;}
.comment-block-description{ height:65px; overflow:hidden;}
.more-less{clear:both; display:block; text-align:right; text-decoration:underline; font-size:14px;}
.feed-more-less{clear:both; display:block; text-align:right; text-decoration:underline; font-size:12px;}
.comment-more-less{clear:both; display:block; text-align:right; text-decoration:underline; font-size:12px;}
.widget .cp-followers-bx, .market-box .p-followers-bx	{}
.widget .x-members	{margin: 5px 0 18px 0;}
.widget .x-members span	{padding-left: 15px; font-weight: bold; background: url('../images/icons/iconMember.png') no-repeat center left;}
.widget .cp-followers	{width: 150px; color: #808080; float: left;}
.widget .cp-followers img, .market-box .p-followers img	{width: 25px; height: 25px; margin-right: 5px; margin-bottom: 5px; border-radius: 13px; float: left; opacity: .9;}
.widget .cp-followers img:hover, .market-box .p-followers img:hover	{opacity: 1;}

/* Added by MDS on 14-10-2014 - New Icons */
.widget .widget-head.following h3 { background: left center url("../images/icons/iconFollowing.png") no-repeat; }
.widget .widget-head.followers h3 { background: left center url("../images/icons/iconFollowers.png") no-repeat; }
.widget .widget-head.groups h3	{ background: left -315px url("../images/responsive/media-nav.png") no-repeat; }
.widget .widget-head.concepts h3 { background: left -278px url("../images/responsive/media-nav.png") no-repeat; }

.widget .widget-head.latest-news h3 { background: left -116px url("../images/responsive/media-nav.png") no-repeat; }
.widget .widget-head.latest-offer h3 { background: left -155px url("../images/responsive/media-nav.png") no-repeat; }
.widget .widget-head.announcements h3 { background: left -198px url("../images/responsive/media-nav.png") no-repeat; }

.widget .widget-head.mgmt-tool h3 { background: left center url("../images/icons/iconMngmttools.png") no-repeat; }
.widget .widget-head.max-pages h3 { background: left center url("../images/icons/iconMaxpages.png") no-repeat; }

.widget .widget-head.group-document h3 { background: left center url("../images/icons/iconGroupdoc.png") no-repeat; }
.widget .widget-head.group-mgmt h3 { background: left center url("../images/icons/iconGroupmng.png") no-repeat; }
/* End Added by MDS on 14-10-2014 - New Icons */
.widget .gr-tn img	{width: 40px; height: 40px; border-radius: 20px; float: left; margin-right: 10px;}
.widget .gr-title	{margin-top: 9px; overflow: hidden;}


.iconMobile	{
	padding-left: 17px !important;
	background: url("../images/icons/iconMobile.png") no-repeat scroll left center;
	display: block;/*MDS*/
}
.iconTelephone	{
	padding-left: 17px !important;
	background: url("../images/icons/iconTelephone.png") no-repeat scroll left center;
	display: block;/*MDS*/
}
.iconExtno	{
	padding-left: 17px !important;
	background: url("../images/icons/iconExtno.png") no-repeat scroll left center;
	display: block;/*MDS*/
}


/* PROGRESS BAR - 24 September 2013 13:52:22 */
#progressBar, .progressBar { width: 100px; height: 16px; border: 1px solid #669; background-color: #FFF; font-size: 12px; box-shadow: 2px 2px 2px #669;}
#progressBar div, .progressBar div { min-width: 16px !important; height: 100%; color: #fff; text-align: right; line-height: 15px; /* same as #progressBar height if we want text middle aligned */ width: 0; background-color: #0099FF; }

.PollResponse	{}
.PollResponse li	{padding-top: 5px !important;}
.PollResponse li label	{padding-left: 0 !important; padding-bottom: 4px !important;}
.PollResponse .progressBar	{width: 150px;}




/* POPUP CONTAINER 17 September 2013 15:10:58 */
#edit-profile-box{ min-width:440px;}
.fb-container-box	{padding: 5px; font-size: 14px;}
.fb-container-box h3	{margin-bottom: 15px; font-size: 20px !important;}
.fb-container-box a.active	{color: #2ca6d6; text-decoration: none;}
.fb-container-box dl:first-child, .fb-container-box dl.cols-two:first-child	{margin-top: 15px;}
.fb-container-box dl, .fb-container-box dl.cols-two	{margin-top: 0;}
.fb-container-box dl dt {width: 40%;}
.fb-container-box dl dd {line-height: 150%; padding-bottom: 15px; padding-bottom: 9px;}
.fb-container-box dl.cols-two dd {display: inline-block; width: 100%;}
.cols-two > dd:first-child {margin-right: 1%;}
.selectC .custom-select, .selectC .custom-select select	{width: 100%;}
.radioC label {padding: 5px 0 0 1px;}
.radioC > label {line-height: 130%; margin-right: 5%;}



/* 25 September 2013 00:59:25 */
.ui-helper-hidden-accessible	{display: none;}
 .ui-autocomplete	{font-size: 14px; width: 254px !important; margin: 0; padding: 0 !important; background: #FFF; border: 1px solid #D9D9D9; border-radius: 0 0 3px 3px; box-shadow: 2px 2px 2px #efe1a4 solid; box-shadow: 2px 2px 3px #efe1a4; max-height:400px; overflow-y:scroll; position:absolute; z-index: 1000000 !important; }
.ui-autocomplete li.ui-menu-item	{border-bottom: 1px solid #F5F5F5; margin: 0 !important; }
.ui-autocomplete li.ui-menu-item:hover	{background: #efe1a4; cursor: pointer;}
 .ui-autocomplete li.ui-menu-item .ui-corner-all	{float: left;padding: 4px 10px !important;margin: 0;display: inline-block;border:none; border-radius:none;}
.ui-autocomplete li.ui-menu-item .ui-state-focus { background: none !important; }
.ui-autocomplete li:hover.ui-menu-item .ui-corner-all	{ color: #FFF; background: #efe1a4; color: #000; text-decoration: none;border:none;}
.ui-autocomplete li.ui-menu-item .ui-corner-all .search-content { width: 70%; float: left; margin: 5px 0 0 3%;}
.ui-autocomplete li.ui-menu-item .ui-corner-all .search-content p { width: 100% !important; margin: 0 !important; }
 .ui-glbAutocomplete { width: 238px !important; margin: 0 !important; top: 31px !important; z-index: 1000000 !important; }

/* TOOL TIP - AdeshM 28 October 2013 15:13:05 */
span.qTip {cursor: pointer; display: inline-block; width: 16px; height: 16px; background-color: #ccc; line-height: 20px; /*MDS-p*/ color: #FFF; font-size: 13px; font-weight: bold; border-radius: 8px; text-align: center; position: relative; margin-left:35px; top: 3px;}
span.qTip:hover {background-color: #999;}
div.tooltip {background-color: #FFFFED; border: 1px solid #EEEEEE; color: #666; position: absolute; left: 25px; top: -10px; z-index: 1000000; width: auto; min-width: 300px; text-align: left; font-weight: normal; border-radius: 3px; box-shadow: 3px 3px 2px -2px #EEEEEE;}
div.tooltip:before {border-color: transparent #FFFFED transparent transparent; border-right: 6px solid #EEEEEE; border-style: solid; border-width: 6px 6px 6px 0px; content: ""; display: block; height: 0; width: 0; line-height: 0; position: absolute; top: 10px; left: -6px;}
div.tooltip p {margin: 7px 10px; color: #666;}
.result div.tooltip{width:500px;}

#hp-action ul.hp-data li #fShare .ui-autocomplete{
	width:250px !important;
	text-align:left;
	border: 1px solid #GGG;
	box-shadow: 0 0 3px #CCC;
	z-index:100;
	max-height:172px;
	overflow-y:auto;
}

#hp-action ul.hp-data li #fShare .ui-autocomplete li.ui-menu-item{ border:none; border-bottom: 1px solid #EEE; text-align:left; padding:10px 5px 0 10px;border-radius:0; display:block; font-weight:normal; width:auto;}
#hp-action ul.hp-data li #fShare .ui-autocomplete li.ui-menu-item img{float:left; width:25px; height:25x;border-radius: 25px; margin-right:10px;}
#hp-action ul.hp-data li #fShare .ui-autocomplete li.ui-menu-item p{ float:left;}
#hp-action ul.hp-data li #fShare .ui-autocomplete li.ui-menu-item a{padding:0;}
/* TOOL TIP - 29 October 2013 00:24:09 */
#scroll-to-top {
    background: #D6D8DB; border-radius: 3px; bottom: 30px; color: #666; 	text-decoration: none; display: none; font-size: 12px; font-weight: bold; line-height: 28px; padding: 0 15px; position: fixed; right: 20px; z-index: 9; border: 1px solid #ccc;
	background: -moz-linear-gradient(top, #dddddd 0%, #cccccc 50%, #dddddd 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dddddd), color-stop(50%,#cccccc), color-stop(100%,#dddddd)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #dddddd 0%,#cccccc 50%,#dddddd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #dddddd 0%,#cccccc 50%,#dddddd 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #dddddd 0%,#cccccc 50%,#dddddd 100%); /* IE10+ */
	background: linear-gradient(to bottom, #dddddd 0%,#cccccc 50%,#dddddd 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dddddd', endColorstr='#dddddd',GradientType=0 ); /* IE6-9 */
}
#scroll-to-top:hover {color: #444; background: #ccc;}
#scroll-to-top span {background: none repeat scroll 0 center rgba(0, 0, 0, 0); font-size: 12px; padding: 0; text-shadow: none;}




@media screen and (-webkit-min-device-pixel-ratio:0) {
	.btn-sm	{padding: 4px 10px;}
}

a.home_icon {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

/* events page */
#calendar_container{
  width:100%;
  overflow:hidden;
}

.events-page #content{
  float:left;
  width:717px;
  padding:13px 0 0 7px;
  position:relative;
}
.events-page #sidebar{
  width:202px;
}
.events-page .advanced-search .search-w{
  width:603px;
  background: url(/images/bg-advanced-search-long.gif) no-repeat;
}
.events-page .advanced-search .search-w .text{
  width:515px;
}
.events-page #sidebar h2{
  background:#f5f5f5;
  border-bottom:1px solid #bdbdbd;
  margin:0 0 5px;
  padding:9px 17px 7px;
  font-size:11px;
}
.events-page #sidebar .sort-by{
  font-size:10px;
  display:block;
  padding:0 16px;
  color:#b0b0b0;
}
.events-page #sidebar .selection-filter{
  margin-left:15px;
  color:#2d2c2c;
}
.events-page #sidebar .selection-filter a{
  color:#2c6698;
  
  font-size:12px;
}
.events-page #sidebar .sort-by strong{
  color:#000;
}
/* category list */ 
.events-page #sidebar ul{
  list-style:none;
  margin:0;
  padding:7px 12px 0;
  height:1%;
  overflow:hidden;
}
.events-page #sidebar ul li{
  vertical-align:top;
  height:1%;
  overflow:hidden;
  font:12px Helvetica, Arial, sans-serif;
  padding-bottom:2px;
}
.events-page #sidebar ul li a{
  float:left;
  text-decoration:none;
  color:#3a3a3a;
}
.events-page #sidebar ul li a span{
  float:left;
  width:20px;
  color:#aaa;
  font-weight:bold;
  text-align:right;
  margin-right:7px;
}
* html .events-page #sidebar ul li a span{
  margin-right:4px;
}
.events-page #sidebar ul li a:hover{
  text-decoration:underline;
}
.events-page #footer{
  background: url(/images/bg-footer-files.png) no-repeat;
}
.cal-top{
  margin-top:12px;
}
.cal-month{
  font-size:16px;
  color:#2e2e2e;
  font-weight:bold;
  
  margin-left:5px;
}
.events-page .cal-top img{
  vertical-align:text-bottom;
}
.cal-switcher{
  float:right;
  margin-right:5px;
}
.cal-month-show{
  margin-top:5px;
  border:1px #969696 solid;
  width:100%;
  height:100%;
}
.cal-month-show th{
  background:#e3effd;
  padding:5px;
  color:#5d5d5d;
}
.cal-month-show td{
  padding:5px;
  vertical-align:top;
  width:10%;
  height:70px;
  color:#aeaeae;
}
.cal-month-show td a{
  color:#003975;
  
  font-size:11px;
}
.cal-events{
  margin-bottom:5px;
}
.cal-border-tr{
  border-top:1px solid #cbcbcb;
  border-right:1px solid #cbcbcb;
}
.cal-border-t{
  border-top:1px solid #cbcbcb;
}
/* Event List view */
.cal-list-show{
  margin-top:10px;
  width:100%;
}
.cal-list-head{
  border-bottom:1px #c8c8c8 solid;
  border-top:1px #c8c8c8 solid;
  text-align:left;
  padding-top:5px;
  padding-bottom:5px;
  color:#1b1b1b;
}
.cal-list-show td{
  padding-top:5px;
  padding-bottom:5px;
  color:#909090;
}
.event-date{
  color:#3e3e3e;
}
.cal-list-show a{
  color:#205b89;
  font-weight:bold;
  text-decoration:none;
}
.cal-list-show img{
  vertical-align:text-bottom;
  margin-right:5px;
}
.cal-list-show .zebra-strip{
  background:#f0f0f0;
}

/* Event Details */
.event-reminder-status{
  border-bottom: 1px #e4e4e4 solid;
  padding:5px 0 5px 0;
}

.events-page .container {
	padding: 15px;
}

#submit_feedback p {
	width: 530px;
	margin-bottom: 10px;
}

#submit_feedback .textC, #submit_feedback .selectC {
	margin-top: 10px;
}


/*------------------------------*/






/* About - Gallery*/
.about-gallery #main{
  /*background: url(../images/bg-main-simple.png) repeat-y;*/
}
.about-gallery #footer{
  /*background: url(../images/bg-footer-simple.png) no-repeat;*/
}
.about-gallery #content {
  width:94%;
  margin:30px auto 0;
}
.about-gallery .heading-box, .about-gallery .container { background: #fff; }
.about-gallery p {
  color:#292929;
  
  line-height:18px;
}
.about-gallery .album-holder {
    margin: 0 auto 0 13px;
    overflow: auto;
    width: 925px;
}
.about-gallery .album {
    float: left;
    margin: 0 10px 10px 0;
    width: 175px;
}
.about-gallery .photo-listing {
    height: 145px;
}
.album-row {
    overflow: auto;
    padding-bottom: 15px;
}

.album img {
    height: 100%;
}
.album-container {
    border: 1px solid #B8B8B8;
    height: 175px;
    overflow: hidden;
    width: 175px;
}
.about-gallery .album-title {
    color: #2C6698;
    font-weight: normal;
    margin-top: 5px;
}
.album-attr {
    color: #8D8D8D;
}
.album-date {
    color: #000000;
    font-size: 11px;
    font-weight: normal;
}
.pic-count{
  color:#848484;
  
  font-size:11px;
  font-weight:normal;
}
.gallery-top-pagination{
  overflow:hidden;
}

.gallery-top-pagination span{
	margin:23px 0 0 30px;
	float:left;
}
.gallery-concept{
  float:right;
  margin:20px 30px 5px;
}
#cmb_concept{
  font-size:12px;
  font-weight:normal;
  padding:4px;
}
.about-gallery .details-attr{
  border-bottom:none;
  overflow:hidden;
  margin-bottom:20px;
}

.details-attr .details-attr-title{
	float:left;
	margin-right:10px;
}

.details-attr .details-attr-res{
	float:left;
	width:200px;
}
.event-link a{
  margin-left:3px;
  color:#205b89;
  
}
.about-gallery .album-holder{
 
  padding-top:15px;
}
.gallery-paging-div{
  float:right;
  margin-top:13px;
}
.photo-count{
  font-size:16px;
  color:#929292;
  font-style:italic;
}

.pagination-footer{
  margin-top:10px;
  padding:20px 0;
  border-top:1px solid #d9d9d9;
  overflow:auto;
}
.pagination-footer-count{
  float:left;
  width:230px;
  margin-left:30px;
}
.pagination-footer-list{
  float:right;
  width:480px;
  text-align:right;
  margin-right:30px;
}
.pagination-footer-list ul{
  float:right;
  margin:0px;
  padding:0px;
}
.pagination-footer-list li{
  float:left;
  background:#4293F7;
  padding:6px 11px;
  margin-left:2px;
  list-style:none;
  font-size:10px;
  font-weight:bold;
  color:#fff;
}
.pagination-footer-list li a{
  color:#fff;
  text-decoration:none;
}

.pagination-footer-list li:hover, .pagination-footer-list li.active{
	background:#1857a5;
}

#page-list-more{
  border:none;
  background:none;
}

/*Concepts Page: Add content Popup*/
#frm_post .content-type-selection ul{
	margin-bottom:15px;
}

#frm_post .content-type-selection ul li{
	float:left;
	display:block;
	margin-right:15px;
}

#frm_post .content-type-selection ul li label{
	margin-left:5px;
}

#frm_post .custom-form-element{
	overflow:hidden;
	margin-bottom:15px;
}

#frm_post .form-title{
	float:left;
}

#frm_post .counter{
	float:right;
	font-size:12px;
}

#frm_post input[type=text], #frm_post textarea{
	width:98.5% !important;
	background:#FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #EEEEEE inset;
    padding: 5px 0.5%;
	clear:both;
	display:block;
}
#content_post_form{
	margin-top:15px;
  color:	#5E5E5E;
}
#create_content {
	width: 100% !important;
}
#selected-content-type{font-weight:bold;border-bottom:#999 1px solid; margin:0 0 10px 0;}
#content-type-selection ul li{margin-bottom:10px;}
#frm_post select{
	padding:4px;
}
#news-ablum-created-status{margin-top:10px;}
#frm_post .form-title{min-width: 15%;margin-right:20px;text-transform:none;	}
#frm_post .form-area{float:left; position:relative; padding: 0 !important;min-width: 50%;}
#frm_post .form-area input[type="text"]{width:150px !important;float:left; display:inline-block; clear:none; margin-left:20px; padding:5px; color:#999; } 

/* New updates done on 26-12-2013 */
.survey-listing {
	width:100%;
	margin:15px 0 0 0;
	overflow:hidden;
}
.survey-listing .listing-block {
	width:573px;
	padding:15px 30px;
	margin:0px 0px 5px 5px;
	border:#dcdad8 1px solid;
	background-color:#FFF;
	-webkit-box-shadow:2px 2px 2px #e5e3e1;
	-moz-box-shadow:2px 2px 2px #e5e3e1;
	box-shadow:2px 2px 2px #e5e3e1;
	overflow:hidden;
}
.survey-listing .listing-block h4 {
	width:auto;
	float:left;
	display:block;
	padding:0;
	margin:0;
}
.survey-listing .listing-block ul {
	width:auto;
	float:right;
	padding:0;
	margin:0;
	overflow:hidden;
}
.survey-listing .listing-block ul li {
	width:auto;
	float:left;
	display:block;
	margin:0 0 0 15px;
}
.survey-listing .listing-block ul li a {
	width:auto;
	float:left;
	display:block;
}
.survey-listing .listing-block ul li a img {
	width:auto;
	height:auto;
	display:block;
}

/*Notification*/
.notification{
	padding-bottom:20px;
	z-index:9999 !important;
}
.notification-head{
	padding:30px 30px 0;
	color:#454545;
	margin-bottom:20px;
}

.notification-head h3{
	margin-bottom:0.5em;
}

.notification-details{
	padding:0 30px;
}

.notification-details h5{
	padding:3px 5px;
	background:#FEF6D8;
	color:#454545;
	display:inline-block;
	position:relative;
	z-index:1;
}

.notification-details .content{
	border-top:1px solid #E5E3E0;
	position:relative;
	margin-top:-24px;
	padding:30px 0 15px;
}

.notification-details .content li{
	display:block;
	font-size:0.9em;
	color:#454545;
	margin-bottom:0.5em;
}

.notification-details .content li img{
	display:inline-block;
	margin-right:5px;
}

.notification-details .content li a{
	color:#2CA6D6;
}

/* Help Section */
ul.left-help-block {
	width:45%;
	float:left;
	margin:0 5% 25px 0;
	overflow:hidden;
}
ul.right-help-block {
	width:45%;
	float:right;
	margin:0 0 25px 5%;
	overflow:hidden;
}
ul.faqs-block {
	width:100%;
	overflow:hidden;
}
ul.right-help-block li, ul.left-help-block li, ul.faqs-block li{
	width:100%;
	display:block;
	margin:0 0 10px 0;
	font-size:15px;
	line-height:15px;
	color:#454545;
	overflow:hidden;
}
ul.right-help-block li a, ul.left-help-block li a, ul.faqs-block li a{
	width:auto;
	font-size:15px;
	line-height:17px;
	color:#2CA6D6;
	text-decoration:underline;
}
ul.right-help-block li a:hover, ul.left-help-block li a:hover, ul.faqs-block li a:hover{
	text-decoration:none;
}
ul.help-info {
	width:100%;
	overflow:hidden;
}
ul.help-info li {
	width:100%;
	border-bottom:#999999 1px solid;
	display:block;
	margin:1em 0 0 0;
}
ul.help-info li.first-child {
	margin:0;
}
ul.help-info li h3 {
	width:100%;
	display:block;
	font-size:18px;
	color:#CC0000;
}
ul.help-info li p {
	width:100%;
	display:block;
	font-size:14px;
	color:#454545;
	margin-bottom:1em;
}
ul.help-info li a {
	color:#2CA6D6;
}
/* End Help Section */

/* onBoarding Section */
.profile h2.onboarding {
	margin:0 auto;
	font:24px/40px "Proxima N W01 At Reg";
	color:#454545;
	text-align:center;
	padding:10px 0;
	text-transform:uppercase;
}
.profile h2.onboarding span { font-family:"Proxima N W01 Bold"; }
.onboarding-main {
	width: 640px;
	margin: 0 auto;
	padding:0 0 40px 0;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius: 3px;
	background-color: #FFF;
}
.onboarding-main .profile-block { margin-bottom:0; padding:20px 25px; }
.onboarding-main .profile-block .p-rgt	{ margin-top:13px; }
.onboarding-main #progressBar, .progressBar { position:relative; }
.onboarding-main #progressBar div, .progressBar div { width:3px; }
.onboarding-main #progressBar span.percentage, .progressBar span.percentage {
	width:auto;
	height:16px;
	font:11px/16px "Proxima N W01 At Reg";
	color:#454444;
	position:absolute;
	right:5px;
	top:0;
}
.intro-video { width:100%; overflow:hidden; margin:0 auto; width:640px;}
.intro-video a, .section .onboarding-main .intro-video a img {
	width:auto;
	height:auto;
	display:block;
}
.onboarding-main .support-blocks { margin:30px 0 0 0; }
.onboarding-main .divider { background: center 40px url('../images/onBoarding-divider.jpg') no-repeat; }
.onboarding-main .support-blocks .known-people { padding:0 30px; position:relative; }
.onboarding-main .support-blocks .known-people a.left{
	width:25px;
	height:40px;
	position:absolute;
	left:10px;
	background:url('../images/left.jpg') no-repeat;
	top:100px;
}
.onboarding-main .support-blocks .known-people a.right{
	width:25px;
	height:40px;
	position:absolute;
	right:10px;
	background:url('../images/right.jpg') no-repeat;
	top:100px;
}
.onboarding-main .support-blocks .known-people ul {
	width:auto;
	padding:30px 0;
	overflow:hidden;
}
.onboarding-main .support-blocks .known-people ul li {
	width:93px;
	float:left;
	display:block;
	margin:0 26px;
	text-align:center;
}
.onboarding-main .support-blocks .known-people ul li img.avatar{
	width:87px;
	height:87px;
	display:block;
	margin:0 auto 10px;
	border: 3px solid #f2f2f2;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
.onboarding-main .support-blocks .known-people ul li span{
	min-height:28px;
	font-size:14px;
	line-height:14px;
	color:#666666;
	display:block;
	margin:0 0 15px 0;
}
.onboarding-main .support-blocks .find-more {
	width:100%;
	display:block;
	text-align:center;
	background: left center url('../images/onBoarding-find-more-bg.jpg') repeat-x;
}
.onboarding-main .support-blocks .concepts-groups {
	width:320px;
	float:left;
	display:block;
}
.onboarding-main .support-blocks .follow-concepts { padding:0 20px 0 30px; }
.onboarding-main .support-blocks .join-groups { padding:0 30px 0 20px; }
.onboarding-main .support-blocks .concepts-groups ul {
	width:auto;
	padding:20px 0 30px;
	overflow:hidden;
}
.onboarding-main .support-blocks .concepts-groups ul li {
	width:125px;
	display:block;
	text-align:center;
}
.onboarding-main .support-blocks .concepts-groups ul li.first-child { float:left; }
.onboarding-main .support-blocks .concepts-groups ul li.last-child { float:right; }
.onboarding-main .support-blocks .concepts-groups ul li .follow-block {
	width:123px;
	display:block;
	padding:10px 0;
	text-align:center;
	border:#e8e8e8 1px solid;
}
.onboarding-main .support-blocks .concepts-groups ul li .follow-block img.avatar{
	width:87px;
	height:87px;
	display:block;
	margin:0 auto 10px;
	border: 3px solid #f2f2f2;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	border-radius:50%;
}
.onboarding-main .support-blocks .concepts-groups ul li .follow-block span{
	font-size:14px;
	line-height:14px;
	color:#666666;
	font-weight:bold;
	display:block;
}
.onboarding-main .support-blocks .concepts-groups ul li span.members{
	font-size:13px;
	line-height:30px;
	color:#4d4d4d;
	display:block;
	background-color:#f3f1ee;
	margin-top:-1px;
}

	.product-grid .pdp-rgt .block-follow .box {
		width: 90%;
		float: left;
		padding: 12px 5%;
	}
	.product-grid .pdp-rgt .block-follow .box .follow-box-c {
		width: 87%;
		float: left;
		padding-left: 13%;
	}
	.product-grid .pdp-rgt .block-follow .box .follow-box-c ul li {
		width: 100%;
		float: left;
	}
	.product-grid .pdp-rgt .block-follow .box .follow-box-c ul li.mail {
		width: 100% !important;
		float: left !important;
		margin: 5px 0 !important;
		line-height: 1.2em !important;
		overflow: hidden !important;
	}
	.product-grid .pdp-rgt .block-follow .box .follow-box-c ul li.mail a{
		width: auto!important;
		float: left !important;
	}
	.product-grid .pdp-rgt .block-follow .box .follow-box-c ul li.mail span {
		width: 87% !important;
		float: left !important;
		text-align: left !important;
	}
	.product-grid .pdp-rgt .block-follow .box .follow-box-c ul li.chat {
		width: auto;
		max-width: 40px;
		text-indent: -9999px !important;
		float: left !important;
		top: 0 !important;
		margin: 5px 0 0 0 !important;
		line-height: 1.2em !important;
	}
	.product-grid .pdp-rgt .block-follow .box .follow-box-c ul li.chat a {
		width: 100%;
		display: block;
		float: left;
	}
	.product-grid .pdp-rgt .block-follow .box .follow-box-c ul li input {
		float: right;
		margin: 0;
		padding: 5px 10px;
	}
	.tag-holder {
		width: 80%;
		float: left;
	}
	.full-width .tag-holder { width: 85%; }

	.login-label label{ cursor: default!important;}


/* End onBoarding Section */


#txtarcomments {
    border: 1px solid #d5d5d5;
    border-radius: 3px;
    padding: 0 7px;
    width: 95%;
   
}

#txtarcomments-market {

 	border: 1px solid #d5d5d5;
    border-radius: 3px;
    padding: 0 7px;
    width: 95%;

}

.nicEdit-selectTxt {
    line-height: 14px;
}

.textC ol li{ 
	list-style-type: decimal;
	}
.textC ul li { 
	list-style-type: disc;
	margin-left: 2em;
}

.left-contents ol li{ 
	list-style-type: decimal;
}

.nicEdit-main { width: 99.7%!important; }

.widget .view-all { display: none;}
