.sb-search {
	width: 0%;
	min-width: 40px;
	height: 34px;
	float: left;
	margin: 0 0 0 40px;
	position: relative;
	-webkit-transition: width 0s;
	-moz-transition: width 0s;
	transition: width 0s;
	-webkit-backface-visibility: hidden;
	overflow: hidden;
}
.sb-search-input {
	width: 40px;
	height: 20px;
	margin:0;
	padding: 7px 0 !important;
	font-size: 14px !important;
	color: #3c3c3c;
	border: none;
	-webkit-border-radius: 4px !important;
	-moz-border-radius: 4px !important;
	border-radius: 4px !important;
	background:#fff 10px center url("../images/responsive/newSearchBar.png") no-repeat;
	position: absolute;
	top: 0;
	left: 0;
	outline: none;
	z-index: 10;
	display: none;
}
 .sb-search-input::-webkit-input-placeholder {
 color: #3c3c3c;
}
 .sb-search-input:-moz-placeholder {
 color: #3c3c3c;
}
 .sb-search-input::-moz-placeholder {
 color: #3c3c3c;
}
 .sb-search-input:-ms-input-placeholder {
 color: #3c3c3c;
}
.sb-icon-search, .sb-search-submit {
	width: 40px;
	height: 34px;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	padding: 0;
	margin: 0;
	line-height: 34px;
	cursor: pointer;
}
.sb-search-submit {
	border: none;
	background: #fff; /* IE needs this */
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)"; /* IE 8 */
	filter: alpha(opacity=1); /* IE 5-7 */
	opacity: 1;
	outline: none;
	left: 0;
	z-index: -1;
}
.sb-icon-search {
	color: #fff;
	background:center center url("../images/responsive/newGlbSearch.png") no-repeat;
	z-index: 90;
	speak: none;
	-webkit-font-smoothing: antialiased;
	right: 0;
}
/* Open state */
.sb-search.sb-search-open, .no-js .sb-search {
	width: 100%;
	margin: 0;
	-webkit-transition: width 0.2s;
	-moz-transition: width 0.2s;
	transition: width 0.2s;
	-webkit-backface-visibility: hidden;
	z-index: 99999;
}
.sb-search.sb-search-open .sb-search-input, .no-js .sb-search .sb-search-input {
	width: 175px;
	padding-left: 30px !important;
	padding-right: 35px !important;
	display: block;
}
.sb-search.sb-search-open .sb-icon-search, .no-js .sb-search .sb-icon-search {
	background-color: transparent;
	background-image: url("../images/responsive/newSearchClose.png");
	z-index: 11;
}
.sb-search.sb-search-open .sb-search-submit, .no-js .sb-search .sb-search-submit {
	z-index: 90;
	background-color: transparent;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
	filter: alpha(opacity=0); /* IE 5-7 */
	opacity: 0;
}