body{
	line-height: 1.5;
}

html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre, em, img, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, tr, th, td{border: 0; vertical-align: baseline; margin: 0; padding: 0; font-family: 'Proxima N W01 At Reg', Sans-serif}
/*html b, html strong, body b, body strong	{font-family: 'Proxima N W01 Bold', Sans-serif}*/
html i, html em, body i, body em	{font-family: 'Proxima N W01 Reg It', Sans-serif}
html b i, html strong em, body b i, body strong em, html i b, html em strong, body i b, body em	strong	{font-family: 'Proxima N W01 Bold It', Sans-serif}
*:focus	{outline: 0}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{display: block}
table{}
hr{display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0;padding: 0}
input, select{vertical-align: middle}
select, input, textarea, button{font: 99%, Sans-serif; font-family: 'Proxima N W01 At Reg', Sans-serif;}
a:hover, a:active{outline: none}
ul, ol{margin-left: 2em}
ol{list-style-type: decimal}
ul, li{list-style: none; list-style-image: none; margin: 0}
td{vertical-align: top}
textarea{overflow:auto}
input[type=text], input[type=password], input[type=email], textarea	{font-size: 14px; padding: 7px 0; border: none}
input[type=checkbox]{vertical-align: bottom}
.ie7 input[type=checkbox]{vertical-align: baseline}
label, input[type=button], input[type=submit], input[type=image], button{cursor: pointer}
button, input, select, textarea{margin: 0}
button{width: auto; overflow: visible}
html mark,
h1, h2, h3, h4, h5, h6, strong{font-family: 'Proxima N W01 Bold', helvetica, arial, sans-serif;  font-weight: normal; margin: 0}
h1, h2, h3, h4, h5, h6{
	line-height: 1.2;
	margin-bottom: 1em;
}
a, a:active, a:visited{color: #616161; text-decoration: none}
a:hover{color: #019cff; text-decoration: underline}
input[type=radio], .ie6 input{vertical-align: baseline}
.clearfix:before, .clearfix:after{content: ""; display: table}
.clearfix:after{clear: both;}
.clearfix{zoom: 1;}
.d-n	{display: none;}
