/* Show "Left" drawer for the "Right" drawer in the demo */
.snapjs-right .snap-drawer-left {
	left: 0;
	right: auto;
	background: #000000;
}
/* Hide the actual "Right" drawer in the demo */
.snapjs-right .snap-drawer-right {
	right: 0;
	left: auto;
	background: #e9e6e3;
	-webkit-box-shadow: inset 0 1px 2px rgba(1,1,1,0.5);
	-moz-box-shadow: inset 0 1px 2px rgba(1,1,1,0.5);
	box-shadow: inset 0 1px 2px rgba(1,1,1,0.5);
}
/* Show the "Drag" background in the demo */
#content {
	background: #f3f1ee !important;
}
.snap-drawer {
}
.drawer-inner {
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}
.snapjs-expand-left .drawer-inner, .snapjs-expand-right .drawer-inner {
	opacity: 0;
}
