@charset "UTF-8";
/* line 3, ../sass/galleria-folio.scss */
#galleria-loader {
  height: 1px!important; }

/* line 5, ../sass/galleria-folio.scss */
.galleria-container {
  position: relative;
  font-family: arial,sans-serif; }

/* line 9, ../sass/galleria-folio.scss */
.galleria-container img {
  -moz-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none; }

/* line 14, ../sass/galleria-folio.scss */
.galleria-stage {
  width: 100%;
  height: 100%;
  background: #000;
  top: 0;
  left: -10000px;
  position: absolute; }

/* line 23, ../sass/galleria-folio.scss */
.galleria-thumbnails .galleria-image {
  width: 220px;
  height: 120px;
  margin: 0 10px 10px 0;
  position: absolute!important;
  top: 0;
  left: 0;
  cursor: pointer;
  /* opera */
  cursor: url(../images/lib/galleria-folio-cursor-zoom.png), -moz-zoom-in;
  /* chrome, FF */
  cursor: pointer\9;
  /* IE */
  background: #eeeeee url(../images/lib/galleria-folio-miniloader.gif) no-repeat 50% 50%; }

/* line 36, ../sass/galleria-folio.scss */
.galleria-loader {
  width: 64px;
  height: 64px;
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -16px;
  margin-top: -16px;
  background: black url(../images/lib/galleria-folio-loader.gif) no-repeat 50% 50%;
  z-index: 3;
  opacity: .5;
  filter: alpha(opacity=50);
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px; }

/* line 54, ../sass/galleria-folio.scss */
.galleria-info {
  display: none;
  background: #000;
  color: #fff;
  padding: 8px 0;
  z-index: 3;
  position: absolute;
  bottom: 10px;
  background: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  line-height: 16px;
  max-width: 50%; }

/* line 68, ../sass/galleria-folio.scss */
.galleria-info-text {
  padding: 0 12px; }

/* line 72, ../sass/galleria-folio.scss */
.galleria-info-description {
  color: #bbb; }

/* line 76, ../sass/galleria-folio.scss */
:root * > .galleria-info-description {
  color: rgba(255, 255, 255, 0.6); }

/* line 80, ../sass/galleria-folio.scss */
.galleria-plus {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url(../images/lib/galleria-folio-bg.png);
  color: #fff;
  line-height: 1.2;
  font-size: 11px;
  display: none; }

/* line 92, ../sass/galleria-folio.scss */
.galleria-plus span {
  position: absolute;
  bottom: 5px;
  left: 5px;
  background: #000;
  background: rgba(0, 0, 0, 0.5);
  padding: 1px 5px;
  max-width: 160px; }

/* line 102, ../sass/galleria-folio.scss */
.galleria-close {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/lib/galleria-folio-close.png) no-repeat 0 0;
  z-index: 100;
  cursor: pointer; }

/* line 113, ../sass/galleria-folio.scss */
.galleria-close:hover {
  background-position: 0 -50px; }

/* line 117, ../sass/galleria-folio.scss */
.galleria-image-nav {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }

/* line 125, ../sass/galleria-folio.scss */
.galleria-image-nav-left,
.galleria-image-nav-right {
  width: 50%;
  height: 100%;
  background: url(../images/lib/galleria-folio-left.png) no-repeat 0 50%;
  position: absolute;
  left: 0;
  z-index: 3;
  cursor: pointer; }

/* line 134, ../sass/galleria-folio.scss */
.galleria-image-nav-right {
  left: auto;
  right: 0;
  background: url(../images/lib/galleria-folio-right.png) no-repeat 100% 50%; }

/* line 140, ../sass/galleria-folio.scss */
.galleria-image-nav-left:hover {
  background-image: url(../images/lib/galleria-folio-left-hover.png); }

/* line 141, ../sass/galleria-folio.scss */
.galleria-image-nav-right:hover {
  background-image: url(../images/lib/galleria-folio-right-hover.png); }

/* line 143, ../sass/galleria-folio.scss */
.galleria-image-nav-left.cur {
  cursor: url(../images/lib/galleria-folio-left-cursor.png), pointer;
  background: none!important; }

/* line 144, ../sass/galleria-folio.scss */
.galleria-image-nav-right.cur {
  cursor: url(../images/lib/galleria-folio-right-cursor.png), pointer;
  background: none!important; }

/* line 146, ../sass/galleria-folio.scss */
.galleria-container.iframe .galleria-image-nav {
  height: 100px;
  top: 50%;
  margin-top: -50px; }

/* line 148, ../sass/galleria-folio.scss */
.galleria-container.iframe.touch .galleria-images iframe {
  margin-top: 40px; }

/* line 149, ../sass/galleria-folio.scss */
.galleria-container.iframe.touch .galleria-info {
  bottom: 40px; }

/* line 152, ../sass/galleria-folio.scss */
.galleria-container.iframe .galleria-image-nav-left,
.galleria-container.iframe .galleria-image-nav-left.cur {
  cursor: pointer;
  background: url(../images/lib/galleria-folio-left.png) no-repeat 0 50% !important;
  width: 100px; }

/* line 154, ../sass/galleria-folio.scss */
.galleria-container.iframe .galleria-image-nav-right,
.galleria-container.iframe .galleria-image-nav-right.cur {
  cursor: pointer;
  background: url(../images/lib/galleria-folio-right.png) no-repeat 100% 50% !important;
  width: 100px; }

/* line 157, ../sass/galleria-folio.scss */
.galleria-container.iframe .galleria-image-nav-left:hover,
.galleria-container.iframe .galleria-image-nav-left.cur:hover {
  background-image: url(../images/lib/galleria-folio-left-hover.png) !important; }

/* line 159, ../sass/galleria-folio.scss */
.galleria-container.iframe .galleria-image-nav-right:hover,
.galleria-container.iframe .galleria-image-nav-right.cur:hover {
  background-image: url(../images/lib/galleria-folio-right-hover.png) !important; }

/* line 161, ../sass/galleria-folio.scss */
.galleria-preloader {
  height: 4px;
  width: 180px;
  background: #eee;
  position: absolute;
  top: 0; }

/* line 162, ../sass/galleria-folio.scss */
.galleria-loaded {
  height: 4px;
  width: 0%;
  background: #444; }


.galleria-container {
width: 690px;
height: 3582px;
}
.galleria-thumbnails .galleria-image { width:200px }
.gallery-group-photo-container {padding-left: 30px;margin-top: 30px;}
.galleria-errors {
display:none;
}