/* IN PAGE STYLE */
#hp-action	{padding: 20px 37px 40px;}
#hp-action ul.hp-caption	{margin-bottom: -1px;}
#hp-action ul.hp-caption li	{display: inline-block; margin-left: 15px; padding-left: 25px; font-size: 14px; opacity: .5; font-family:'Proxima N W01 Bold',helvetica,arial,sans-serif; font-weight:normal;}
#hp-action ul.hp-caption li.share	{background: url('../images/main-sprite.png') no-repeat 0 3px;  background-position: 0 -593px; }
#hp-action ul.hp-caption li.photo	{background: url('../images/main-sprite.png') no-repeat 0 3px;   background-position: 0 -277px; }
#hp-action ul.hp-caption li.poll	{background: url('../images/main-sprite.png') no-repeat 0 3px;   background-position: 0 -401px; }
#hp-action ul.hp-caption li.ph-loader	{float: right; float: right; margin-top: 5px; text-indent: -2111px;}
#hp-action ul.hp-caption li.loader	{background: url('../images/icons/icoLazyLoading.png') no-repeat 0 3px; background: url('../images/loading.gif') no-repeat center center;}
#hp-action ul.hp-caption > li > a	{display: inline-block; padding-bottom: 10px; color: #313439;}
#hp-action ul.hp-caption > li.active, #hp-action ul.hp-caption > li:hover	{opacity: 1;}
#hp-action ul.hp-caption > li.active > a	{background: url('../images/icons/Home01_10.png') no-repeat bottom center; position: relative; z-index: 99}
#hp-action ul.hp-data li	{border: 1px solid #d9d9d9; text-align: right; border-radius: 2px; margin-left: 0;  padding-left: 0; width:99.6%; opacity:1;}
#hp-action ul.hp-data li .photos li	{text-align: left; border: none; padding:0 1% 1%; }
/* #hp-action ul.hp-data li .photos li.photo-Upload { background:url('../images/main-sprite.png') no-repeat; margin:5px 0 15px 15px; width:72px; height:72px; display:block; background-position: 0 -1247px; }
#hp-action ul.hp-data li .photos li.photo-Upload #fileUploadFile{opacity:0; cursor:pointer; height:72px; width:72px;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";} */
#hp-action ul.hp-data li .photos img {margin: 5px 0 10px 15px;}
#hp-action ul.hp-data textarea	{height: 50px;}
#hp-action ul.hp-data textarea, #hp-action ul.hp-data input[type=text]		{width:100%; min-height:43px; border:none;}
#hp-action ul.hp-data .action-button	{background: #ebe9e7; padding:0;}

#hp-action ul.hp-data .question input	{min-height:1px; margin:5px 0px; font-size:15px; font-weight:normal; width:97%;}
#hp-action ul.hp-data .answers	{background: url('../images/icons/plusSign.png') no-repeat center 10px;}
#hp-action ul.hp-data .options li {border: none !important; border-top: 1px dotted #CCCCCC !important; background: url('../images/icons/icoPlusSign.png') no-repeat 18px center;}
#hp-action ul.hp-data .options li input[type=text] {width:94%; min-height:1px;}

#hp-action ul.hp-caption {height: 130px; margin-bottom: -1px; position: relative;}
.hp-data {left: 0; position: absolute; width: 100%; margin-top: -1px;}

#hp-action ul.hp-caption.init-block	{height: auto; margin-bottom: 30px;}
#hp-action ul.hp-caption li.init ul.hp-data li	{ overflow: hidden; height: 43px;}


.left-contents .msg	{margin: 7px 35px; padding: 5px 15px;}

#recent-posts	{}
#recent-posts .cp-photo-gallery {border: 1px solid #CCCCCC; float: left; /*height: 122px; */ margin: 17px 0 0 17px;padding: 3px;  width: 184px;}
#recent-posts .block-1, #recent-posts dl.block-2	{padding: 20px 0 17px; font-size: 12px; border-bottom: 1px dotted #cdcdcd}
#recent-posts .block-1 	{ position:relative }
#recent-posts .block-1 ul li	{display: inline-block; color: #666666;}
#recent-posts .block-1 .rp-avtar	{float: left; width: 60px; margin-left: 36px;}
#recent-posts .rp-avtar span	{width: 55px; height: 55px; display: inline-block;}
#recent-posts .rp-social-ext-block li strong, #recent-posts .rp-social-ext-block li strong	{color: #404040}
#recent-posts .block-1 .rp-contents	{float: left; margin-left: 7px; margin-right: 36px; width: 500px; color: #666; font-size: 15px;}
#recent-posts .block-1 .rp-contents h2	{font-size: 15px; margin-bottom: 5px; color: #454545;}
#recent-posts .block-1 ul.rp-l2 li	{border: 1px solid #FF0000; display: inline-block;}

#recent-posts .block-1 .rp-contents .img-blk-main{width:100%; overflow:hidden; margin:10px 0;}
#recent-posts .block-1 .rp-contents .img-blk-main a{ display:block; width:150px; /*height:100px;*/ padding:2px 3px 3px; border:#CCC 1px solid; float:left; margin-right:10px; margin-bottom:10px;}
#recent-posts .block-1 .rp-contents .img-blk-main a img{display:block;}

#recent-posts .rp-img-block img	{margin: 0 12px; margin: -1px 12px -3px 2px}
#recent-posts .rp-contents .rp-social span, #recent-posts .rp-img-block span, #recent-posts .rp-social-ext-block span	{color:#ae8b13; margin:0 10px;}
#recent-posts .rp-contents .rp-social, .rp2-contents .rp-social, #recent-posts .rp-img-block	{font-size: 12px;}
#recent-posts .rp-img-block	{float: left;}
#recent-posts .rp-img-block > a { width: 150px; height: auto; border-left: none; display: block;}
#recent-posts .rp-contents .rp-txt-block	{float: right; width: 66%; font-size: 14px;}
#recent-posts .rp-contents .rp-txt-block .rp-social { margin-top: 10px; }
#recent-posts .rp-contents .rp-txt-block .head	{/*margin-bottom: 4px;*/}
#recent-posts .rp-contents .rp-social, .rp2-contents .rp-social	{margin: 10px 0 0 -6px;} /*MDS*/
#recent-posts .rp-contents .rp-social a, .rp2-contents .rp-social a	{border-bottom:2px solid #FFF;display:inline-block;margin:0 6px;padding:0;color:#454545;}
#recent-posts .rp-contents .rp-social a.active, .rp2-contents .rp-social a.active	{font-family:'Proxima N W01 Bold',helvetica,arial,sans-serif; border-bottom:2px solid #638bb4; color:#019cff;text-decoration:none;}
#recent-posts .rp-social-ext	{border-top: 1px solid #E1E1E1; font-size: 14px;  padding: 8px 110px;}
#recent-posts .rp-social-ext-text > li, #recent-posts .rp-social-ext-block > li {display: inline-block;}
#recent-posts .rp-social-ext-text > li	{font-size: 13px; color: #737373;}
#recent-posts .rp-social-ext-text > li.icon_comment	{text-indent: -1111px; width: 15px;}
#recent-posts .rp-social-ext-text > li.icon_comment	{background: url('../images/icons/icoComments.png') no-repeat center center;}
#recent-posts .rp-social-ext-block > li	{float: left;}
#recent-posts .rp-social-ext-block {padding: 8px 0;}
#recent-posts .rp-ext-lft	{width: 30px;}
#recent-posts .rp-ext-rgt	{width: 92%;}
#recent-posts .rp-social-ext-block img {margin-right: 5px; border-radius: 12px;}
#recent-posts .rp-social-ext-block span, #recent-posts dl.block-2 .rp2-contents span {color: #B2B2B2; margin-left: 10px; font-size: 12px;}
#recent-posts dl.block-2 .rp2-contents span a{color:#ae8b13;}
#recent-posts .rp-social-comment-box, .rp-social-comment-box	{margin-top: 9px; padding: 0; border: 1px solid #CCCCCC; border-radius: 2px; background: #FFF;}
.rp-social-comment-box input.rp-comment {padding-bottom: 6px; padding-top: 6px;}
#recent-posts .rp-social-comment-box .rp-comment, .rp-social-comment-box .rp-comment {width:100%;padding:5px 3%;line-height:20px;height:20px !important;}
#recent-posts .rp-social-ext-block span.count, #recent-posts dl.block-2 .rp2-contents span{ color:#ae8b13;font-size:12px;line-height:18px; }
#recent-posts .rp-social-ext-block a.close img{border-radius:0;}
/* Additional to FIX NEWS Block */
#recent-posts dl.block-2	{padding-left: 35px; padding-right: 35px}
#recent-posts dl.block-2 dt {float: left; width: 61px; min-height: 89px;}
#recent-posts dl.block-2 dd {overflow: hidden;}
#recent-posts dl.block-2 dd h4 {font-family:'Proxima N W01 Bold',helvetica,arial,sans-serif;font-size:15px;margin-bottom:10px;}
#recent-posts dl.block-2 .rp2-contents {position:relative;font-size:15px;color:#666666;margin-left:15px;}
#recent-posts dl.block-2 .rp2-contents p {}
#recent-posts dl.block-2 .rp2-contents .ph {border-left: 5px solid #CCCCCC; float: left; margin-right: 15px; margin-left: 0; width: 150px; height: 100px;}
#recent-posts dl.block-2 .rp2-contents .ph img {margin-bottom: -4px; margin-left: 2px; display: nonex;}
#recent-posts dl.block-2 .rp2-contents h1 {font-size: 15px; margin-bottom: 5px;}

#recent-posts dl.block-2 .rp-social-like	{border-top: 1px solid #f2f2f2; font-size: 14px;  padding: 4px 104px;}

#recent-posts .block-1 .rp-contents.market-box h2{margin-bottom:5px;}
#recent-posts .market-box .m-price{ color:#E5B934; margin-left:10px; font-size:12px;}
#recent-posts .market-box .m-price span{font-weight:bold; font-size:16px;}
#recent-posts .market-box .gt{ margin-left:10px; font-weight:bold;}
#recent-posts .market-box p.type{ font-size:14px; margin-bottom:15px;}

.comments-block	{margin: 0 -35px; overflow: inherit !important}

#recent-posts .market-home{margin-top:15px;}
#recent-posts .market-home .rp-img-block img{ width:100%; height:auto; display:block;}
#recent-posts .rp-contents .market-home .rp-social, .rp2-contents .rp-social{ margin:20px 0 0 -4px;}
/*.bLike	{background: url('../images/main-sprite.png') no-repeat center left; display: inline-block !important; padding-left: 20px !important;  background-position: 0 -1179px; }*/
#recent-posts dl.block-2 .rp-social-like-comment	{border-top: 1px solid #f2f2f2; font-size: 14px;  padding: 4px 33px;}
.cLike	{background: url('../images/main-sprite.png') no-repeat center left; display: inline-block !important; padding-left: 20px !important;  background-position: 0 -1180px;}
.widget	{margin-bottom: 23px;}
.widget .widget-head	{background: url("../images/icons/Home01_17.png") no-repeat scroll 35px bottom transparent; margin-bottom: -1px; overflow: hidden; padding: 5px 0 0; position: relative; z-index: 1;}
.widget.birthday-this-month .box.shadow-2 li, .widget.members .box.shadow-2 li, .widget.announcements .box.shadow-2 li, .widget.upcoming-events .box.shadow-2 li	{background-position: 14px 18px; !important}
.widget.birthday-this-month .box.shadow-2 li img, .widget.members .box.shadow-2 li img, .widget.announcements .box.shadow-2 li img, .widget.upcoming-events .box.shadow-2 li img	{float: left; margin-right: 10px; margin-top: 10px; vertical-align: middle;}
.widget .widget-head.useful-links	{background: url("../images/icons/Home01_26.png") no-repeat scroll 35px bottom;}
.widget .widget-head h3	{margin-bottom: 6px; font-size: 15px; padding-left: 25px; background: url('../images/main-sprite.png') no-repeat center left; background-position: 0 -342px; }
.widget .widget-head.useful-links h3	{background: url('../images/main-sprite.png') no-repeat center left;  background-position: 0 -658px; }
.widget .widget-head.poll-of-month h3	{background: url('../images/main-sprite.png') no-repeat center left;  background-position: 0 -468px;}
.widget.concept-members .widget-head h3, .widget.group-members .widget-head h3 {background: url('../images/main-sprite.png') no-repeat center left; background-position: 0 -1048px; }
.widget.announcements .widget-head h3	{background: url('../images/main-sprite.png') no-repeat center left; background-position: 0 -722px; }
.widget.upcoming-events .widget-head h3	{background: url('../images/main-sprite.png') no-repeat center left; background-position: 0 -722px; }
.widget .view-all	{font-size: 10px; color: #8c8b8a; float: right; margin-right: 5px; margin-top: 4px;}
.widget .view-all a	{color: #8c8b8a;}
.widget .box ul	{}
.widget .box.shadow-2 li {border-bottom: 1px solid #EAEAEA; color: #454545; font-size: 14px; padding: 12px 20px;}
.widget .box.shadow-2 li:last-child {border-bottom: none;}
.widget .note	{background: #fef6d8; color: #8c8a83; font-size: 12px; padding: 15px 20px;}
.widget .poll-question	{padding: 0 20px 10px; font-size: 13px;}
.widget .box.shadow-2 label {display: inline-block; padding: 4px 5px 8px 25px;}

.widget .box.shadow-2 .drops {padding:10px;}
.widget .box.shadow-2 .drops li {border: none; color: #454545; font-size: 14px; padding:10px 0 5px 15px;background:left 15px url('../images/arr-right.jpg') no-repeat; margin-left:10px;}
.widget .box.shadow-2 .drops li a{cursor:pointer;}
.widget .box.shadow-2 .drops li a:hover{text-decoration:none;}
.widget .box.shadow-2 .drops li ul li{margin-left:0; padding: 5px 0 2px 15px;background:left 10px url('../images/arr-right.jpg') no-repeat; }
.widget .box.shadow-2 .drops li ul li ul li{background:none; padding:2px 0 0 0;}
.widget .box.shadow-2 .drops li.opencontent{ background:left 15px url('../images/arr-down.jpg') no-repeat;}
.widget .box.shadow-2 .drops li.opencontent a.active{ color:#2CA6D6;}
.widget .box.shadow-2 .drops li ul li.opencontent{background:left 10px url('../images/arr-down.jpg') no-repeat; }
#vPoll label input[type=radio]	{margin-left: -25px; margin-right: 10px;}
#vPoll label input[type="submit"] {margin-left: -5px;}

.pop-bd	{font-size: 14px; padding: 15px 0 20px;}
.pop-bd:first-child	{padding-top: 7px;}
.pop-bd:last-child	{padding-bottom: 7px;}
.pop-bd img	{float: left; margin-right: 5px; margin-top: -2px;}
hr.dotted	{border-style: dotted; margin: 5px -15px;}
hr.sp-25	{margin-top: 25px; margin-bottom: 25px;}
hr.sp-25:last-child	{display: none;}

.bd-all-box	{width: 350px; margin: 10px;}
.bd-all-box .pop-bd	{padding-top: 5px; padding-bottom: 5px;}
.bd-all-box .pop-bd img	{width: 35px; height: 35px; margin-right: 10px;}
.bd-all-box .pop-bd .round-c	{border-radius: 18px;}

.poll-all-box	{margin: 10px;}
.poll-all-box dl dt	{width: 100%;}
.poll-all-box label	{margin-top: 10px; display: block;}
.poll-all-box label input[type="radio"]	{margin-left: 10px !important;}
.poll-all-box label input[type="submit"]	{margin-left: 10px !important;}

/* PROFILE - CSS */
.profile-block	{background: #FEF6D8; color: #666666; border-radius: 3px 3px 0 0; margin-bottom: 20px; padding: 35px 35px 10px;} /* Aqeel */
.profile-block .p-lft	{width: 130px; float: left;}
.profile-block .p-rgt	{width: 440px; float: right;}
.profile-block img.avatar-big	{width: 123px; height: 123px; border: 1px solid #DEDEDE; border-radius: 62px;}
.profile-block h1 {font-size: 26px; margin-bottom: 0;}
.profile-intro ul li	{font-size: 12px;}
.profile-block .p-social	{margin: 10px 0 0; font-size: 12px;}
.profile-block .p-social .ico{ display:block; margin-top:10px;}
.block-edit	{text-align: center; margin-top: 5px;}
.profile-intro .block-edit	{float: right;margin-top: 8px;}
.p-lft .block-edit {position: relative; right: 0; top: -43px; height: 30px;}
.progress-c	{margin: 0; line-height: 20px; font-size: 11px; margin-top: -30px;}


/* EDIT PROFILE - POPUP 17 September 2013 15:08:30 */
.fb-container-box	{padding: 5px;}
.fb-container-box .msg		{margin: 10px 0;}


/* CONCEPT PROFILE - CSS */
#recent-posts.profile ul.filter	{padding-left: 35px; padding-right: 35px;}
.cp-photo-gallery-box	{}
.cp-photo-gallery-box .gl-action	{margin: 20px 30px; text-align: right;}
.cp-photo-gallery-box .cp-photo-gallery	{margin: auto; text-align: center; font-size: 0;}
.cp-photo-gallery-box .cp-photo-gallery li	{display: inline-block;}
.cp-photo-gallery-box .cp-photo-gallery a	{font-size: 0;}
.cp-photo-gallery-box .cp-photo-gallery a img	{display: inline-block; margin: 0px;}
.cp-photo-gallery-box .cp-photo-gallery img	{width: 184px; /* height: 122px; */}
.xcp-photo-gallery-box .cp-photo-gallery .x	fancybox-image	{width: 620px; height: 620px;}

.widget.members .cp-followers-bx	{margin: 10px 20px 0 20px;}
.widget.members .cp-followers	{width: 100%; margin-right: 12px; margin-bottom: 10px; font-size: 14px; line-height: 225%;}
.widget.members .cp-followers .imgMembers img	{margin-bottom: 10px; margin-right: 10px;}
.widget.announcements .box.shadow-2 li:first-child	{padding-top: 15px;}
.widget.announcements .box.shadow-2 li:last-child	{padding-bottom: 15px;}
.widget.announcements .box.shadow-2 li img, .widget.upcoming-events .box.shadow-2 li img	{margin-top: 0;}
.widget.announcements .box.shadow-2 li .announc, .widget.upcoming-events .box.shadow-2 li .event	{display: inline-block; border-left: 4px solid #D9D9D9; padding-left: 2px;}

.widget.announcements.news .box.shadow-2 li .announc, .widget.upcoming-events .box.shadow-2 li .event	{border-left: 0px;}

/*.widget.announcements .box.shadow-2 li	{margin: 22px 20px 12px 20px; padding: 0px; border-left: 4px solid #D9D9D9;}
.widget.announcements .box.shadow-2 li img	{margin-left: 2px; margin-right: 10px;}*/

.dlgChangePassword	{/*width: 80%; margin: auto;*/}
.upload-photo h3	{margin-bottom: 10px;}
.upload-photo .photo-placeholder	{margin: 5px 0 15px !important;}
.upload-photo .photo-placeholder img	{border: 1px solid #666666 !important; box-shadow: 2px 2px 2px #666666;}


/* OFFERS & ANNOUNCEMENTS */
#recent-offer.offer, #recent-events	{margin: 15px; color: #444; margin-bottom: 50px;}
#recent-offer .offer-head	{border-bottom: 1px solid #EEE; margin-bottom: 25px; padding-bottom: 4px;}
#recent-offer .offer-head h1, #recent-events .offer-head h1	{font-size: 26px; color: #444; color: #666; margin: 15px 0;}
#recent-offer .offer-head ul	{}
#recent-offer .offer-head ul li	{display: inline-block; margin-right: 50px;}
#recent-offer .offer-block img {margin: 20px 0 0 0;}
#recent-offer .caption-grey	{color: #999;}
#recent-offer .offer-c	{overflow: auto; text-align: center; margin-bottom: 15px;}
.offer-block p img, .offer-block img { max-width: 100%; }

.offer-block img {display: block; margin-left: auto;margin-right: auto;}




/* EVENTS */
#recent-events	{}
#recent-events .calender-block ul.e-calender	{width: 100%; display: table;}
#recent-events ul.e-calender li	{display: table-cell; border: 1px solid #eee;}
#recent-events ul.nav	{color: #999; margin-bottom: 10px; margin-top: 0; margin-bottom: 15px;}
#recent-events ul.nav li	{display: inline-block; margin: 0 5px;}
#recent-events ul.nav li.arrow-grey	{border: 0; margin: 0;}
#recent-events ul.nav li.arrow-grey a	{display: inline-block; background: #F3F3F3; color: #999; border: 1px solid #CCCCCC; height: 15px; line-height: 11px; margin: 0; padding: 0 3px; text-decoration: none; border-radius: 8px;}
#recent-events ul.nav li.arrow-grey a:hover	{background: #999; color: #FFFFFF;}

.l-grid-view, .l-list-view	{}

.containerDiv {border: 1px solid #CCC; width: 100%; height: 500px; border-radius: 3px;}
.viewGrid, .viewList {display: table;}
.XcontainerDiv div a	{text-decoration: none;}
.rowDivHeader {border: 1px solid #CCC; background: #FEF6D8; color: #666; font-weight: bold; display: table-row;}
.rowDivHeader div {border-right: 1px solid #FFF; display: table-cell; width:12%; height: 25px; padding: 1px; text-align: center; vertical-align: middle; font-size: 14px;}
.rowDiv {border: 1px solid #EEE; background: #FEFEFE; display: table-row;}
.rowDiv div.tCell {border-right: 1px solid #EEE; display: table-cell; width:10%; padding-right: 4px; text-align: center; border-bottom: none; border-bottom: 1px solid #EEE; vertical-align: middle; position: relative;}
.rowDiv div.tCell:hover	{box-shadow: 1px 1px 2px #efe1a4 inset;	box-shadow: 0 0 3px 1px #efe1a4 inset; Xcursor: pointer;}
.rowDivHeader div:last-child, .rowDiv div.tCell:last-child {border-right: none;}
.rowDiv div.tCell section ul	{width: 99%; margin-left: 3%; display: table; cursor: pointer;}
.rowDiv div.tCell section ul li	{display: table-row;}
.rowDiv div.tCell section ul li:first-child {font-size: 11px; color: #BBB; text-align: left; padding-left: 3%; height: 20px;}
.rowDiv div.tCell section ul li:last-child {padding-left: 3%; font-size: 11px;}
.rowDiv div.tCell section ul li:last-child span {display: table-cell; vertical-align: middle; background: url('../images/sprite/gradient-02.png') rgb(238, 238, 238); opacity: .75; color: #000; border: 1px solid #f5f5f5;}
.rowDiv div.tCell:hover section ul li:last-child span {opacity: 1;}


.view	{float: right; margin-top: 0px;}
.view li	{display: inline-block; background: url("../images/sprite/sprGridList.png") no-repeat scroll 0px 6px; xborder: 1px solid #ddd; xborder-radius: 3px; opacity: .5; margin-left: 2px;}
.view li a {display: inline-block; height: 17px; width: 20px; text-decoration: none;}
.view .l-grid-view	{background-position: 0 0;}
.view .opacity-50	{opacity: .5;}
.view .opacity-100	{opacity: 1;}
.view .l-list-view	{background-position: -55px 0;}
.view li:hover, .view li.active	{opacity: 1;}

/*
.containerDiv.viewList	{display: block; height: auto;}
.viewList.rowDivHeader	{display: block;}
.viewList.rowDivHeader div	{width: 16.5%;}
.viewList.rowDivHeader div.two-cols	{width: 33%;}

.viewList.rowDiv {display: block;}
.viewList.rowDiv div.tCell	{display: block; width: auto; min-height: 30px;}
*/


.containerDiv.viewList	{height: auto;}
.rowDivHeader.viewList	{}
.rowDiv.viewList 	{font-size: 14px; padding: 23px 0;}
.rowDiv.viewList:hover	{box-shadow: 0 0 3px 1px #efe1a4 inset;}
.rowDivHeader.viewList .two-cols, .rowDiv.viewList .two-cols	{width: 33%; text-align: left;}
.rowDiv.viewList.data-c	{background: url('../images/sprite/gradient-02.png') rgb(238, 238, 238); opacity: .75;}
.rowDiv.viewList .tCell	{border-right: none; padding-top: 5px; padding-bottom: 4px;}
.rowDiv.viewList .tCell:first-child	{text-align: left; background: #FFF; padding-left: 10px;}
.rowDiv.viewList .tCell:hover	{box-shadow: none;}
.rowDiv.viewList .tCell ul li:last-child	{font-size: 14px; color: #999; text-transform: uppercase;}

.hideMe	{display: none !important;}

/*Poll*/
#recent-posts .poll-box ul{
	font-size:14px;
	margin-top:15px;
}
#recent-posts .poll-box ul li{
	display:block;
	margin-bottom:10px;
	padding-left:20px;
}

#recent-posts .poll-box ul li.question{
	background:left 3px url("../images/main-sprite.png") no-repeat; background-position: 0 -1679px; 
}
#recent-posts .poll-box ul li .progressBar{
	width:200px;
}

#recent-posts .poll-box ul li.rp-result{
	font-size:12px;
}

#recent-posts .poll-box ul li label{
	margin-bottom:10px;
	overflow:hidden;
	display:block;
}

#recent-posts .poll-box ul li label input[type=radio]{
	margin-right:10px;
	margin-left: 4px;
}

/*Home DropDown*/
.u-menu-block{
	background:#fff;
	position:absolute;
	width:235px;
	padding:10px 10px;box-shadow: 0px 0px 0px 5px rgba(100, 100, 100, 0.15);
	border-radius: 5px;
	right:-23px;
	top:40px;
	z-index:999;
}

.u-menu-block .close{
	position:absolute;
	right:10px;
	font-size:12px;
	top:5px;
	cursor:pointer;
}

/* New updates done on 13-02-2014 */
#recent-posts .rp-contents .rp-social a.shared-as-icon{
	width:10px;
	height:10px;
	cursor:pointer;
	position:relative;
}
#recent-posts .rp-contents .rp-social a.shared-as-icon .shared-tooltip {
	width:auto;
	height:auto;
	position:absolute;
	left:-5px;
	top:-22px;
	display:none;
}
#recent-posts .rp-contents .rp-social a.shared-as-icon .shared-tooltip span.text{
	display:block;
	padding:4px 5px 2px;
	font-size:12px;
	line-height:14px;
	font-weight:normal;
	text-align:center;
	color:#FFF;
	background-color:#999999;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
#recent-posts .rp-contents .rp-social a.shared-as-icon .shared-tooltip span.arrow{
	height:5px;
	display:block;
	background:10px top url("../images/tooltip-arrow.png") no-repeat;
}
#recent-posts .rp-contents .rp-social a.shared-as-icon:hover .shared-tooltip{
	display:block;
}
/*.users-option {
	width:240px;
	overflow:hidden;
	position:absolute;
	top:0;
	right:10px;
	z-index:1;
}
.users-option a.click-arrow{
	width:16px;
	height:18px;
	display:block;
	margin-left:224px;
	background:left top url("../images/users-option-arrow01.png") no-repeat;
	cursor:pointer;
}
.users-option a.click-arrow:hover,
.users-option a.click-arrow.active{
	background:left top url("../images/users-option-arrow02.png") no-repeat;
}
.users-option .options-block {
	width:228px;
	padding:5px;
	margin:-1px 0 0 0;
	border-top:#999999 1px solid;
	border-right:#999999 1px solid;
	border-bottom:#4293F7 2px solid;
	border-left:#999999 1px solid;
	background-color:#FFFFFF;
	overflow:hidden;
}
.users-option .options-block ul{
	width:198px;
	padding:7px 15px;
	border-bottom:#999999 1px solid;
	overflow:hidden;
}
.users-option .options-block ul.first-child {
	padding-top:5px;
}
.users-option .options-block ul.last-child {
	padding-bottom:0;
	border-bottom:none;
}
.users-option .options-block ul li{
	width:100%;
	display:block;
}
.users-option .options-block ul li a{
	font-size:12px;
	line-height:12px;
}*/


#recent-posts ul.post-cmntlike {
	width:421px;
	float:left;
	/*display:block;*/
	padding:4px 8px;
	margin:0 0 2px 0;
	background-color:#FEF6D8;
	position:relative;
}

#recent-posts ul.post-cmnterrormsg {
	width:421px;
	float:left;
	/*display:block;*/
	padding:4px 8px;
	margin:0 0 2px 0;
	position:relative;
}

#recent-posts ul.post-cmntlike li.cmntlike-icon {
	width:15px;
	height:15px;
	float:left;
	display:block;
	margin:0 8px 0 0;
}
#recent-posts ul.post-cmntlike li.cmntlike-icon img {
	width:auto;
	height:auto;
	display:block;
}
#recent-posts ul.post-cmntlike li.no-cmntlike {
	width:398px;
	float:left;
	display:block;
	font-size:12px;
	line-height:20px;
}
#recent-posts ul.post-cmntlike li.no-cmntlike a {
	font-size:12px;
	line-height:18px;
	color:#019cff;
	font-style:normal !important;
}
#recent-posts ul.post-cmntlike li.no-cmntlike a var{
	font-style:normal !important;
}
#recent-posts ul.post-cmntlike li.no-cmntlike a#no-of-likes{
	position:relative;
}
#recent-posts ul.post-cmntlike li.no-cmntlike a#no-of-likes .like-tooltip{
	width:auto;
	position:absolute;
	left:-15px;
	top:-70px;
	display:none;
}
#recent-posts ul.post-cmntlike li.no-cmntlike a#no-of-likes .like-tooltip span.text{
	display:block;
	padding:5px 5px 4px;
	font-size:12px;
	line-height:14px;
	text-align:center;
	color:#FFF;
	background-color:#999999;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
#recent-posts ul.post-cmntlike li.no-cmntlike a#no-of-likes .like-tooltip span.arrow{
	height:5px;
	display:block;
	background:center top url("../images/tooltip-arrow.png") no-repeat;
}
#recent-posts ul.post-cmntlike li.no-cmntlike a#no-of-likes:hover .like-tooltip{
	display:block;
}
#recent-posts ul.post-cmntlike li.picture {
	width:25px;
	height:30px;
	float:left;
	display:block;
	margin:0 5px 0 0;
}
#recent-posts ul.post-cmntlike li.picture a img {
	/*width:auto;*/
	height:auto;
	display:block;
	border-radius: 12px;
	margin:3px 0 2px 0;
}
#recent-posts ul.post-cmntlike li.picture  img {
	/*width:auto;*/
	height:auto;
	display:block;
	border-radius: 12px;
}
#recent-posts ul.post-cmntlike li.comnt-info {
	width:371px;
	float:left;
	display:block;
	font-size:12px;
	line-height:18px;
}
#recent-posts ul.post-cmntlike li.comnt-info a {
	font-size:12px;
	line-height:18px;
	color:#019cff;
}
#recent-posts ul.post-cmntlike li.comnt-info span{
	color:#ae8b13;
}
#recent-posts ul.post-cmntlike li.comnt-info a.name {
	font-weight:bold;
	padding:0 5px 0 0;
}
#recent-posts ul.post-cmntlike li.hide {
	width:10px;
	height:10px;
	float:right;
	padding:2px;
	margin:0 3px;
	text-align:center;
	background-color:#999999;
	position:relative;
	cursor:pointer;
	display:none;
}
#recent-posts ul.post-cmntlike:hover li.hide {
	display:block;
}
#recent-posts ul.post-cmntlike li.hide a {
	display:block;
	font-size:11px;
	line-height:10px;
	color:#FFFFFF;
}
#recent-posts ul.post-cmntlike li.hide a:hover {
	text-decoration:none;
}
#recent-posts ul.post-cmntlike li.hide a .hide-tooltip{
	width:auto;
	position:absolute;
	left:-21px;
	top:-45px;
	display:none;
}
#recent-posts ul.post-cmntlike li.hide a .hide-tooltip span.text{
	display:block;
	padding:5px 5px 4px 5px;
	font-size:11px;
	line-height:10px;
	text-align:center;
	color:#FFF;
	background-color:#999999;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
}
#recent-posts ul.post-cmntlike li.hide a .hide-tooltip span.arrow{
	height:5px;
	display:block;
	background:center top url("../images/tooltip-arrow.png") no-repeat;
}
#recent-posts ul.post-cmntlike li.hide:hover a .hide-tooltip{
	display:block;
}
#recent-posts ul.post-cmntlike li.add-comment{
	width:391px;
	float:left;
	display:block;
}
#recent-posts ul.post-cmntlike li.add-comment .rp-social-comment-box {
	margin:0;
	height:30px;
}
#recent-posts span.top-arrow {
	width:100%;
	height:8px;
	display:block;
	background:10px top url("../images/comment-arrow.png") no-repeat;
}
#recent-posts ul.post-cmntlike li.hide a .edit{
	left:-31px;
}
#recent-posts ul.post-cmntlike li.edit-and-delete{
	width:50px;
	padding:5px 15px 0 15px;
	border:#cccccc 1px solid;
	background-color:#FFFFFF;
	overflow:hidden;
	position:absolute;
	right:11px;
	top:18px;
	z-index:1;
	display:none;
}
#recent-posts ul.post-cmntlike li.edit-and-delete a{
	width:auto;
	display:block;
	font-size:12px;
	line-height:18px;
}
.delete-popup {
	width:430px;
	margin:auto;
	padding:0 15px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	background-color:#F9F9F9;
	-webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
	position:absolute;
	display: none;
}
.delete-popup h1.heading{
	width:auto;
	display:block;
	padding:10px 0 5px;
	margin:0 0 1em 0;
	font-size:20px;
	color:#454545;
	border-bottom:#999999 1px solid;
}
.delete-popup p.confirm{
    width: auto;
	display:block;
	padding:0;
	margin:0 0 1em 0;
    font-size: 14px;
	color: #666666;
}
.delete-popup .option-buttons {
	width:auto;
	padding:10px 0;
	display:block;
	border-top:#999999 1px solid;
	overflow:hidden;
}
.delete-popup .option-buttons a.delete{
	width:auto;
	float:right;
	display:block;
	padding:3px 10px 0;
	font-size:14px;
	line-height:21px;
	color:#FFFFFF;
	background:#4293F7;
}
.delete-popup .option-buttons a.cancel{
	width:auto;
	float:right;
	display:block;
	padding:3px 10px 0;
	margin:0 0 0 5px;
	font-size:14px;
	line-height:21px;
	color:#454545;
	background:#cccccc;
}
.delete-popup .option-buttons a:hover{
	text-decoration:none;
}
.delete-popup .close-btn{
	background-image: url('../images/fancybox/fancybox_sprite.png');
}
.delete-popup .close-btn {
	position: absolute;
	top: -18px;
	right: -18px;
	width: 36px;
	height: 36px;
	cursor: pointer;
	z-index: 8040;
}

.breadcrumb{
	line-height:0;
	margin-bottom:5px;
}

.breadcrumb li{
	display:inline-block;
	margin-right:3px;
	font-size:12px;
	line-height:1em;
	color:#019cff;
}

.breadcrumb li span{
	font-size:10px;
	color:#616161;
}

.breadcrumb li a{
	font-weight:normal;
}

/* New Updations done on 22-05-2014 */
.competition {
	margin-top:10px;
}
.widget .widget-head.comp-winner h3	{background: url('../images/main-sprite.png') no-repeat center left;  background-position: 0 -1742px; }
.competition .shadow-2 {
	text-align:center;
}
.competition .shadow-2 ul li {
	width:auto;
	display:inline-block;
}
.competition .shadow-2 ul li a img {
	width:auto;
	height:auto;
	margin:0 auto;
}
.competition .shadow-2 ul li a img.round-c {
	border-radius: 50%;
}
.competition .shadow-2 ul li span {
	margin-top:10px;
	display:block;
	font-size:14px;
	line-height:1.4em;
}

/* New Updations done for Mobile devices */
#recent-posts ul.post-cmntlike li.add-comment .rp-social-comment-box .textntags-wrapper .textntags-beautifier{padding:0;height:30px;}
#recent-posts ul.post-cmntlike li.add-comment .rp-social-comment-box textarea{font-size:13px !important;}
#recent-posts ul.post-cmntlike li.add-comment .rp-social-comment-box .textntags-wrapper textarea{height:30px !important;}
dl.files-links .rp-social a{margin:0 5px;font-size:12px;color:#454545;}
#recent-posts ul.post-cmntlike li.add-comment .rp-social-comment-box .textC-focus{box-shadow:none;border:none !important;}
dl.files-links .rp-social a:first-child{margin:0 5px 0 0;}
.media-show,
#header a.media-menu,
#header a.widget-menu,
.media-name {display:none !important;}
.textntags-wrapper textarea{font-family:'Proxima N W01 At Reg',Sans-serif !important;font-size:15px !important;}
.full-header{width:100%;height:43px;}
.rp-social{width:100%;float:left;}
.links{float:left;}
.fl-contents .rp-social{width:auto;}