/* 10 September 2013 03:52:42 */

body	{
	color: #454545;
}
.full-width	#header	{
	margin-bottom: 5px;
}
.full-width	h2	{
	margin: auto 0 /*MDS*/;
	font-size: 17px;
}
.full-width .left-contents	{
	width: 100% !important;
}

.container {
    font-size: 14px;
	xmargin: 45px;
}


#filter-search	{
	margin-left: 45px;
	margin-top: 18px;
	border-bottom: 1px solid #e5e3e0;
	margin-right: 45px;
}
#filter-search .filter-box	{
	width: 70%;
	float: left;
}
#filter-search ul	{
	width: 87%;
	padding: 0 1% 0 2%;
	display: inline-block;
	float:left;
}
#filter-search ul li	{
    display: inline-block;
    float: left;
    padding: 9px 5px;
}
#filter-search ul li a, #filter-search .filter-box ul li a {
    display: block;
    margin: 4px 0;					/*MDS*/
}
#filter-search .filter-box ul li a span {
    color: #97999B;
}
#filter-search #more_filter li { width: 92%; }
#filter-search .textC input[type=text]	{
	font-size: 13px !important;
}
#filter-search ul.btn-items{
	width: auto !important;
	display:block; float:right !important; margin:0;
	padding:0;
}

#filter-search ul.btn-items li{
	display:block; float:left; margin:9px 0 9px 5px;
	padding:0;
}

#filter-search ul.btn-items li a{
	display:block; float:left; margin:0;
	padding:7px 16px 5px;
}
#filter-search .filter-dd	{
	width: 130px;
	color: #adadad;
	font-size: 12px;
}
#filter-search .search	{
	float: right;
	margin-top: 3px;
	width: 30% !important;
	display: inline-block;
	position:relative;
}
#filter-search .search .textC { margin-top: 0 !important; }

.job-listing-block,
.files-links-box	{
	margin-top: 45px;
}
dl.job-listing,
dl.files-links	{
	margin-top: 25px;
	border-bottom: 1px dotted #cecece;
	padding: 0 45px 15px 45px;
}
.job-listing dt,
.files-links dt	{
	width: 15%;
	float: left;
	font-size: 12px;
	line-height: 26px;
	color:#ae8b13;
}
.job-listing dd,
.files-links dd	{
	float: left;
	width: 85%;
}
.job-listing dd h2,
.files-links dd h2	{
	margin: 0;
}
dl small	{
	font-size: 12px;
	color:#767676;
}
.job-listing dd p,
.files-links dd p	{
	margin-top: 12px;
}


.job_description p,
.product-grid p {
    margin-bottom: 15px;
}
.apply_share {
    margin: 15px 0;
}

.catalogue-bg	{
	background: url('../images/icons/Home01_10.png') no-repeat scroll 15px bottom transparent;
	margin-bottom: -1px;
    position: relative;
    z-index: 999;
	padding-bottom: 12px;
}

.textC input[type=submit].btn-go-inline, .textC input[type=button].btn-go-inline {
    background: url('../images/main-sprite.png') no-repeat scroll center center transparent; background-position: 0 -532px;
    border: medium none;
    float: right;
    text-indent: -2222px;
	margin-top:7px;
	height:16px;
	width:18px;
}

.job_details,
.concept-grid,
.people-grid,
.market-grid,
.product-grid	{
	margin: 45px;
}

.job_details .jd-lft,
.product-grid .pdp-lft	{
	float: left;
	width: 540px;
}

.job_details .jd-rgt,
.product-grid .pdp-rgt	{
	width: 260px;
	float: right;
}

.job_details .jd-title {
    font-size: 110%;
    margin-bottom: 5px;
    margin-top: 7px;
}

.job_details table, .job_details td{
	border:none;
}


/* CONCEPTS CSS - 12 September 2013 02:53:54 */
.concept-grid, .market-grid	{}
.concept-intro	{width: 245px; padding: 0 4px 0 3px; font-size: 14px; color: #333333; float: left;}
.concept-intro h1	{font-size: 51px; letter-spacing: -1px; /*text-shadow: 1px 1px;*/ line-height: 55px; margin-top: 25px; margin-bottom: 15px;}
.concept-box, .market-box	{max-width: 253px; margin-bottom: 40px; border: 1px solid #eeeeee; border-radius: 2px; float: left; position:relative;}
.concept-box{padding:10px;}
.concept-box.mid, .market-box.mid	{margin-left: 43px; margin-right: 43px;}
.concept-box.empty{border:none; width:227px;}
.concept-box.mid img{display:block;}
.concept-box .cp-img-logo {margin-left: 40px; margin-top: 75px; position: absolute; cursor: pointer;}
.concept-box .cp-img-text {top: 50%; position: absolute; cursor: pointer; text-align:center; font-size:24px; width:225px; font-weight:bold; padding:10px 0; background:#fff;}
.concept-box .cp-span-big {background: #CCCCCC; display: table; opacity: 0.4; text-align: center; height: 220px !important; filter:alpha(opacity=40);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";}
.concept-box .cp-span-text {color: #000000; display: table-cell; font-size: 30px; text-decoration: none; vertical-align: middle;}
.concept-box .cp-span-text div {background: #FFFFFF; border-radius: 5px; margin: 10px 5px; opacity: 0.65;filter:alpha(opacity=65);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";}

.concept-box .cp-img-big, .market-box .p-img-big	{width: 220px; height: 220px; border: 1px solid #dfdfdf; border-radius: 110px; box-shadow: 0px 0px 5px #CCC; background: #FFF;}
.concept-box .cp-img-big	{opacity: .4;filter:alpha(opacity=40);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=45)";}
.concept-box .cp-img-big:hover, .concept-box .cp-span-big:hover, .market-box .p-img-big:hover	{zoom: 1; opacity: 1; border-color: #ccc;filter:alpha(opacity=100);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
.concept-box .cp-bg-big	{width: 220px; height: 220px; border: 1px solid #dfdfdf; border-radius: 2px; box-shadow: 0px 0px 5px #CCC; background: #FEF6D8;opacity: .4;filter:alpha(opacity=40);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";}
.concept-box a:hover	{text-decoration: none;}
.concept-box > a	{display: inline-block;}
.concept-box .cp-followers-bx	{min-height: 60px;}
.concept-box .x-members	{margin: 5px 0 18px 0;}
.concept-box .x-members span	{padding-left: 15px; font-weight: bold; background: url('../images/main-sprite.png') no-repeat center left;background-position: 0 -1047px; }
.concept-box .cp-followers	{width: 122px; color: #808080; float: left;}
.concept-box .cp-followers img, .market-box .p-followers img	{width: 25px; height: 25px; margin-right: 5px; margin-bottom: 5px; border-radius: 13px; float: left; opacity: .9;filter:alpha(opacity=90);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";}
.concept-box .cp-followers img:hover, .market-box .p-followers img:hover	{opacity: 1;filter:alpha(opacity=100);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}
.concept-box .cp-btn-follow	{float: right;}

/* GROUP -list-view /*MDS*/
.concept-table{ width: 100%;float: left; overflow:hidden;}
.concept-table .view-head{ width: 100%;margin-bottom: 15px; overflow: hidden;}
.concept-table .view-head span{float: left;text-transform: uppercase;}
.concept-table .concept-row{padding: 20px 0 10px 0;border-top: 1px solid #eeeeee; overflow: hidden;}
.concept-table .concept-row .alphabet{ float: left;width: 150px;}
.concept-table .concept-row .group-data{float: left;width: 700px;}
.concept-table .concept-row .group-data ul li{overflow: hidden;margin-bottom: 10px;}
.concept-table .concept-row .group-data ul li span.name{ font-weight:bold; font-size:18px; width:350px;float: left;}
.concept-table .concept-row .group-data ul li span.count{width:200px;float: left;margin-top: 2px;}
.concept-table .concept-row .group-data ul li input{ float: right;}

/* MARKETPLACE CSS - 17 September 2013 00:12 */
.market-box	{font-size: 16px;}
.market-box .p-followers-bx	{width: 90%; float: left; margin: 15px 0 0 0; padding: 0 5% 5px; background: none repeat scroll 0 0 #F3F1EE; }
.market-box .p-img-big	{ margin: 15px 14px; opacity: .9;filter:alpha(opacity=90);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";}
.market-box .x-members {width: 90%; height: 60px; float: left; margin: 0 0 10px 0; padding: 0 5%; overflow: auto; }
.market-box .x-members a { width: 100%; height: 100%; float: left; overflow: auto; }
.market-box .p-followers	{margin-top: 15px;}
.market-box .p-followers img	{margin-top: -2px;}
.market-box .m-price	{ width: 90%; float: left; margin: 0 0 10px 0; padding: 0 5%; font-size: 12px; color: #e5b934;}
.market-box .m-price span	{font-size: 15px;font-weight: bold;}
.market-box blockquote{color:#919191; font-size:14px; margin:5px 0 0 15px;}

.market-filter ul.filter-links {border: medium none !important; margin-top: 20px; padding: 0;}
.market-filter ul.filter-links > li {padding: 1px 7px !important;}
.market-filter .filter-block	{ width: 69%; float: left; margin-right: 0px;}
.market-filter .filter-block-c {margin-left: -45px; padding-left: 45px; padding-top: 13px; margin-top:-4px;}
ul.marketplace.filter-links	{border-bottom: 1px solid #d9d9d9; margin-top: 25px;}
.market-filter .search	{margin-top: 0 !important;}
.market-grid .list-view-head	{display: none;}
.market-grid .market-box .xtra4-list-view	{display: none;}

/* MARKETPLACE - LIST VIEW CSS - 14 October 2013 15:20:02*/
.market-grid-view	{padding: 0 45px; margin-top: -25px; margin-bottom: 60px;}
.market-grid.list-view .list-view-head	{border: 1px solid #EEEEEE; color: #666666; display: table; font-weight: bold; padding: 4px 0; width: 99.8%; border-bottom-width: 0; border-radius: 2px; background: #F5F5F5;}
.market-grid.list-view .list-view-head span	{display: table-cell;}
.market-grid.list-view .list-view-head span.col-img	{width: 127px; padding-left: 14px;}
.market-grid.list-view .list-view-head span.col-details	{padding-left: 14px;}
.market-grid.list-view .list-view-head span.col-category	{width: 125px;}
.market-grid.list-view .list-view-head span.col-updated-on	{width: 110px;}
.market-grid.list-view .list-view-head span.col-price	{width: 150px;}
.market-grid.list-view .market-box	{float: none; max-width: inherit; margin-bottom: 0; padding-bottom: 9px; border-bottom-width: 0;}
.market-grid.list-view .market-box:hover	{background: #FFFFED;}
.market-grid.list-view .market-box:last-child	{border-bottom-width: 1px;}
.market-grid.list-view .market-box.mid	{margin-left: 0; margin-right: 0;}
.market-grid.list-view .market-box .m-price	{margin-left: -146px; display: none;}
.market-grid.list-view .market-box .p-img-big	{width: 120px; height: 120px; float: left; margin-right: 20px; margin-bottom: 8px; box-shadow: none; border-radius:60px;}
.market-grid.list-view .market-box .x-members	{float: none; height: auto; margin-top: -10px; width: 310px;}
.market-grid.list-view .market-box .xtra4-list-view	{display: table; float: right; margin-top: 12px; color: #666; width: 385px;}
.market-grid.list-view .market-box .xtra4-list-view span	{width: 29%; display: table-cell; font-size: 13px;}
.market-grid.list-view .market-box .xtra4-list-view mark	{background: none; font-size: 18px; position: relative; top: 4px;}
.market-grid.list-view .market-box .xtra4-list-view span:first-child {padding-right: 10px; width: 32%;}
.market-grid.list-view .market-box .xtra4-list-view span:last-child	{width: 39%;}
ie8 .market-grid.list-view .market-box .xtra4-list-view span { width: 26%; }
ie8 .market-grid.list-view .market-box .xtra4-list-view span:first-child { padding: 0; width: 29%; }
ie8 .market-grid.list-view .market-box .xtra4-list-view span:last-child	{ width: 35%; }
.market-grid.list-view .market-box .p-followers-bx{background:none; margin-top:0;}

.market-grid.list-view .market-box blockquote{display:none;}
/* MARKETPLACE INNTER - 20 September 2013 01:11:07*/
.product-grid	{margin-top: 25px;}
.product-grid .pdp-lft	{width: 575px;}
.product-grid h1 {font-size: 26px; margin-bottom: 10px; margin-top: 5px;}
.pdp-description .price	{font-size: 16px; margin-bottom: 10px;}
.pdp-gallery	{}
.pdp-gallery .spotlight	{border: 1px solid #eeeeee; border-radius: 3px; display: inline-block; margin: 13px 0; padding: 0;}
.pdp-gallery .spotlight img	{width: 530px; height: auto; margin: 14px 14px 10px; border: 1px solid #dfdfdf; border-radius: 2px; }
.pdp-gallery ul.tn-gallery	{}
.pdp-gallery ul.tn-gallery li	{margin-right: 9px; display: inline-block; border: 1px solid #ededed; border-radius: 3px; margin-bottom: 13px;}
.pdp-gallery ul.tn-gallery li:hover, .pdp-gallery ul.tn-gallery li.active	{border-color: #999;}
.pdp-gallery ul.tn-gallery img	{margin: 9px 9px 5px; display: inline-block; border: 1px solid #FFF; border-radius: 2px;}



/* PEOPLE - CSS 12 September 2013 19:46:03 */
.people-grid	{margin-top: 25px; margin-bottom: 0px; margin-right: 0px; width:94%; }
.people-grid .box-fl-l	{float: left; margin-right: 45px; width: 44.5%; height: 190px; margin-bottom: 35px;}
/*.people-grid .box-fl-l.box-mid	{margin-left: 45px; margin-right: 45px;}*/
.people-grid .follow-box-c	{padding-right: 9px; min-height: 129px; margin-top:5px;/*MDS*/}
.block-follow .f-action {padding: 2px 9px 6px; text-align: right;}
.people-grid .follow-box-c .grey-link	{display: inline-block; margin-left: 5px; margin-top: 3px; vertical-align: middle;}


/* PEOPLE GRID CSS - 16 October 2013 21:27:40 */
.people-grid-view	{padding: 0 50px; margin-top: 15px;}
.people-grid-view	ul.sort li{float:left; margin-right: 7px; display: block;}
.people-grid-view	ul.sort li a{display: block; border:#666 1px solid; padding:2px 6px 0; font-size:11px;}
.people-grid-view	ul.sort li a:hover, .people-grid-view	ul.sort li a.active {background:#4293F7; border-color:#4293F7; color:#FFF; text-decoration: none;}
.people-grid.list-view .list-view-head	{border: 1px solid #EEEEEE; color: #666666; display: table; font-weight: bold; padding: 4px 0; width: 99.8%; text-align: center; border-bottom-width: 0; border-radius: 2px; background: #F9F9F9;}

.people-grid.list-view	{}
.people-grid.list-view .block-follow	{margin-top: auto;}
.people-grid.list-view .box-fl-l	{float: none; width: auto; height: auto; margin-bottom: 0;}
.people-grid.list-view .shadow-2	{border-radius: 2px; border-bottom-width: 0;}
.people-grid.list-view .follow-box-c	{min-height: inherit;}
.people-grid.list-view h2	{display: inline;}
.people-grid.list-view .follow-box-c ul	{display: table; direction: rtl; float: right; margin-top: 1px; min-width: 400px;}
.people-grid.list-view .follow-box-c ul li	{display: table-cell; direction: ltr; border: 0px solid #666;}
.people-grid.list-view .follow-box-c ul li.iconMobile	{text-align: right;}

.people-grid.list-view .block-follow .f-action	{display: none;}

.people-grid.list-view xxxxxxxx.follow-box-c img.avatar	{float: left;}


/* PEOPLE LIST VIEW - NEW CODE */
.table.people-list	{margin-top: 25px !important;}
.table	{display: table; width: 90%; margin: auto; border: 1px solid #E5E3E0; border-top-width: 0; border-radius: 3px; box-shadow: 1px 1px 2px #EAE8E5;}
.row	{display: table-row; border-bottom: 1px solid #E5E3E0;}
.row.head	{background: #F5F5F5; padding: 0 5px; font-weight: bold;}
.row.head .col1, .row.head .col2	{height: 27px; border-top: 1px solid #EEEEEE; border-bottom: 1px solid #EEEEEE;}
.row.head .col1	{border-left: 0px solid #EEEEEE; border-radius: 3px 0 0 0;}
.row.head .col2	{border-right: 0px solid #EEEEEE; border-radius: 0 3px 0 0;}
.row.head .col2 .contact-info li {width: 40%;/*MDS-p*/}
.row.head .col2 .contact-info li.ext {width: 20% !important;}
.row.head .col2 .contact-info li:last-child	{width: 30% !important;}

.row.col-even	{background: #f9f9f9;}
.col1, .col2	{display: table-cell; vertical-align: middle;}
.col1	{width: 57%;}
.basic-info, .contact-info	{display: table; width: 100%;}
.basic-info li, .contact-info li {display: table-cell; vertical-align: middle; padding: 15px 0 10px 0;/*MDS*/ width:75%;}
.basic-info li:first-child {width: 8%; padding: 10px;/*MDS-p*/ }
.basic-info li:first-child a { margin: 0; }
.basic-info li:last-child {width: 16%;}
.status.online {margin-bottom: 0;}
.basic-info span {display: inline-block; margin-bottom: 5px;}
.basic-info li a {margin-right: 5px; margin-top:22px; /*MDS-p*/}
.basic-info li a.email, .basic-info li a.chat	{ float:left;}
.basic-info li a.email span, .basic-info li a.chat span {display: inline-block; height: 18px; width: 18px; text-indent: -2960px;}
.email	{width: 23px !important; background: url('../images/main-sprite.png') no-repeat ; position: relative; top: -10px; background-position: 0 -983px;/*MDS-p*/}
.chat	{width: 19px !important; background: url('../images/main-sprite.png') no-repeat ; position: relative; top: -10px; background-position: 0 -786px;/*MDS-p*/}
.contact-info li {text-align: left; width: 40%; /*MDS-p*/}
.contact-info li.ext {width: 20% !important; font-weight: bold;}
.contact-info li:last-child	{padding-right: 10px; width: 30% !important;}


/* FILES & LINKS */
.upload-share-block {border-bottom: 1px solid #CCCCCC; margin: 30px 45px 20px; margin: 35px 45px 27px; padding-bottom: 10px; text-align: right;}
.files-links-box	{}
.files-links dd h2	{margin-top: -2px;}
.files-links dd span.ph	{/*display: inline-block;*/ width: 15%; float: left; margin-right: 1%; }
.files-links dd .f1-c2 { width: 84%; float: left; }
.files-links dd .f1-c2 h2, .files-links dd .f1-c2 p.dgrey, .files-links dd .f1-c2 .rp-social { width: 100%; float: left; display: block; }
.files-links dd span.ph img	{vertical-align: bottom; border:#ccc 1px solid; width:97px; height:97px; padding:1px; border-radius:60px;}
.files-links p.dgrey	{color: #666666;}
div.tags{ overflow:hidden;}
.files-links dd .lbl, div.tags .lbl {background: url('../images/main-sprite.png') no-repeat scroll left center #DBDBDB; border-color: #000000;  border-radius: 0 2px 2px 0; border-image: none; border-style: solid; color: #A4A4A4; display: inline-block; font-size: 12px; font-weight: normal; margin-left: 5px; line-height: 16px; cursor: pointer;text-align: left; float:left; margin-bottom:5px; background-position: 0 -917px; }
div.tags strong{float:left; height:40px;}
.files-links dd .lbl.active, div.tags .lbl.active,.files-links dd .lbl:hover, div.tags .lbl:hover{background: url('../images/main-sprite.png') no-repeat scroll left center #4293f7;  background-position: 0 -851px;}
.files-links dd .lbl span, div.tags .lbl span	{ 	background: url('../images/sprite/bgLabel.png') repeat-x scroll left center #DBDBDB; border-radius: 0 2px 2px 0; border-right: 1px solid #B6B6B6; display: inline-block; padding: 0 8px 0 6px; margin-left: 13px; }
.files-links dd .lbl.active span, div.tags .lbl.active span, .files-links dd .lbl:hover span, div.tags .lbl:hover span{background: url('../images/sprite/bgLabel-active.png') no-repeat scroll left center #4293f7; color:#FFF;}
dl.files-links dd .fl-contents	{position: relative; margin-top: 40px;}
dl.files-links dd .fl-contents:first-child	{margin-top: 0px;}
dl.files-links dd blockquote.icon {/*height: 31px; left: 1px; top: 1px;*/ position: absolute; width: 28px;}
dl.files-links .rp-social	{margin-top: 5px;}

.icon.pdf{background: url('../images/icons/iconPDF.png') no-repeat scroll 0 0 transparent;}
.icon.ppt{background: url('../images/icons/iconPPT.png') no-repeat scroll 0 0 transparent;}
.icon.img{background: url('../images/icons/iconImage.png') no-repeat scroll 0 0 transparent;}

dl.files-links dd blockquote.icon	{
/*	background: #0D68C3;	*/
    color: #666;
    font-weight: bold;
    left: 7px;
    letter-spacing: 1px;
    padding: 2px 1px;
    position: absolute;
    text-align: center;
    width: 85px;
	text-transform: uppercase;
	top:38px;
	/*opacity: 0.95;	*/
}
.files-links dd span.ph	{
	width: 15%;
    float: left;
    margin-right: 1%;
}

.icon.doc{background: #fff;}
.icon.xls{background: #fff;}
.icon.ppt{background: #fff;}
.icon.pdf{background: #fff;}
.icon.img{background: #fff;}
.icon.zipped{background: #fff;}
.icon.link{background: #fff;}
.icon.audio{background: #fff;}
.icon.video{background: #fff;}
.icon.open{background: #fff; color: #333333 !important;}
.icon.computer{background: #fff; color: #fff; color: #fff !important;}
.icon.corpcomm	{background: #fff;}

blockquote.icon	{opacity: 0;filter:alpha(opacity=0);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";}
blockquote.icon > div {margin: 0 3px 3px 2px ;}
.market-box blockquote.icon{width: 90%; float: left; margin: 0; padding: 0 5%; opacity: 1; background:#fff;filter:alpha(opacity=100);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";}


/* EDIT PROFILE - POPUP 17 September 2013 15:08:30 */
.fb-container-box	{padding: 5px;}
.fb-container-box .msg	{margin: 10px 0;}

.refer_friend-box	{width: 95% !important;}
.refer_friend-box hr.dotted {margin: .75em 0; border-top: 1px dotted #ccc;}



#people_popup {
    font-size: 14px;
    background: #FFF;
}
#people_popup h2 {
    font-size: 17px;
}
#people_popup .col1, #people_popup .col2 {
    display: table-cell;
    padding-top: 5px;
}
#people_popup .people-grid-view {
    margin-top: 0;
    padding: 15px 50px 0;
}



@media screen and (-webkit-min-device-pixel-ratio:0) {
	.people-grid .follow-box-c {padding-right: 3px;}
}

/*People-Search*/
#search_element{
	position:absolute;background:#fff; width: 253px; left:0; top:30px; background: #FFF; border: 1px solid #D9D9D9; border-radius: 0 0 3px 3px; box-shadow: 2px 2px 3px #efe1a4; max-height:500px; overflow-y:scroll; z-index:1000;
}

#search_element #src_user_list{
	width:100%;
	overflow:hidden;
	margin:0;
	padding:0;
}

#search_element #src_user_list li{
	padding:5px;
	overflow:hidden;
	display:block;
	margin-bottom:5px;
	border-bottom:#CCC 1px solid;
}

#search_element #src_user_list li:hover{
	background:#FFFFED;
}

#search_element #src_user_list li img{
	float:left;
	height:47px;
	width:47px;
	margin-right:5px;
}

#search_element #src_user_list li p{
	float:left;
	width:190px;
}

#search_element #src_user_list li p.name{
	font-size:12px;
	line-height:14px;
	font-weight:bold;
}

#search_element #src_user_list li p.info{
	font-size:12px;
	color:#999;
}

#search_element #src_user_list li p.contact{
	font-size:10px;
}

#search_element .src_more_res{
	float:left;
	display:block;
	text-align:center;
	width:100%;
	font-size:12px;
}

#search_element .loader-more{
	margin:0;
}

/*Survey*/

table{ 
	border-color:#ccc;
	border-width: 1px 0 0 0;
    border-style: solid;
}
td{
	border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #ccc;
}

th{
	border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: #ccc;
}

/* saf3+, chrome1+ */
@media screen and (-webkit-min-device-pixel-ratio:0) {
 td{
	border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #ccc;
}
}

.assess-form{
	margin: 45px;
}

.assess-form .row{
	width:100%;
	border-bottom:none;
	overflow:hidden;
}

.assess-form label{
	width:100px;
	margin-right:20px;
	float:left;
	margin-left:220px;
}
.assess-form .textC{
	float:left;margin-bottom:15px;
}

.assess-form input[type=text], .assess-form ul.token-input-list-facebook{
	width:290px;
	text-align:left;
}
.assess-form ul.token-input-list-facebook input[type=text]{
	width:100px;
}

.assess-form select{
	width:310px;
	padding:5px;margin-bottom:15px;
}

.assess-form .row.quest .textC{
	margin-left:220px;
}

.assess-form .row.quest input[type=text]{
	width:410px;
	text-align:left;
}

.assess-form .row.quest a, .assess-form a.indented_hyperlink {
	float:left;
	margin-left:20px;
	margin-top:5px;
}

.assess-form a.indented_icons {
	float:left;
	margin-left:5px;
	margin-top:0px;
}

.assess-form .row.quest input[type=submit]{
	margin-left:590px;
}

.frm-sur{
	margin:45px;
	overflow:hidden;
}

.frm-sur input[type=submit]{
	float:right;
}
.sur-holder{
	margin:0 0 30px;
	border:1px solid #E5E3E0;
}


.sur-structure{
	width: 94%;
	float: left;
	padding: 25px 3% 10px;
	margin: 0 0 15px 0;
	background-color:#FEF6D8;
}

.sur-structure .row{
	width:100%;
	float: left;
	border-bottom:none;
	overflow:hidden;
}

.sur-structure label{
	width:23%;
	float:left;
	padding: 10px 2% 10px 0;
}
.sur-structure span{
	width: 75%;
	float:left;
	padding: 10px 0;
	color:#960;
}


.checklist{
	padding: 30px;
}

.checklist table{
	box-shadow: 1px 1px 2px #EAE8E5;
}

.checklist table th, .checklist table td{
	vertical-align:middle;
}

.checklist table th{
	background:#F5F5F5;
	text-align:center;
	height:50px;
}

.checklist table td{
	text-align:left;border-bottom:1px solid #E5E3E0;
	padding:8px 8px;
	position:relative;
}

.checklist table td:first-child, .checklist table td.first-child{
	text-align:center;
}

.checklist table td label{
	margin-left:5px;
	margin-right:10px;
}


.checklist table td:nth-child(3), .checklist table td.third-child{
	text-align:center;
}
.checklist table tr:nth-child(2n+1) td{
	background:#F5F5F5;
}

.checklist table td .ans-no{
	z-index:100;
	background:#FEF6D8;
	overflow:hidden;
	width:312px;
	padding:10px 0;box-shadow: 1px 1px 2px #EAE8E5;
	margin:0 auto;
}

.checklist table td .ans-no .textC{
	margin:0 10px 10px;
	float:left;
}

.checklist table td .ans-no .textC.date{
	margin:0 10px;
}

.checklist table td .ans-no .textC.date input[type=text]{
	width:100px;
}

.checklist table td .ans-no input[type=text]{
	width:150px;
}

.result{
	padding: 30px;
}

.result table{
	border:#e5e3e0 1px solid;
}

.result table,.result table th, .result table td{
	vertical-align:middle;
	text-align:center;
}

.result table th{
	background:#f5f5f5;
	text-align:center;
	height:50px;
}

.result table td{
	padding:10px 0;
	position:relative;
	padding-left : 5px;
}

.result table td:first-child, .result table td.first-child{
	padding-left:10px;
}

.result table tr:nth-child(2n+1) td{
	background:#fefbea;
}

.result table td.red, .result table td.red{
	 color:#C00;
}
.result table td.red, .result table td img{
	margin-right:5px;
}

.result table td.green, .result table td.green{
	 color:#467345;
}

.result table td.yellow, .result table td.yellow{
	 color:#584707;
}

.result table tr.res td{
	background:#e5e3e0;
	font-weight:bold;
	color:#000;
}

.result table tr.res td.red{
	color:#C00;
}
.result table.introtable{
	margin-bottom:20px;
}

.result table.introtable tr td{
	text-align:left;
	background:#fef6d8;
	font-size:15px;
}

.result table.introtable tr td:first-child{
	font-weight:bold;
}

.result table.introtable tr td:nth-child(2){
	color:#584707;
	padding-left:10px;
}

.result table.Outlet-main tr td.comp-head{
	background:#e5e3e0;
	text-align:center;
	font-weight:bold;
}

.result table.Outlet-main tr td.comp-res{
	background:#f3f1ee;
	text-align:center;
	color:#d10000;
	font-weight:bold;
	font-size:20px;
}

.result table.rcm tr th{
}

.result table.rcm tr td.mcp, .result table.rcm tr th.mcp {
	background:#f3f1ee;
}


#report-popup{
	padding: 30px;
}

#report-popup table{
}

#report-popup table #report-popup table th, #report-popup table td{
	vertical-align:middle;
	text-align:center;
	background:#fff;
}

#report-popup table th{
	background:#f5f5f5;
	text-align:center;
	height:50px;
}

#report-popup table td{
	padding:10px 0;
	position:relative;
}

#report-popup table td:first-child, #report-popup table td.first-child{
	padding-left:10px;
}

#report-popup table tr:nth-child(2n+1) td{
	background:#fefbea;
}

#report-popup table td.red, #report-popup table td.red{
	 color:#C00;
}
#report-popup table td.red, #report-popup table td img{
	margin-right:5px;
}

#report-popup table td.green, #report-popup table td.green{
	 color:#467345;
}

#report-popup table td.yellow, #report-popup table td.yellow{
	 color:#584707;
}

#report-popup table tr.res td{
	background:#e5e3e0;
	font-weight:bold;
	color:#000;
}

#report-popup table tr.res td.red{
	color:#C00;
}
#report-popup table.introtable{
	margin-bottom:20px;
}

#report-popup table.introtable tr td{
	text-align:left;
	background:#fef6d8;
	font-size:15px;
}

#report-popup table.introtable tr td:first-child{
	font-weight:bold;
}

#report-popup table.introtable tr td:nth-child(2){
	color:#584707;
	padding-left:10px;
}

#report-popup table.Outlet-main tr td.comp-head{
	background:#e5e3e0;
	text-align:center;
	font-weight:bold;
}

#report-popup table.Outlet-main tr td.comp-res{
	background:#f3f1ee;
	text-align:center;
	color:#d10000;
	font-weight:bold;
	font-size:20px;
}

#report-popup table.rcm tr th{
	border-bottom:#CCC 1px solid;
}

#report-popup table.rcm tr td.mcp, #report-popup table.rcm tr th.mcp {
	background:#f3f1ee;
}

.action-plan{
	padding:0 30px 30px;
}

.action-plan table{
	box-shadow: 1px 1px 2px #EAE8E5;
}

.action-plan table td{
	vertical-align:middle;
	text-align:left;
	padding:10px;
}

.action-plan table td:first-child, .action-plan table td.first-child{
	background:#F5F5F5;
	font-size:12px;
}

.action-plan  table td:last-child, .action-plan table td.last-child{
	background:#fffec9;
}

.action-plan .textC{
	margin:0 10px 0 0;
	float:left;
}
.action-plan .plan-check {
	float: left;
	margin: 0 10px 0 0;
}
.action-plan .plan-check .yes_checkbox {
	margin: 0 !important;
}

.action-plan .textC.date{
	margin:0 10px 0 0;
}

.action-plan .textC.date input[type=text]{
	width:100px;
}

.action-plan .textC.resp{
	margin:0 10px 0 0;
}

.action-plan .textC.resp input[type=text]{
	width:100px;
}

.action-plan input[type=text]{
	width:340px;
}
.error-msg {
color:#FF0000;
}
.action-plan .textC.plan input[type=text]{
	width:185px;
}
#slider-holder #slider-min {
float: left;
padding-bottom: 10px;
}

#slider-holder #slider-max {
float: right;
}

#people-page .left-contents	{
	padding-bottom: 15px;
}

#people-page .right-contents	{
	padding-bottom: 15px;
}

/* New Updations */
.concept-box .survey {
	font-size:24px;
	line-height:28px;
	padding:8px 0;
}
.concept-box .cp-span-text div.survey{opacity: 0.9;filter:alpha(opacity=90);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";}

.concept-box .cp-span-text div.survey{opacity: 0.9;filter:alpha(opacity=90);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";}

#recent-widget{
padding:0 30px 30px ;
font-size:14px;
}

#recent-widget h3{
font-weight:bold;
}

#recent-widget .btn-items{
float:right;
}

#recent-widget .btn-items li{
float:left;
display:block;
}

#recent-widget img {
max-width: 100%;
}

.ter-head{
	position:relative;
	display:block;
}

.ter-btn{
	position:absolute;
	right:0;
	top:-15px;
	width:22px;
	height:22px;
	cursor:pointer;
	/*display:none;*/
}

.ter-head:hover .ter-btn{
	/*display:block;*/
}

.ui-autocomplete li.ui-menu-item .ui-corner-all {
	display: inline-block;
	padding: 0;
	width: auto;
}

.pop-win-file form #txtarcomments-file {
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D5D5D5;
    border-radius: 3px;
    box-shadow: 1px 1px 2px #EEEEEE inset;
    padding: 0 7px;
    width: 95%;
}

#filter-search ul.ui-autocomplete{
	padding-right:0;
	margin-top:-3px;
}

#filter-search ul.ui-autocomplete li:first-child{
	padding-left:5px;
}

ul.ui-autocomplete{
	width:253px;
	overflow-x:hidden;
	margin:0;
	padding:0;
	position:absolute;
	z-index:100;
}

ul.ui-autocomplete li.ui-menu-item {
	width: 94%;
	padding:15px 3%;
	overflow:hidden;
	display:block;
	border-bottom:#CCC 1px solid;
}

ul.ui-autocomplete li.ui-menu-item:hover {
	background:#FFFFED;
}

.ui-autocomplete li.ui-menu-item:hover .ui-corner-all, .ui-autocomplete li.ui-menu-item:hover .ui-state-focus {
	background: none;
	margin: 0;
}

ul.ui-autocomplete li.ui-menu-item img{
	float:left;
	height:47px;
	width:47px;
	margin-right:0;
	border-radius:25px;
	border:#EEE 2px solid;
	margin-left:0;
}

ul.ui-autocomplete li.ui-menu-item p{
	float:left;
	width:74%;
	margin-left: 3%;
}

ul.ui-autocomplete li.ui-menu-item p.name{
	font-size:12px;
	line-height:14px;
	font-weight:bold;
}

ul.ui-autocomplete li.ui-menu-item p.info{
	font-size:12px;
	color:#999;
}

ul.ui-autocomplete li.ui-menu-item p.contact{
	font-size:10px;
}

#people-page .ui-autocomplete li:hover.ui-menu-item .ui-corner-all{
	background:none; 
}

#people-page .ui-menu .ui-menu-item a.ui-state-focus, .ui-menu .ui-menu-item a.ui-state-active{
	margin:0px;
}

#people-page .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{
	background: #FFFFED;
}

/*portal-updates*/
.portal-main{
	text-align:center;
	padding:40px;
}

.portal-main h1{
}

.portal-main ul{
	margin-left:-40px;
	width:903px;
}

.portal-main ul li{
	width:140px;
	margin-left:35px;
	display:inline-block;
	vertical-align:top;
	opacity: 0.6;filter:alpha(opacity=60);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";
}

.portal-main ul li img{
	width:140px;
	height:140px;
	box-shadow:0px 0px 5px #999;
	margin-bottom:10px;
}

.portal-main ul li .text{
	font-size:18px;
	line-height:24px;
}

.portal-main ul li:hover{
	opacity: 1;filter:alpha(opacity=100);-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

.portal-main ul li a:hover{
	color:#454545;
	text-decoration:none;
}
	
.nicEdit-main img{height:150px;}

/* progress bar style */
#progressbox {
    border: 1px solid #92C8DA;
    padding: 1px; 
    position:relative;
    width:70%;
    border-radius: 3px;
    margin: 10px 10px 10px 0px;
    display:none;
    text-align:left;
}
#fileprogressbar {
    height:20px;
    border-radius: 3px;
    background-color: #4293F7;
    width:1%;
}
#statustxt {
    top:3px;
    left:50%;
    position:absolute;
    display:inline-block;
    color: #000000;
}

/* progress bar style */
#progressbox_photo {
    border: 1px solid #92C8DA;
    padding: 1px; 
    position:relative;
    width:70%;
    border-radius: 3px;
    float:left;
    display:none;
    text-align:left;
}
#fileprogressbar_photo {
    height:20px;
    border-radius: 3px;
    background-color: #4293F7;
    width:1%;
}
#statustxt_photo {
    top:3px;
    left:50%;
    position:absolute;
    display:inline-block;
    color: #000000;
}

/* Remove the read less div */
.readmore .read-less{
display: none;
}
.section .left-contents .section .left-contents { border-width: 1px 0; }
.section .left-contents .section .left-contents #filter-search .filter-box {
	width: 64% !important;
}
.section .left-contents .section .left-contents #filter-search .search {
	width: 36% !important;
}
.section .left-contents .section .left-contents #filter-search .search .textC {
	padding: 0 5px !important;
}
.section .left-contents .section .left-contents #filter-search .search input[type="text"] {
	font-size: 12px !important;
	padding: 8px 0 !important;
}
.section .left-contents .section .left-contents #filter-search ul {
	width: 81% !important;
}
.section .left-contents .section .left-contents .container .files-links-block dl.files-links dd .fl-contents span.ph{ width: 22%; margin-right: 1%; }
.section .left-contents .section .left-contents .container .files-links-block dl.files-links dd .fl-contents div.f1-c2{ width: 77%; }

#upload_concept_info{width: 95% !important;}