/* 07 September 2013 05:31:21 */

body	{
	overflow: hidden;
	background: #111111;
}

body.login-bg	{
	background:#000 url(../images/login-bg_new.jpg) repeat top center;
}
.logo-intro	{
	margin-top: 5%;
	text-align: center;
	color: #FFF;
}
.intro-text	{
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 65px;
}
ul#collage	{
    border: none;
    left: 0;
    position: absolute;
    top: 0;
    z-index: -9;
	background: #111111;
	width: 110%;
}
ul#collage li	{
	width: 120px;
	height: 120px;
	background: #CCC;
	float: left;
/*	margin-right: 1px;
	margin-bottom: 1px;	
	border: 1px solid #FFF;
	border-width: 1px 0 0 1px; */
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.login_box	{
	box-shadow: 0px 0px 0px 5px rgba(100, 100, 100, 0.15);
	box-shadow: 0 0 0 5px rgba(200, 200, 200, 0.30);
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	width: 350px;
	background: #fcfcf7;
	border: 1px solid #CCC;
	margin: 15px auto;
}
.login-c	{
	border: none;
	padding: 10px 0;
	box-shadow: 0 0 20px 10px #CCCCCC inset;
}

.textC	{
	border: 1px solid #d5d5d5;
	background: #FFF;
	border-radius: 3px;
	box-shadow: 1px 1px 2px #EEEEEE inset;
	padding:0 5px 0 10px;
}
.textC-focus	{
	box-shadow: 1px 1px 2px #efe1a4 inset;
	border: 1px solid #eee0a2;
}
.textC-error	{
	box-shadow: 1px 1px 2px #FFD5D5 inset;
/*	border: 1px solid #EF8A8F;*/
	background: #FFD5D5;
}
.textCPos	{
	margin: 18px 25px;
	padding: 0 7px;
}
.remMe	{
	line-height: 13px;
}
.remMe input {
    margin-right: 7px;
	vertical-align: baseline;
}
.textC-c	{
    margin: 10px 20px;
    text-align: center;
}
.textC input[type=text],
.textC input[type=password],
.textC input[type=email]	{
	width: 100%;
	background: transparent;
	font-size: 16px;
}
.btnFancy	{
    background: #E7C433;
    border: 1px solid #dbbc3d;
    border-radius: 2px 2px 2px 2px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    padding: 7px 0;
    width: 100%;

	background-image: linear-gradient(bottom, rgb(219,187,61) 5%, rgb(242,210,68) 53%);
	background-image: -o-linear-gradient(bottom, rgb(219,187,61) 5%, rgb(242,210,68) 53%);
	background-image: -moz-linear-gradient(bottom, rgb(219,187,61) 5%, rgb(242,210,68) 53%);
	background-image: -webkit-linear-gradient(bottom, rgb(219,187,61) 5%, rgb(242,210,68) 53%);
	background-image: -ms-linear-gradient(bottom, rgb(219,187,61) 5%, rgb(242,210,68) 53%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.05, rgb(219,187,61)), color-stop(0.53, rgb(242,210,68)));
}

label.error	{
	margin: -10px 25px 0 25px;
	padding: 5px;
}

.tw_like_button {
	padding: 7px 0;
    width: 100%;
	-webkit-box-shadow: 0 1px 0 #fff;
	box-shadow: 0 1px 0 #fff;
	background-color: #fd9a0f;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fee94f),color-stop(100%,#fd9a0f));
	background-image: -webkit-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	background-image: -ms-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	background-image: -o-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	background-image: linear-gradient(top,#fee94f 0,#fd9a0f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee94f',endColorstr='#fd9a0f',GradientType=0);
	border: 1px solid #fa2;
	font-size: 15px;
	font-weight: bold;
	line-height: 18px;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
	background-repeat: no-repeat;
	cursor: pointer;
	border-radius: 4px;
}

.tw_like_button:hover, .tw_like_button:focus	{
	background-color: #fd9512;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top,#fedc4d 0,#fd9512 100%);
	background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fedc4d),color-stop(100%,#fd9512));
	background-image: -webkit-linear-gradient(top,#fedc4d 0,#fd9512 100%);
	background-image: -ms-linear-gradient(top,#fedc4d 0,#fd9512 100%);
	background-image: -o-linear-gradient(top,#fedc4d 0,#fd9512 100%);
	background-image: linear-gradient(top,#fedc4d 0,#fd9512 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fedc4d',endColorstr='#fd9512',GradientType=0);
	border-color: #ec8b11;
}
/*signup-form*/
.signup-form{
	display:none;
	margin:10px;
}

.signup-form .left{
	float:left;
}

.signup-form  .mr{
	margin-right:20px;
}

.signup-form h4{
	background: #f9f9f9;
	position:relative;
	z-index:1;
	display:inline-block;
	padding-right:10px;
}

.signup-form fieldset{
	border-top:#CCC 1px solid;
	position:relative;
	margin-top:-23px;
	padding-top:23px;
	font-size:14px;
}

.signup-form input[type=text]{
	font-size:14px;
}

.signup-form fieldset dl{
	margin-bottom:20px;
	overflow:hidden;
}

.signup-form .textCPos{
	margin:0;
}

.signup-form  label{
	display:block;
}

.signup-form select{
	padding:5px 10px;
}

.signup-form .small{
	width:185px;
}

.signup-form .large{
	width:390px;
}

.signup-form dd span{
	font-size:12px;
	margin-top:5px;
}

.signup-form dd span.name{
	font-weight:bold;
}

.signup-form .btn-sm{
	width:100px;
	line-height:40px;
	font-size:16px;
	margin:0 auto;
	display:block;
}