/**
 * ==================================
 * Ratchet v1.0.0
 * Licensed under The MIT License
 * http://opensource.org/licenses/MIT
 * ==================================
 */
 
/* Prevents iOS text size adjust after orientation change, without disabling (Thanks to @necolas) */
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
/* Base styles
-------------------------------------------------- */

body {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	font: 14px/1.25 "Helvetica Neue", sans-serif;
	color: #222;
	background-color: #f3f1ee !important;
}
/* Wrapper to be used around all content not in .bar-title and .bar-tab */
.content {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: auto;
	background-color: #f3f1ee !important;
	-webkit-transition-property: top, bottom;
	transition-property: top, bottom;
	-webkit-transition-duration: .2s, .2s;
	transition-duration: .2s, .2s;
	-webkit-transition-timing-function: linear, linear;
	transition-timing-function: linear, linear;
	-webkit-overflow-scrolling: touch;
}
/* Hack to force all relatively and absolutely positioned elements still render while scrolling
   Note: This is a bug for "-webkit-overflow-scrolling: touch" */
.content > * {
	-webkit-transform: translateZ(0px);
	transform: translateZ(0px);
}
/* Push styles (to be used with push.js)
-------------------------------------------------- */
/* Fade animation */
.content.fade {
	left: 0;
	opacity: 0;
	-webkit-transition: opacity .2s ease-in-out;
	transition: opacity .2s ease-in-out;
}
.content.fade.in {
	opacity: 1;
}
/* Slide animation */
.content.slide {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-transition: -webkit-transform .25s ease-in-out;
	transition:         transform .25s ease-in-out;
}
.content.slide.left {
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}
.content.slide.right {
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}