#frm-create-profile .form-fields{
  margin:1px;
  background: #f2f2f2;
  padding:10px;
  padding-bottom:40px;
}
#frm-create-profile .contact-detail-box{
  border: 1px #c2c2c2 solid;
  width:450px;
  background:#f5f5f5;
  padding-bottom:13px;
}
#frm-create-profile .field-box{
  margin-top: 20px;
}
#frm-create-profile .field-label{
  font-weight:bold;
  font-size:13px;
  color:#202020;
}
#frm-create-profile  textarea{
  width:446px;
  font-family: Helvetica, Arial, sans-serif;
  overflow:auto;
  resize: none;
}
.user_create_submit{
  margin-top:1px;
  padding:15px 12px 15px;
  background:#e8e8e8;
  word-spacing:25px;
  margin-left: 41px;
}
.user_create_submit a{
  color:#205b89;
  font-weight:bold;
}
table.dataTable thead th, table.dataTable thead td {
  color: black;
  font-size: 13px;
  font-weight: bold; 
}
.dataTables_wrapper {
  border: 1px solid beige;
  padding: 15px;
  margin-bottom: 15px;
}
.myButton {
	-moz-box-shadow:inset 0px -3px 7px 0px #29bbff;
	-webkit-box-shadow:inset 0px -3px 7px 0px #29bbff;
	box-shadow:inset 0px -3px 7px 0px #29bbff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2dabf9), color-stop(1, #0688fa));
	background:-moz-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-webkit-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-o-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:-ms-linear-gradient(top, #2dabf9 5%, #0688fa 100%);
	background:linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2dabf9', endColorstr='#0688fa',GradientType=0);
	background-color:#2dabf9;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #0b0e07;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	padding:9px 23px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0688fa), color-stop(1, #2dabf9));
	background:-moz-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-webkit-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-o-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:-ms-linear-gradient(top, #0688fa 5%, #2dabf9 100%);
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0688fa', endColorstr='#2dabf9',GradientType=0);
	background-color:#0688fa;
}
.myButton:active {
	position:relative;
	top:1px;
}
.myButton {
  margin-top: 10px;
  margin-bottom: 10px;
}