*
{
	margin: 0;
	padding: 0;
}
HTML, BODY
{
	height: 100%;
}
BODY
{
	background: #FFF;
	color: #393939;
	font-family: Arial;
	font-size: 0px;
	line-height: 0;
}
#page-top-outer
{
	background: url(../images/shared/top_bg.jpg) repeat-x top center;
	border-bottom: 1px solid #7E7E7E;
	height: 92px;
}
#page-top
{
	margin: 0 auto;
	max-width: 1200px;
	min-width: 850px;
	position: relative;
}
#content-outer
{
	background: url(../images/shared/content_repeat.jpg) repeat-x;
}
#content
{
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 18px;
	margin: 0 auto;
	max-width: 1000px;
	min-width: 780px;
	padding: 10px 0px;
}
#content-inner
{
	/*[disabled]color:#333;*/
	/*[disabled]font-family:Arial, Helvetica, sans-serif;*/
	/*[disabled]font-size:12px;*/
	/*[disabled]line-height:18px;*/
	/*[disabled]margin:0 auto 0px;*/
	/*[disabled]padding:25px 0 30px;*/
}
#content-table
{
	font-size: 0px;
	line-height: 0px;
}
#content-table TH.sized
{
	height: 15px;
	width: 15px;
	padding: 0;
	margin: 0;
	font-size: 0px;
	line-height: 0px;
}
#content-table-inner
{
	font-size: 12px;
	line-height: 12px;
	padding: 10px 0 5px;
	margin: 0;
}
#content-table-inner2
{
	font-size: 12px;
	line-height: 12px;
	padding: 10px 0 0px;
	/*[empty]margin-bottom:;*/
	/*[empty]margin-top:;*/
}
#tbl-border-top
{
	background: url(../images/shared/border_bit.jpg) repeat-x top;
	line-height: 0;
	font-size: 0px;
	height: 15px;
}
#tbl-border-bottom
{
	background: url(../images/shared/border_bit.jpg) repeat-x bottom;
	line-height: 0;
	font-size: 0px;
	height: 15px;
}
#tbl-border-left
{
	background: url(../images/shared/border_bit.jpg) repeat-y left;
}
#tbl-border-right
{
	background: url(../images/shared/border_bit.jpg) repeat-y right;
}
#table-content
{
	line-height: 16px;
	margin: 0 10px -10px;
	/*[disabled]min-height:300px;*/
}
.topleft
{
	background: url(../images/shared/corner_top_left.jpg) no-repeat;
	width: 15px;
	height: 15px;
}
.topright
{
	background: url(../images/shared/corner_top_right.jpg) no-repeat;
	width: 15px;
	height: 15px;
}
.bottomleft
{
	background: url(../images/shared/corner_bottom_left.jpg) no-repeat;
	width: 15px;
	height: 15px;
}
.bottomright
{
	background: url(../images/shared/corner_bottom_right.jpg) no-repeat;
	width: 15px;
	height: 15px;
}
#page-heading
{
	margin: 10px 0 15px 25px;
}
H1
{
	color: #4B4B4B;
	font-family: Tahoma;
	font-size: 22px;
	line-height: 30px;
	font-weight: normal;
}
H2
{
	color: #393939;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
	margin-bottom: 10px;
}
H3
{
	color: #92B22C;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	margin-bottom: 10px;
}
#product-table
{
	margin-bottom: 20px;
}
#product-table TD A
{
	color: #393939;
}
#product-table TD A:hover
{
	text-decoration: underline;
}
#product-table TH
{
	height: 40px;
	text-align: left;
}
#product-table .minwidth-1
{
	min-width: 110px;
}
#product-table TD
{
	border: 1px solid #DDDDDD;
	padding: 10px 0 10px 10px;
}
#product-table TR.alternate-row
{
	background: #E2EBF3;
}
TD.options-width
{
	padding: 0 0 0 10px;
	width: 210px;
}
TD.checkbox-width
{
}
.table-header-check
{
	background: url(../images/table/table_header_checkbox.jpg) no-repeat;
	border: none;
	min-width: 29px;
	padding: 0px 0 0 10px;
	width: 29px;
}
.table-header-options
{
	background: url(../images/table/table_header_options.jpg) no-repeat;
	border: none;
	min-width: 221px;
	padding: 0px 0 0;
	width: 221px;
}
.table-header-repeat
{
	background: url(../images/table/table_header_repeat.jpg) repeat-x;
	border: none;
	font-size: 0px;
	line-height: 0;
	padding: 0px 0 0;
}
.table-header-options A, .table-header-repeat A
{
	/*[disabled]background:url(../images/table/table_sort_arrow.gif) no-repeat right;*/
	color: #FFF;
	font-family: Tahoma;
	font-size: 13px;
	font-weight: bold;
	line-height: 14px;
	margin: 0 0 0 10px;
	padding: 0 10px 0 0;
}
.table-header-options A:hover, .table-header-repeat A:hover
{
	color: #6DC7F7;
}
TH.line-left
{
	border-left: 1px solid #373737;
}
#toggle-all
{
	display: block;
	width: 17px;
	height: 17px;
	cursor: pointer;
	background: url(../images/shared/checkbox.gif) 0 -17px;
}
#toggle-all.toggle-checked
{
	display: block;
	width: 17px;
	height: 17px;
	background: url(../images/shared/checkbox.gif) 0 0;
}
/*RELATED ACTIVIES BOX*/
#related-activities
{
	/*[disabled]float:right;*/
	/*[disabled]font-size:0px;*/
	/*[disabled]line-height:0;*/
	/*[disabled]width:271px;*/
}
#related-act-top
{
	/*[disabled]font-size:0px;*/
	/*[disabled]line-height:0;*/
}
#related-act-bottom
{
	/*[disabled]background:url(../images/forms/bg_related_act.gif) no-repeat bottom;*/
	/*[disabled]font-size:0px;*/
	/*[disabled]line-height:0;*/
}
#related-act-inner
{
	/*[disabled]font-size:11px;*/
	/*[disabled]line-height:16px;*/
	/*[disabled]margin:0 auto 0px;*/
	/*[disabled]padding:10px 0 20px;*/
	/*[disabled]width:225px;*/
}
#related-act-inner .left
{
	/*[disabled]float:left;*/
	/*[disabled]width:30px;*/
}
#related-act-inner .right
{
	/*[disabled]float:left;*/
	/*[disabled]width:195px;*/
	/*[disabled]padding:2px 0 0;*/
}
#related-act-inner .right H5
{
	/*[disabled]color:#393939;*/
	/*[disabled]font-size:12px;*/
}
UL.greyarrow
{
	/*[disabled]list-style-type:none;*/
}
UL.greyarrow LI
{
	/*[disabled]background:url(../images/forms/icon_list_arrow.gif) no-repeat 0 5px;*/
	/*[disabled]line-height:18px;*/
	/*[disabled]padding:0 0 0 12px;*/
}
UL.greyarrow LI A
{
	/*[disabled]color:#92B22C;*/
	/*[disabled]font-weight:bold;*/
}
UL.greyarrow LI A:hover
{
	/*[disabled]text-decoration:underline;*/
}
.lines-dotted-short
{
	/*[disabled]background:url(../images/forms/lines_dotted_short.gif) no-repeat 0px 14px;*/
	/*[disabled]font-size:0px;*/
	/*[disabled]height:28px;*/
	/*[disabled]line-height:0;*/
}
/*PAGING ---------------------------------------------------------*/
#paging-table
{
	float: right;
	margin: -16px 4px 0 0;
}
.page-far-left
{
	/*[disabled]background:url(../images/table/paging_far_left.gif) no-repeat;*/
	/*[disabled]display:block;*/
	/*[disabled]float:left;*/
	/*[disabled]height:24px;*/
	/*[disabled]margin:0 4px 0 0;*/
	/*[disabled]width:24px;*/
}
.page-left
{
	/*[disabled]background:url(../images/table/paging_far_left.gif) no-repeat;*/
	/*[disabled]display:block;*/
	/*[disabled]float:left;*/
	/*[disabled]height:24px;*/
	/*[disabled]width:24px;*/
}
.page-far-right
{
	/*[disabled]background:url(../images/table/paging_far_right.gif) no-repeat;*/
	/*[disabled]display:block;*/
	/*[disabled]float:left;*/
	/*[disabled]height:24px;*/
	/*[disabled]margin:0 4px;*/
	/*[disabled]width:24px;*/
}
.page-right
{
	/*[disabled]background:url(../images/table/paging_far_right.gif) no-repeat;*/
	/*[disabled]display:block;*/
	/*[disabled]float:left;*/
	/*[disabled]height:24px;*/
	/*[disabled]width:24px;*/
}
#page-info
{
	float: left;
	line-height: 16px;
	padding: 3px 12px 0;
}
/*ACTIONS BOX -----------------------------------------------*/
#actions-box
{
	float: left;
	margin: 6px;
	position: relative;
	/*+placement:shift 0px 90px;*/
	position: relative;
	left: 0px;
	top: 90px;
}
A.action-slider
{
	background: url(../images/table/dropdown_actions.gif) no-repeat;
	display: block;
	height: 30px;
	width: 110px;
	margin-top: -40px;
}
A.action-slider.activated
{
	background: url(../images/table/dropdown_actions.gif) no-repeat 0 -30px;
	display: block;
	height: 30px;
	width: 110px;
}
#actions-box-slider
{
	background: url(../images/table/actions_slider_bg.gif) no-repeat bottom;
	display: none;
	left: 0;
	padding-bottom: 1px;
	padding-top: 10px;
	position: absolute;
	top: 24px;
	width: 110px;
}
#actions-box-slider-inner
{
	font-size: 0px;
	line-height: 0;
	margin: 0 auto;
	width: 108px;
}
A.action-edit, A.action-delete
{
	color: #272727;
	display: block;
	font-weight: bold;
	height: 20px;
	margin: 0 auto;
	padding: 10px 0 5px 45px;
	width: 63px;
}
A:hover.action-edit
{
	background: #949494 url(../images/table/action_edit.gif) no-repeat 14px 5px;
	color: #FFF;
}
A.action-edit
{
	background: #C7C7C7 url(../images/table/action_edit.gif) no-repeat 14px 5px;
}
A.action-delete
{
	background: #C7C7C7 url(../images/table/action_delete.gif) no-repeat 14px 5px;
}
A:hover.action-delete
{
	background: #949494 url(../images/table/action_delete.gif) no-repeat 14px 5px;
	color: #FFF;
}
/*IE6 only*/
.nav TABLE
{
	border-collapse: collapse;
	font-size: 1em;
	height: 0;
	margin: -1px;
	width: 0;
}
.nav .sub
{
	display: table;
	list-style: none;
/*margin: 0 auto;*/
	padding: 0;
}
.nav .sub_active .current_sub A, .nav .sub_active A:hover
{
	background: transparent;
	color: #FFF;
}
.nav .select :hover .select_sub, .nav .current .show
{
	background: url(../images/shared/nav/back_0.gif);
	display: block;
	left: 0;
	padding: 0;
	position: absolute;
	text-align: left;
	top: 37px;
	width: 750px;
	z-index: 100;
}
.nav .current .show
{
	z-index: 10;
}
.nav .select :hover .sub LI A, .nav .current .show .sub LI A
{
	background: transparent;
	border: 0;
	color: #FFF;
	font-weight: bold;
	font-size: 13px;
	display: block;
	float: left;
	margin: 0;
	padding: 0 10px;
	white-space: nowrap;
}
.nav .current .sub LI.sub_show A
{
	background: url(../images/shared/nav/menus/back_1.gif);
	color: #94B52C;
	cursor: default;
}
.nav .select :hover .sub LI A:hover, .nav .current .sub LI A:hover
{
	background: url(../images/shared/nav/menus/back_1.gif);
	color: #94B52C;
	visibility: visible;
}
/*FOOTER --------------------------------------------------------------*/
#footer
{
	height: 70px;
	margin: 80px auto 0px;
	padding: 0px 0 0;
	text-align: left;
	min-width: 780px;
	max-width: 1000px;
}
#footer-left
{
	color: #818181;
	font-size: 11px;
	line-height: 11px;
	padding: 15px 0 15px 25px;
	margin: 0 20px;
	border-top: 1px solid #DBDBDB;
	border-bottom: 1px solid #DBDBDB;
	background: url(../images/shared/icon_idlogo.jpg) no-repeat 0 12px;
}
#footer-left A
{
	color: #818181;
	text-decoration: none;
}
#footer-left A.selected, #footer-left A:hover
{
	color: #000;
	text-decoration: none;
}
/*GENERAL --------------------------------------------------------*/
TABLE
{
	border-collapse: collapse;
}
.fr
{
	/*[disabled]float:right;*/
}
A
{
	outline: none;
	text-decoration: none;
}
A:hover
{
	/*[empty]margin-bottom:;*/
}
.clear
{
	clear: both;
	font-size: 0px;
	height: 0;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
}
IMG
{
	border: 0;
}
P
{
	margin: 0px;
	padding: 0px;
}
FORM
{
	margin: 0;
	padding: 0;
}
.line
{
	border-top: 1px solid #DCDADA;
	font-size: 0px;
	height: 1px;
	line-height: 0px;
	margin: 20px 0;
	padding: 0;
}
.font11
{
	font-size: 11px;
}
.ui-radio-state-disabled, .ui-radio-state-checked-disabled, .ui-radio-state-disabled-hover, .ui-radio-state-checked-disabled-hover
{
	color: #999;
}
SPAN.ui-checkbox, SPAN.ui-radio
{
	background: url(../images/shared/checkbox.gif) no-repeat 0 -17px;
	display: block;
	float: left;
	height: 17px;
	width: 17px;
}
SPAN.ui-helper-hidden
{
	display: none;
}
LABEL
{
	padding: 2px;
}
SPAN.ui-radio-state-hover, SPAN.ui-checkbox-state-hover
{
	background-position: 0 0px;
}
SPAN.ui-checkbox-state-checked
{
	background-position: 0 0px;
}
SPAN.ui-checkbox-state-checked-hover
{
	background-position: 0 0px;
}
SPAN.ui-radio-state-checked-disabled-hover, SPAN.ui-radio-state-checked-disabled, SPAN.ui-radio-state-checked
{
	background-position: 0 -161px;
}
SPAN.ui-radio-state-checked-hover
{
	background-position: 0 -17px;
}
LABEL
{
	color: #FF0000;
	line-height: 20px;
}
.ui-helper-hidden-accessible
{
	left: -999em;
	position: absolute;
}
