body {
  min-width:958px;
  margin:0;
  color:#808080;
  font:12px/18px Helvetica, Arial, sans-serif;
  background:url(../../../images/moderation/body_bg.gif) repeat-x;
}
img {
  border-style:none;
}
a {
  text-decoration:none;
  color:#1e5886;
}
input, textarea, select {
  font:100% Helvetica, Arial, sans-serif;
  vertical-align:middle;
}
form, fieldset {
  margin:0;
  padding:0;
  border-style:none;
}
.wrapper {
  width:1000px;
  margin:0 auto;
}
.top-header {
  height:95px;
}
.logo {
  background:url("../../../images/moderation/landmark-intranet.jpg") no-repeat;
  width:190px;
  height:56px;
  float:left;
}
.separator {
  float:left;
  background:url("../../../images/moderation/separator.gif") no-repeat;
  width:5px;
  height:45px;
  margin:7px 0px 0px 5px;
}
.pagetitle {
  float:left;
  font-style:italic;
  font-size:23px;
  font-weight:bold;
  padding:20px 10px;
  color:#1e5886;
}
.left-header {
  float:left;
  padding-top:15px;
  padding-left:40px;
}
.right-header {
  float:right;
   padding-top:15px;
}
.logout {
  background:url("../../../images/moderation/logout-manage.gif") no-repeat;
  width:76px;
  height:26px;
  float:left;
}
.logininfo {
  float:left;
  color:#595959;
  font-size:12px;
  padding:5px 10px;
}
.menu {
  margin:-7px 0px 0px 0px;
}
.main{
  margin-top:13px;
}
.main li {
  list-style:none;
  float:left;
  background:url("../../../images/moderation/menu-bg.gif") no-repeat;
  width:132px;
  height:36px;
  color:#ffffff;
  font-size:20px;
  text-align:center;
  padding-top:7px;
  margin-right:2px;
}
.main li.active {
  background:#1e5886;
  -moz-border-radius:3px;
}
.main li a {
  color:#ffffff;
}

.main li.email-queue a {
  color:#1E5886;
}

.main li.email-queue {
  background: none;
  height:24px;
  float:right;
  margin-right:15px;
  margin-top:0px;
  font-size:13px;
  width: auto;
}
.submenu li.createNew {
  /*background:url("../../images/moderation/create-new-btn.gif") no-repeat;*/
  background:url("../../images/post-new-activity-new-button.png") no-repeat;
  height:24px;
  float:right;
  margin-right:5px;
  margin-top:0px;
  /*float:left;
  margin-left:555px*/
}
.createNewMenu {
  display: none;
  color:#FFF;
  position:absolute;
  margin-left:762px;
  margin-top:35px;
  background-color:#205d8e;
  padding:3px 0px;
  font-size: 14px;
  width:230px
} 
.createNewMenu ul, .createNewMenu li {
  list-style:none;
  margin:0px;
  padding:2px 5px;
}

.createNewMenu li:hover {
  background-color:#8c8c8c;
}
.createNewMenu li {
  border-top: 1px #8c8c8c solid;
  margin:0px 3px;
  padding: 5px;
}
.createNewMenu .first {
  border-top: none;
}
.createNewMenu li a {
  color: #FFF;
  font-family:Helvetica, Arial, sans-serif;
  font-weight:500;
  padding-left:10px;
  font-size:15px;
}
.ItemButton {
  cursor:pointer;
  float:left;
  margin-left: 10px;
  margin-top:3px;
  padding: 0px 5px 2px 5px;
  height:25px;
  background:url("../../../images/moderation/btn-bg.gif") repeat-x;
  color: #205185;
  border: 1px #999 solid;
  font-size:11px;
  font-weight:bold;
}

.ItemButtonSave {
  cursor:pointer;
  margin-left: 0px;
  margin-right: 10px;
  margin-top: 3px;
  padding: 0px 5px 2px 5px;
  height: 25px;
  background: url("../../../images/moderation/btn-bg-hover.gif") repeat-x;
  color: #fff;
  border: 1px #000 solid;
  font-size: 12px;
  font-weight: bold;
}


.ItemButtonDraft {
    background: url("../../../images/save_draft.jpg") repeat-x scroll 0 0 transparent;
    border: 1px solid #939393;
    color: #1F5987;
    cursor: pointer;
    display: block;
    float: left;
    font-weight: bold;
    height: 25px;
    margin-right: 10px;
    margin-top: 3px;
    width: 100px;
}

.ItemButton:hover, .ItemButtonHover  {
  background:url("../../../images/moderation/btn-bg-hover.gif") repeat-x;
  color: #fff;
}
.ArrowButton {
  float:left;
  margin-left:14px;
  margin-top:10px;
  padding: 0px;
  height: 15px;
  width: 15px;
  background: url("../../../images/moderation/down-arrow.gif") no-repeat;
  font-size:11px;
  font-weight:bold;
}

.searchArea {
  float:left;
  margin: 5px 0px 0px 12px;
}

.searchArea input{
  border: 1px  #c0c0c0 solid;
  padding: 2px;
  color: #979797;
  width: 250px
}

.mainform input{
  border: 1px  #c0c0c0 solid;
  padding: 2px;
  color: #979797;
  width: 100px
}

.selectBox {
  border: none;
  padding: 2px;
  color: #979797;
}

.submenu li {
  float:left;
  list-style:none;
  background:#356992;
  -moz-border-radius:3px;
  margin:5px 5px;
  text-align:center;
  color:#fff;
  padding:2px 10px;
}
.submenu {
  clear:both;
  margin-top:-20px;
  /*	margin-left:-5px;*/
}
.submenu li {
  float:left;
  list-style:none;
  background:#356992;
  -moz-border-radius:3px;
  margin:2px 5px;
  text-align:center;
  color:#fff;
  padding:4px 10px;
}
.submenu li.active {
  color:#1e5886;
  background:#fff;
  -moz-border-radius:3px;
}
.submenu li.active a {
  color:#1e5886;
  outline:none;
}
.submenu li a {
  color:#fff;
}
.content {
  clear:left;
  padding: 0px 0px 10px 40px;
}
.top-heading {
  clear:left;
  padding:10px 0px;
  /*	width:790px;*/
}
h1 {
  /*color:#1e5886;*/
  color:#000000;
  font-size:24px;
  margin:15px 0px;
  float:left;
}
.highest {
  float:right;
}
.highest ul {
  margin:0px;
  padding:0px;
}
.highest li {
  list-style:none;
  color:#1e5886;
  font-size:13px;
  padding-left:20px;
  margin-bottom:5px;
}
.offender {
  background:url("../../../images/moderation/offender-icon.gif") no-repeat 0px -1px;
}
.reporter {
  background:url("../../../images/moderation/reporter-icon.gif") no-repeat 0px -1px;
}

.main-table {
  clear:left;
  text-align:left;
  padding:5px 0px;
  width:953px;
  /*margin-bottom: 50px;*/
}
.main-table a{
  text-decoration: underline;
}
.main-table th {
  color:#515050;
  font-size:12px;
  background:#e1e1e1;
  padding:5px 10px;
  font-weight:normal;
  text-align:left;
}
.main-table td {
  padding:8px 10px;
}
.main-table th.odd {
  background:#f6f6f6;
}
.main-table th.even {
  background:#ffffff;
}
.main-table td.odd {
  background:#f6f6f6;
}
.main-table td.even {
  background:#ffffff;
}
.main-table th.odd_review {
  background:#edf2f6;
}
.main-table th.even_review {
  background:#f3f8fc;
}

.restore {
  background:url("../../../images/moderation/restore.gif") no-repeat 0px 0px;
  padding-left:18px;
  margin-right:10px;
}
.remove {
  background:url("../../../images/moderation/remove.gif") no-repeat 0px 0px;
  padding-left:18px;
}
.alternate td {
  background:#f0f0f0;
}
.main-table li {
  float:left;
  list-style:none;
}
.calendar {
  float:right;
}
.calendar strong {
  float:left;
  padding-right:5px;
}
.calendar form {
  float:left;
}
.calendar input {
  border:1px solid #aaa;
  background:url("../../../images/moderation/calendar.gif") no-repeat 111px 1px;
  padding:2px 0px;
}
.calendar label {
  padding-left:10px;
}
h1 span {
  font-weight:normal;
}
.moderate-section {
  background:#f2f2f2;
  clear:left;
  padding:10px 0px;
}
h3 {
  color:#454545;
  font-size:18px;
  margin:15px 20px;
  border-bottom:1px solid #9a9a9a;
  padding-bottom:10px;
}
.moderate-section table {
  margin:5px 20px;
  font-size:18px;
  color:#474747;
  padding-left:15px;
  padding-bottom:30px;
}
.moderate-section table td {
  padding:5px 30px 5px 0px;
}
.moderate-section table strong {
  font-size:14px;
}
.moderate-section table h3 {
  margin:0px;
  padding-bottom:5px;
  border-bottom:none;
  margin:10px 0px;
}
.contact-vcard {
  float:left;
  width:360px;
  font-size:12px;
  color:#474747;
  margin-right:60px;
}
.inside {
  background:#fff;
  border:1px solid #d9d9d9;
  float:left;
  width:360px;
}
.contact-vcard-img {
  float:left;
  padding:10px 10px 10px 10px;
  border:1px solid #606060;
  margin:10px;
}
.contact-vcard-details {
  float:left;
  padding:10px 0px;
  width:220px;
}
.contact-vcard-attr {
  float:left;
  width:60px;
  color:#474747;
}
.contact-vcard-name {
  color:#1e5886;
  font-size:16px;
  font-weight:bold;
}
.contact-vcard-desg {
  padding-bottom:5px;
}
.comment {
  background:#fff;
  border:1px solid #d9d9d9;
  padding:10px 10px 30px 10px;
  color:#5e5e5e;
  font-size:12px;
  width:760px;
}
.action {
  background:#dbdbdb;
  float:right;
  padding:10px 30px 10px 0px;
  width:970px;
}
.action img {
  float:right;
  margin:0px 5px;
}
.download {
  position:absolute;
  right:245px;
  top:325px;
}
.hovercomment {
  position:absolute;
  padding:10px;
  background:#fff8b9;
  border:1px solid #d9d18c;
  text-align:left;
  width:270px;
  margin-left:-275px;
  margin-top:-32px;
  display:none;
}
.hovercomment h4 {
  color:#353535;
  font-size:14px;
  margin:5px 0px 0px;
}
.hovercomment p {
  padding:0px 0px 5px 0px;
  margin:0px;
}
.hovercomment span {
  color:#d9d18c;
  float:right;
  margin-right:-19px;
}
.showcomment {
  background:url("../../../images/moderation/comment-sprites.gif") no-repeat 0px 0px;
  width:18px;
  height:20px;
  display:block;
}
.restore a {
  text-decoration:none;
}
.remove a {
  text-decoration:none;
}
ul.pagination {
  float:right;
  margin:3px
}
.pagination li {
  background:#e0edf7;
  margin:0px 2px;
  color:#0e4d62;
  font-size:11px;
  padding:2px 7px;
  border:1px solid #cee1e8;
}
.pagination li a {
  color:#0e4d62;
  font-size:11px;
  font-weight:bold;
  text-decoration:none;
}
.pagination li.active {
  background:#afced7;
  font-weight:bold;
  border:1px solid #c8d7dd;
}
.form {
  background: #f0efef;
  padding: 10px;
  width: 790px
}
.form label {
  color: #616161;
}
.form .chk-group {
  background: #f9f9f9;
  margin-top:5px;
  padding: 10px;
}
.advanced-search .checkboxes {
  margin:6px;
  display:block;
}
.advanced-search .open-options .checkboxes {
  display:block;
}
.advanced-search .checkboxes .columns {
  height:1%;
  overflow:hidden;
  padding:4px 10px 0;
}
.advanced-search .checkboxes .holder1 {
  float:left;
  width:366px;
}
.advanced-search .checkboxes .holder2 {
  float:left;
  width:240px;
  padding:0 0 0 12px;
  margin:0 -22px 0 0;
}
.advanced-search .checkboxes h3 {
  font-size:11px;
  color:#686060;
  margin:0 0 6px 2px;
  border:none;
}
.advanced-search .checkboxes h3 a {
  text-decoration:underline;
  color:#276292;
  font-size:10px;
  font-weight:bold;
}
.advanced-search .checkboxes h3 a:hover {
  text-decoration:underline;
}
.advanced-search .checkboxes .holder1 .column {
  float:left;
  width:122px;
}
.advanced-search .checkboxes .holder2 .column {
  float:left;
  width:115px;
}
.advanced-search .checkboxes .row {
  height:1%;
  overflow:hidden;
  padding-bottom:2px;
}
.advanced-search .checkboxes .row input {
  float:left;
  width:15px;
  height:15px;
  margin:0;
  padding:0;
}
.advanced-search .checkboxes .row label {
  float:left;
  color:#5b5b5b;
  font-size:11px;
  padding:1px 0 0 5px;
}

.button-holder {
  background:#c8c8c8;
  padding: 10px;
  width: 803px;
  margin-bottom:20px;
  overflow:auto;
  height:100%;
}

.clear {
  clear:both;
}

.submit-button a {
  color:#1f5987;
  font-size:15px;
  text-decoration: underline;
}
.submit-button .preview {
  background:url(../../images/ico-56.jpg) no-repeat left;
  padding-left: 20px;
  margin-right:20px;
}

.events-content {
  width:750px;
}

.form-title {
  font-size:12px;
  font-weight:bold;
  margin: 16px 6px 0px 6px;
  color:#616161;
  text-transform: uppercase;
}

.form-text {
  font-size:16px;
  margin: 6px;
  border: 1px solid #c0c0c0;
  padding: 6px;
  width: 760px;
}

.form-area {
  margin:3px 6px 0px 6px;
}

.email-holder{
  background-color:#f9f9f9;
  overflow: auto;
  margin-top:5px;
  border: 1px #dddcdc solid;
}

.email-area-c {
  background-color:#f9f9f9;
  padding:10px;
  margin:3px 0px 15px 6px;
  /*min-height: 150px;*/
  overflow:auto;
  height:100%;
  border-bottom: 1px #cccccc solid;
  width:96%;
}

.email-area-g {
  background-color:#f9f9f9;
  float: left;
  width: 375px;
  padding:10px;
  margin:3px 0px 15px 0px;
  border-left: 1px #cccccc solid;
  min-height: 130px;
}

.email-area-t {
  background-color:#f9f9f9;
  width: 275px;
  padding:10px;
  float: left;
  margin:3px 0px 15px 0px;
  border-left: 1px #f0efef solid;
  min-height: 130px;
}
.email-area-g .grade{
  width: 80px;
}


.concept, .grade{
  float: left;
  width: 150px;
  margin: 2px 0px 1px 0px;
}

.location{
  float: left;
  width: 132px;
  margin: 2px 0px 1px 0px;
}

.email-title {
  margin-bottom:5px;
}

.email-title span  {
  color: #205a89;
  font-size: 11px;
}

.email-title a  {
  color: #205a89;
  text-decoration: underline;
}

.pButton {
  margin:3p
    x 3px 0px 3px;
}
.form-text-dropdown{
  font-size:14px;
  border: 1px solid #c0c0c0;
  padding: 3px;
  color:#616161;
  background: #ffffff;
}

.form-title-note {
  clear:left;
  font-size:12px;
  font-weight:normal;
  margin: 6px;
}

.counter {
  float:right;
  margin-top:16px;
  margin-right:10px;
  text-align:right;
}

#charsLeft, #charsLeft2, #charsLeft3 {
  font-weight: bold;
}

.event-details {
  background:#F0EFEF;
  margin-top:1px;
  padding:10px;
}
.event-date {
  padding:10px;
  margin-top:10px;
  width:500px;
}

.normal-text {
  font-weight:normal;
}

.red-text {
  color: #ff0000;
}

#txt_date,.date_field {
  background:#ffffff url(../../../images/moderation/ico-65.jpg) no-repeat 99%;
  padding: 4px;
  color:#616161;
}
#txt_time,.time_field {
  width:100px;
  padding: 4px;
  color:#616161;
  background: #ffffff url(../../../images/bullet9.jpg) no-repeat 92%;;
}
.error-msg {
  color:#ff0000;
  margin-top:40px;
  margin-bottom:10px;
  font-style: italic;
  font-weight:normal;
}
.msg-ok {
  font-size:12px;
  font-weight:bold;
  color:#398608;
  margin-bottom: 10px;
  background:#f5ffef url(../../images/ico-57.jpg) no-repeat 2% 50%;
  padding:10px 0 10px 40px;
  border: 1px #72d434 solid;
  margin-top:32px;
  /*	width:773px;*/
  width:96%;
}
.msg-error {
  font-size:12px;
  font-weight:bold;
  color:#a51313;
  margin-bottom: 10px;
  background:#faecec url(../../images/ico-58.jpg) no-repeat 2% 50%;
  padding:10px 0 10px 40px;
  border: 1px #d43434 solid;
  margin-top:32px;
  width:96%;
}
.msg-del {
  font-size:12px;
  font-weight:bold;
  color:#d19f00;
  margin-bottom: 10px;
  background:#fdf1cb url(../../images/ico-59.gif) no-repeat 2% 50%;
  padding:10px 0 10px 40px;
  border: 1px #ffd44c solid;
  margin-top:32px;
  width:96%;
}
/* Sercan starts here */

#admin-menu {
  width: 100%;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  text-align:right;
  margin-bottom:30px;
  margin-right:10px;
}
#admin-menu-bar {
  top:0;
  background: #114c74;
  margin:0 auto;
  padding:5px;
  width: 99%;
}
#admin-menu-bar a {
  color:#fff;
  text-decoration: none;
  font-weight: bold;
  padding-right:12px;
}
.toogle-admin-menu {
  background: url(../../images/ico-52.jpg) right center no-repeat;
}
.admin-link-hide {
  background: url(../../images/ico-53.jpg) right center no-repeat;
}
#admin-nav {
  margin:2px 0px;
  position: absolute;
  text-align:left;
  width:200px;
  margin:0 auto;
  display:none;
  margin-left:580px;
  *margin-left:-160px;
  z-index: 999999;
}
.administration {
  width:800px;
  margin:0 auto;
}
#admin-nav li {
  list-style: none;
  padding:10px;
  background: #787878;
  border-bottom: 1px #ffffff solid;
  margin: 0px;
}
#admin-nav li a {
  color:#fff;
  text-decoration: none;
  background: url(../../images/ico-51.jpg) right top no-repeat;
  padding-right:15px;
}
.images_upload{
  margin:6px;
}

.pop-win-header {
  background:none repeat scroll 0 0 #296495;
  color:#FFFFFF;
  font-family:Helvetica, Arial, sans-serif;
  font-weight:bold;
  margin-left:-40px;
  margin-right:-20px;
  padding:7px;
}
.pop-win-close {
  float:right;
}
.nicEdit-main{
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  padding:6px;
}

.red{
  background-color: #bb1717;
  color: #ffffff;
  border-radius: 54px 54px 54px 54px;
  color: #FFFFFF;
  padding: 4px 15px;
  text-transform: uppercase;
}
.orange{
  background-color: #ff7800;
  color: #ffffff;
  border-radius: 54px 54px 54px 54px;
  color: #FFFFFF;
  padding: 4px 15px;
  text-transform: uppercase;
}
.green{
  background-color: #2fbb17;
  color: #ffffff;
  border-radius: 54px 54px 54px 54px;
  color: #FFFFFF;
  padding: 4px 15px;
  text-transform: uppercase;
}
#faq-email img{
  vertical-align: top;
}
#faq-queue-detail{
  position: absolute;
  background: #fffdd7;
  border: 1px #404040 solid;
  margin-left: -236px;
  margin-top:-23px;
  width: 248px;
  padding: 5px 10px;
  display: none;
  text-align: left;
}
#faq-queue-detail p{
  margin:0px 0px 5px 0px;
}
#arrow{
  position: absolute;
  margin-left: -9px;
  margin-top: 0px;
  z-index: 900;
  display: none;
}

.custom-form-element{
  padding-top:2px;
}

#create_content{
  border-left:1px #dfdfdf solid;
  border-top:1px #dfdfdf solid;
  border-right:2px #eaeaea solid;
  padding-left:15px;
  padding-right:15px;
  padding-bottom:25px;
}
.content-type{
  margin-top:0px;
  padding-top:0px;
  color:#000000;
  font-size:18px;
  padding-left:5px;
}
#content-type-selection {
  padding:0px;
  margin-top:-10px;
}
#content-type-selection li{
  float:none;
  margin-bottom:5px;
}
#content-type-selection li label{
  vertical-align: -3px;
  font-size:14px;
  color:#414141;
}
#content-type-selector{
  border-bottom:1px #cccccc solid;
  width:700px;
  margin-bottom: 20px;
  padding-bottom: 15px;
}
#selected-content-type{
  color:#000000;
  font-size:20px;
  font-weight:bold;
  margin:0px 5px;
}
#title-box .counter span{
  color: #747474;
}
#title-box .counter{
  color: #9a9999;
}

.txt_body_holder{
  margin-left:6px;
}
.txt_body_holder textarea{
  padding:6px;
  font-size: 16px;
}
#txt_body{
  width:772px;
}

.post_status{
  text-align: center;
  color:#ffffff;
  font-weight:bold;
  padding:2px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.published{
  background: #668000;
  width:50px;
}
.review{
  background: #e00019;
  width:100px;
}
.rejected{
  background: #a4a4a4;
  width:80px;
}
.draft{
  background: #edc613;
  width:60px;
}
.review-count{
  background: #D60C0C;
  color: #FFFFFF;
  font-weight: bold;
  margin-left: 2px;
  padding: 1px 3px;
}
#help-text{
  background: none repeat scroll 0 0 #F9F9F9;
  border: 1px solid #EFEFEF;
  font-size: 15px;
  line-height: 22px;
  margin-left: 733px;
  margin-top: 38px;
  padding: 0 14px;
  position: absolute;
  width: 195px;
  display:none;
}  

#help-text p{
  margin:3px 0px 5px;
}
#help-text .hide_this{
  margin:15px 0px 8px;
}
#help-text .hide_this a{
  text-decoration: underline;
  color:#646464;
}
#news-ablum-created-status{
  background:url("../../images/done.png") no-repeat scroll 3px 5px #F2FBB9;
  padding: 2px 3px 2px 18px;
  margin-top: 10px;
  margin-right:15px;
  font-size: 10px;
  color: rgb(96, 133, 7);
  width:195px;
  display: none;
}
/** Added to hide the extra element of global footer **/
.d-n { display: none; }
#footer { color: #999999; font-size: 12px; margin: 10px auto 5px; text-align: center; }