#fileQueue {
	width: 380px;
	height: 49px;
	overflow: auto;
	border: 1px solid #c0c0c0;
	margin: 6px 10px 0px 6px;
	float:left;
	overflow:hidden;
	background:#FFF
}

.cUploadButton {
	margin-top: 6px;
}

.cUpload a {
	color: #333;
	text-decoration:none;
	display: block;
	margin-top:5px
}


.uploadifyQueueItem {
	font: 11px Verdana, Geneva, sans-serif;
	border: 1px solid #E5E5E5;
	background-color: #F5F5F5;
	margin: 5px;
	padding: 5px;
	width: 355px;
}
.uploadifyError {
	border: 2px solid #FBCBBC !important;
	background-color: #FDE5DD !important;
}
.uploadifyQueueItem .cancel {
	float: right;
}
.uploadifyProgress {
	background-color: #FFFFFF;
	border-top: 1px solid #808080;
	border-left: 1px solid #808080;
	border-right: 1px solid #C5C5C5;
	border-bottom: 1px solid #C5C5C5;
	margin-top: 10px;
	width: 100%;
}
.uploadifyProgressBar {
	background-color: #0099FF;
	width: 1px;
	height: 3px;
}