/* Style Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
body {
	line-height: 1;
	color: black;
	background: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	background:#ffffff;
}
ol, ul {
	list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: center;
	font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}

/* Generic Classes */
.float-right{
	float:right;
}
.float-left{
	float:left;
}
.align-left{
	text-align:left;
}

/* Main Css */
 
#wrapper{
	margin:0 auto;
	width:1024px;
	text-align:left;

}
#header{
	padding-top:20px;
	margin:0 10px 0 8px;
	height:80px;
	border-bottom: 1px #f0efef solid;
}
.logo-text {
  border-left:1px solid;
  height:45px;
  margin-left:285px;
  margin-top:-63px;
  padding-top:20px;
  padding-left:5px;
  position:absolute;
  color:#1e5886;
  font-size:24px;
  font-weight: bold;
  font-style:italic;
}

#contents{
  padding:20px;
  margin-bottom:100px;
}
#contents h1{
  color:#1e5886;
  font-size:25px;
  font-weight:bold;
}
.label{
  margin-top:20px;
  color:#616161;
  font-size:14px;
  margin-bottom:5px;
}
#contents select{
  padding:5px 3px 5px 0px;
}
.form-set{
  margin-bottom:15px;
}
.chk-group{
  background:#f9f9f9;
  height:1%;
  overflow:hidden;
  width:640px;
}
.advanced-search .search-options{
  background: url(../images/bullet4.gif) no-repeat 13px 12px;
  float:left;
  padding:8px 10px 9px 29px;
  font-size:11px;
  color:#276292;
  text-decoration:none;
}
.advanced-search .search-options:hover{
  text-decoration:underline;
}
.advanced-search .search-w{
  float:right;
  width:515px;
  height:31px;
  background: url(../images/bg-advanced-search.gif) no-repeat;
}
 
.advanced-search .open-options .search-w{
  height:32px;
}
.advanced-search .search-w .text{
  float:left;
  width:427px;
  margin:9px 0 0 13px;
  background:none;
  font:italic 11px/14px Arial, Helvetica, sans-serif;
  color:#b9b9b9;
  border:0;
  padding:0;
}
.market-page .advanced-search .search-w .text{
  width:515px;
}
.advanced-search .search-w .btn-search{
  float:right;
  margin:3px 5px 0 0;
}
.advanced-search .checkboxes{
  margin:6px;
  display:block;
}
.advanced-search .open-options .checkboxes{
  display:block;
}
.advanced-search .checkboxes .columns{
  height:1%;
  overflow:hidden;
  padding:4px 10px 0;
}
.advanced-search .checkboxes .holder1{
  float:left;
  width:366px;
}
.advanced-search .checkboxes .holder2{
  float:left;
  width:240px;
  padding:0 0 0 12px;
  margin:0 -22px 0 0;
  border-left:1px #f0efef solid;
}
.advanced-search .checkboxes h3{
  font-size:11px;
  color:#090909;
  margin:0 0 6px 2px;
}
.advanced-search .checkboxes h3 a{
  text-decoration:none;
  color:#276292;
  font-size:10px;
  font-weight:bold;
}
.advanced-search .checkboxes h3 a:hover{
  text-decoration:underline;
}
.advanced-search .checkboxes .holder1 .column{
  float:left;
  width:122px;
}
.advanced-search .checkboxes .holder2 .column{
  float:left;
  width:115px;
}
.advanced-search .checkboxes .row{
  height:1%;
  overflow:hidden;
  padding-bottom:2px;
}
.advanced-search .checkboxes .row input{
  float:left;
  width:15px;
  height:15px;
  margin:0;
  padding:0;
}
.advanced-search .checkboxes .row label{
  float:left;
  color:#5b5b5b;
  font-size:11px;
  padding:1px 0 0 5px;
}
.submit-button{
  margin-top:1px;
  border-top:5px #ffffff solid;
  padding:8px 25px 8px;
  background:#c8c8c8;
  word-spacing:25px;
  text-align:right;
  width:590px;
}
.info{
  font-style:italic;
  color:#858484;
  margin-top:15px;
  padding:10px 0 10px 5px;
  background:#f9f9f9;
  width: 640px;
  margin-bottom:5px;
}
.welcome-info{
  color:#323232;
  margin-top:15px;
  font-size: 15px;
}
.welcome-info span{
  font-size:20px;
}
.welcome-img{
  vertical-align: middle;
  margin-left:5px;
}
.error-msg{
  color:#ff0000;
  font-style:italic;
  margin-left:15px;
}

.msg-ok{
  font-size:12px;
  font-weight:bold;
  color:#398608;
  margin-bottom: 10px;
  background:#f5ffef url(../../images/ico-57.jpg) no-repeat 2% 50% ;

  padding:10px 0 10px 35px;
  border: 1px #72d434 solid;
}
.msg-error{
  font-size:12px;
  font-weight:bold;
  color:#a51313;
  margin-bottom: 10px;
  background:#faecec url(../../images/ico-58.jpg) no-repeat 2% 50% ;

  padding:10px 0 10px 35px;
  border: 1px #d43434 solid;
}
