body{
  min-width:958px;
  margin:0;
  color:#808080;
  font:12px/18px Arial, Helvetica, sans-serif;
  background:url(../../../images/moderation/body_bg.gif) repeat-x;
}
img{border-style:none;}
a{
  text-decoration:none;
  color:#1e5886;
}
input,
textarea,
select{
  font:100% Arial, Verdana, sans-serif;
  vertical-align:middle;
}
form,
fieldset{
  margin:0;
  padding:0;
  border-style:none;
}

.wrapper{width:1000px; margin:0 auto;}
.top-header{height:95px;}
.logo{background:url("../../../images/moderation/landmark-intranet.jpg") no-repeat; width:190px; height:56px; float:left;}
.separator{float:left; background:url("../../../images/moderation/separator.gif") no-repeat; width:5px; height:45px; margin:7px 0px 0px 5px; }
.pagetitle{float:left;font-style:italic; font-size:23px; font-weight:bold; padding:20px 10px; color:#1e5886;}
.left-header{float:left; padding-top:15px;padding-left: 40px;}
.right-header{float:right;}
.logout{background:url("../../../images/moderation/logout-manage.gif") no-repeat scroll 0 0 transparent; width:76px; height:26px; float:left;}
.logininfo{
  color: #595959;
  float: left;
  font-size: 12px;
  padding: 5px 10px;
}
.menu{margin:-7px 0px 0px 45px;}
.menu {
  margin:-7px 0px 0px 0px;
}
.main{
  margin-top:13px;
}
.main li {
  list-style:none;
  float:left;
  background:url("../../../images/moderation/menu-bg.gif") no-repeat;
  width:132px;
  height:36px;
  color:#ffffff;
  font-size:20px;
  text-align:center;
  padding-top:7px;
  margin-right:2px;
}
.main li.active {
  background:#1e5886;
  -moz-border-radius:3px;
}
.main li a {
  color:#ffffff;
}
.submenu{
    clear:left; 
/*    margin-left:-30px;*/
 }
.submenu li{
  border-radius: 3px 3px 3px 3px;
 -moz-border-radius: 3px 3px 3px 3px;
  background: none repeat scroll 0 0 #356992;
  color: #FFFFFF;
  float: left;
  list-style: none outside none;
  margin: 5px;
  padding: 2px 10px;
  text-align: center;
}

.submenu li.active{color:#1e5886; background:#fff; -moz-border-radius:3px; }
.submenu li.active a{color:#1e5886;}
.submenu li a{color:#fff;}
.content {
    clear: left;
    padding: 0 0 10px 40px;
}
.top-heading{clear:left; padding:10px 0px;}
h1{color:#1e5886; font-size:24px; margin:15px 5px; float:left;}
.highest{float:right;}
.highest ul{margin:0px; padding:0px;}
.highest li{list-style:none;color:#1e5886; font-size:13px; padding-left:20px; margin-bottom:5px;}
.offender{background:url("../../../images/moderation/offender-icon.gif") no-repeat 0px -1px; }
.reporter{background:url("../../../images/moderation/reporter-icon.gif") no-repeat 0px -1px; }
.main-table{clear:left;text-align:left; padding:10px 0px;}
.main-table th{color:#515050; font-size:14px; background:#e1e1e1; padding:5px 10px;}
.main-table td{padding:8px 10px;}
.restore{background:url("../../../images/moderation/restore.gif") no-repeat 0px 0px; padding-left:18px; margin-right:10px; }
.remove{background:url("../../../images/moderation/remove.gif") no-repeat 0px 0px;  padding-left:18px;}
.alternate td{background:#f0f0f0;}
.main-table li{float:left; list-style:none;}
.calendar{float:right;}
.calendar strong{float:left; padding-right:5px;}
.calendar form{float:left;}
.calendar input{border:1px solid #aaa;background:url("../../../images/moderation/calendar.gif") no-repeat 111px 1px; padding:2px 0px;}
.calendar label{padding-left:10px;}
h1 span{font-weight:normal;}
.moderate-section{background:#f2f2f2;clear:left; padding:10px 0px;}
h3{color:#454545; font-size:18px; margin:15px 20px;border-bottom:1px solid #9a9a9a; padding-bottom:10px;}
.moderate-section table{margin:5px 20px; font-size:18px;color:#474747; padding-left:15px; padding-bottom:30px;}
.moderate-section table td{padding:5px 30px 5px 0px;vertical-align:top;}
.moderate-section table strong{font-size:14px;}
.moderate-section table h3{margin:0px;padding-bottom:5px;border-bottom:none; margin:10px 0px;}

.contact-vcard{float:left;  width:360px; font-size:12px; color:#474747; margin-right:60px;}
.inside{background:#fff;border:1px solid #d9d9d9; float:left;width:360px;}
.contact-vcard-img{float:left;padding:10px 10px 10px 10px;border:1px solid #606060;margin:10px;}
.contact-vcard-details{float:left; padding:10px 0px; width:220px;}
.contact-vcard-attr{float:left; width:60px; color:#474747;}
.contact-vcard-name{color:#1e5886; font-size:16px; font-weight:bold;}
.contact-vcard-desg{padding-bottom:5px;}
.comment{background:#fff;border:1px solid #d9d9d9; padding:10px 10px 30px 10px;color:#5e5e5e; font-size:12px; width:760px;}
.action{background:#dbdbdb;float:right; padding:10px 30px 10px 0px; width:970px;}
.action img{float:right; margin:0px 5px;}
.download{position:absolute; right:245px; top:325px;}
.hovercomment{position:absolute; padding:10px;background:#fff8b9; border:1px solid #d9d18c; text-align:left; width:270px; margin-left:-275px;margin-top:-32px; display:none;}
.hovercomment h4{color:#353535; font-size:14px; margin:5px 0px 0px;}
.hovercomment p{padding:0px 0px 5px 0px;margin:0px;}
.hovercomment span{color:#d9d18c; float:right; margin-right:-19px;}
.showcomment{background:url("../../../images/moderation/comment-sprites.gif") no-repeat 0px 0px; width:18px; height:20px;display:block;}

.main-table a{text-decoration:underline;}
.restore a{text-decoration:none;}
.remove a{text-decoration:none;}
ul.pagination{float:right;}
.pagination li{background:#ecf7fa; margin:0px 2px;color:#0e4d62; font-size:11px; padding:4px 7px; border:1px solid #cee1e8;}
.pagination li a{color:#0e4d62; font-size:11px; text-decoration:none;}
.pagination li.active{background:#d8e5e9;border:1px solid #c8d7dd;}


.form{
  background: #f0efef;
  padding: 10px;
}
.form label{
  color: #616161;
}
.form label{
  color: #616161;
}
.form .chk-group{
  background: #f9f9f9;
  margin-top:5px;
  padding: 10px;
}
.advanced-search .checkboxes{
  margin:6px;
  
  display:block;
}
.advanced-search .open-options .checkboxes{
  display:block;
}
.advanced-search .checkboxes .columns{
  height:1%;
  overflow:hidden;
  padding:4px 10px 0;
}
.advanced-search .checkboxes .holder1{
  float:left;
  width:366px;
}
.advanced-search .checkboxes .holder2{
  float:left;
  width:240px;
  padding:0 0 0 12px;
  margin:0 -22px 0 0;
}
.advanced-search .checkboxes h3{
  font-size:11px;
  color:#686060;
  margin:0 0 6px 2px;
  border:none;
}
.advanced-search .checkboxes h3 a{
  text-decoration:underline;
  color:#276292;
  font-size:10px;
  font-weight:bold;
}
.advanced-search .checkboxes h3 a:hover{
  text-decoration:underline;
}
.advanced-search .checkboxes .holder1 .column{
  float:left;
  width:122px;
}
.advanced-search .checkboxes .holder2 .column{
  float:left;
  width:115px;
}
.advanced-search .checkboxes .row{
  height:1%;
  overflow:hidden;
  padding-bottom:2px;
}
.advanced-search .checkboxes .row input{
  float:left;
  width:15px;
  height:15px;
  margin:0;
  padding:0;
}
.advanced-search .checkboxes .row label{
  float:left;
  color:#5b5b5b;
  font-size:11px;
  padding:1px 0 0 5px;
}
.submit-button{
  background:#c8c8c8;
  padding: 10px;
}
.submit-button a{
  color:#1f5987;
  font-size:15px;
  text-decoration: underline;
}
.submit-button .preview{
  background:url(../../images/ico-56.jpg) no-repeat left;
  padding-left: 20px;
  margin-right:20px;
}
.button-holder{
  margin-top:-3px;

}
.events-content{width:750px;}
#txt_title{width:720px; height:27px;font-size:18px;}
.event-details{background:#F0EFEF; margin-top:1px;padding:10px;}
.event-date{background: #f9f9f9; padding:10px;margin-top:10px;width:500px;}
#txt_date{background:url(../../../images/moderation/ico-65.jpg) no-repeat 95%;}
#txt_time{width:65px;}
.error-msg{
  color:#ff0000;
  font-style:italic;
  margin-left:15px;
}

.msg-ok{
  font-size:12px;
  font-weight:bold;
  color:#398608;
  margin-bottom: 10px;
  background:#f5ffef url(../../../images/ico-57.jpg) no-repeat 2% 50% ;
  padding:10px 0 10px 35px;
  border: 1px #72d434 solid;
}
.msg-error{
  font-size:12px;
  font-weight:bold;
  color:#a51313;
  margin-bottom: 10px;
  background:#faecec url(../../../images/ico-58.jpg) no-repeat 2% 50% ;
  padding:10px 0 10px 35px;
  border: 1px #d43434 solid;
}
.post_status{
  text-align: center;
  color:#ffffff;
  font-weight:bold;
  padding:3px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.published{
  background: #668000;
  width:50px;
}

.disabled{
  background: #a4a4a4;
  width:60px;
}
.nicEdit-main  {
    background-color: #FFFFFF;
    color: #000000;
}
.button-holder  {
  background: none repeat scroll 0 0 #C8C8C8;
  height: 100%;
  margin-bottom: 20px;
  overflow: auto;
  padding: 10px;
}
.ItemButtonSave {
    background: url("../../../images/moderation/btn-bg-hover.gif") repeat-x scroll 0 0 transparent;
    border: 1px solid #000000;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    height: 25px;
    margin-left: 0;
    margin-right: 10px;
    margin-top: 3px;
    padding: 0 5px 2px;
}
#txt_date, .date_field {
    background: url("../../../images/moderation/ico-65.jpg") no-repeat scroll 99% 50% #FFFFFF;
    color: #616161;
    padding: 4px;
}
/** Added to hide the extra element of global footer **/
.d-n { display: none; }
#footer { color: #999999; font-size: 12px; margin: 10px auto 5px; text-align: center; }